# Instructions

1. Imports - contains all the imports needed
2. Functions - contains reusable functions for generating random data
3. UserIDs - contains common, global UserIDs we MUST share, or when our join queries may not result in anything
4. Generate Values() - generate for the `VALUES(<values>)` part for

   `INSERT INTO <TABLENAME> VALUES(<values>)`

5. Generate INSERT statements

# 1. Imports

In [ ]:
from random import randint, choice, sample
from datetime import datetime, timedelta
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
import math
import time
import random

!pip install names
import names

!pip install Faker
from faker import Faker

Requirement already satisfied: names in /usr/local/lib/python3.7/dist-packages (0.3.0)
Requirement already satisfied: Faker in /usr/local/lib/python3.7/dist-packages (7.0.1)
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.7/dist-packages (from Faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

# 2. **See this First:** Functions

## Generate Random Names

In [ ]:
def generate_random_name():
  mf = 'male' if random.randint(0,1) == 0 else 'female'
  return names.get_full_name(gender=mf)

#debug
for i in range(0, 10):
  print(generate_random_name())

Russ Jones
Thelma Lawrence
Judith Melancon
Vincent Whittaker
John Munger
Bernice Burlison
Jerry Hevner
Chloe Brand
Christine Ruzich
Christine Maldonado

## Generate Random Company Names

In [ ]:
url = 'https://raw.githubusercontent.com/ah-zhan/test_geojson/master/Company_names.csv'
dfc = pd.read_csv(url, delimiter='\t')

dfc = dfc.drop_duplicates('Name')
dfc = dfc.reset_index()
dfc = dfc.drop('index', 1)
# print(dfc)

def generate_sg_company_name():
  return dfc.iloc[random.randint(0,len(dfc))]['Name']

#debug
for i in range(0, 10):
  print(generate_sg_company_name())

GLOBAL LOGISTIC PROPERTIES LTD
TUAS POWER LTD
APOSTROPHE FILMS PTE LTD
BTI CONSULTANTS PTE LTD
POH CHEONG PRE-CAST PTE LTD
GEOMETRA WORLDWIDE MOVERS PTE LTD
PRIME MART TRADING PTE LTD
HAY GROUP PTE LTD
FIVECUBE PTE LTD
ADECCO PERSONNEL PTE LTD

## Generate Random Timestamp

In [ ]:
def generate_random_timestamp():
    MINTIME = datetime(2020,11,30, 0,0,0)
    MAXTIME = datetime(2021,3,30, 23,59,59)

    mintime_ts = int(time.mktime(MINTIME.timetuple()))
    maxtime_ts = int(time.mktime(MAXTIME.timetuple()))

    random_ts = random.randint(mintime_ts, maxtime_ts)
    randomtime = datetime.fromtimestamp(random_ts)
    
    return randomtime

def generate_random_timestamp1(startdate, enddate):
    MINTIME = startdate
    MAXTIME = enddate

    mintime_ts = int(time.mktime(MINTIME.timetuple()))
    maxtime_ts = int(time.mktime(MAXTIME.timetuple()))

    random_ts = random.randint(mintime_ts, maxtime_ts)
    randomtime = datetime.fromtimestamp(random_ts)
    
    return randomtime

def generate_random_timestamp_list(n):
  returnlist = []
  for i in range(1, n):
    returnlist.append(generate_random_timestamp())
  return returnlist

#debug
# for i in range(1, 10):
#     print(generate_random_timestamp())

print(generate_random_timestamp_list(10)[0])

2020-12-08 23:20:21

## Generate NRIC Values

In [ ]:
def first_char(val):
    switch = {
        0: 'S',
        1: 'T',
        2: 'F',
        3: 'G',
        4: 'S',
        5: 'S',
        6: 'S' # more chance of S
    }
    return switch.get(val)


def last_char1(val):
    switch = {
        0: 'J',
        1: 'Z',
        2: 'I',
        3: 'H',
        4: 'G',
        5: 'F',
        6: 'E',
        7: 'D',
        8: 'C',
        9: 'B',
        10: 'A'
    }
    return switch.get(val)


def last_char2(val):
    switch = {
        0: 'X',
        1: 'W',
        2: 'U',
        3: 'T',
        4: 'R',
        5: 'Q',
        6: 'P',
        7: 'N',
        8: 'M',
        9: 'L',
        10: 'K'
    }
    return switch.get(val)


def generate_random_nric():
    # this script generates random valid nric numbers
    nric = []

    # generate a random 1st letter
    a = first_char(random.randint(0,6))
    nric.append(a)

    for i in range(7):
        nric.append(random.randint(0,9))

    x = (int(nric[1]) * 2) + (int(nric[2]) * 7) + (int(nric[3]) * 6) + (int(nric[4]) * 5) + (int(nric[5]) * 4) + (int(nric[6]) * 3) + (int(nric[7]) * 2)

    if nric[0] == 'T' or nric[0] == 'G':
        x = x + 4

    y = x % 11

    if nric[0] == 'S' or nric[0] == 'T':
        nric.append(last_char1(y))
    elif nric[0] == 'F' or nric[0] == 'G':
        nric.append(last_char2(y))
    
    return ''.join(map(str, nric))

#     print('nric: ' + ''.join(map(str,nric)) + '\n')

print(generate_random_nric())

S1636180A

## Generate Coordinates

don't use this unless really need to

In [ ]:
# generate coordinates

# from random import uniform

# def generate_coordinates():
#     x, y = uniform(-180,180), uniform(-90, 90)
#     return (x, y)

# print(generate_coordinates())

## Generate Street addresses/GPS Coordinates/Postal Code

In [ ]:
url = 'https://raw.githubusercontent.com/ah-zhan/test_geojson/master/SGStreetNames.csv'
df = pd.read_csv(url)

df.columns = ['country', 'postal', 'street name', 'latitude_y', 'longitude_x']
# print(len(df))

df = df.drop('country', 1)
df = df.drop_duplicates(subset='street name')
df = df.reset_index() # cause dropped duplicates
df = df.drop('index', 1)
# print(len(df))

# print(df)

def generate_random_address():
  rand_int = random.randint(0, len(df))
  rand_sg_addr = df.iloc[rand_int]
  # pad additional address number
  rand_sg_addr['street name'] = str(random.randint(0,99)) + ' ' + rand_sg_addr['street name'].replace("'", "''")
  # print(rand_sg_addr)
  return rand_sg_addr


#for i in range(0, 10):
  #print(generate_random_address()['street name'])

NO_Streetname_TO_GENERATE = 30 
StreetName = []
StreetName = [generate_random_address()['street name'] for i in range(0,30)]

print(StreetName)

['19 Pandan Road', '94 West Coast Rise', '64 Springwood Close', '56 Kranji Link', '71 Tai Seng Drive', '69 Marshall Road', '28 West Coast View', '39 Jalan Tukang', '75 Chestnut Close', '87 Nepal Circus', '4 Carmichael Road', '45 Chuan Walk', '37 International Road', '30 Jalan Bahar', '62 Jalan Setia', '16 Aljunied Avenue 4', '44 Boon Lay Way', '92 Jalan Gendang', '3 Choa Chu Kang Street 53', '54 Bain Street', '37 Jalan Limau Nipis', '63 Nanyang Valley', '76 Jalan Dua', '56 Frankel Walk', '64 Jalan Ilmu', '29 Pasir Ris Street 51', '12 Rifle Range Road', '95 Hertford Road', '55 Jalan Siantan', '8 Siglap Avenue']

## Generate Random Text

In [ ]:
fake = Faker()

def generate_random_text(noOfWords):
  return fake.sentence(nb_words=noOfWords)

# generate_random_text(0)

# Generate INSERT QUERY

```
# This is formatted as code
# Table name
# list of attribute
# list of values
```

In [ ]:
def formatInsertQ(tableName, attribues, values):
  returnQuery = "INSERT INTO " + tableName
  attributeList = ""
  
  if(len(attribues)>0):
    attributeList =" ("
    attribues_len = len(attribues)-1
    for i, x in enumerate(attribues):
      attributeList += x
      if i != attribues_len:
        attributeList+=","
    attributeList +=")"
    
    returnQuery += attributeList

  returnQuery += " VALUES ("
  if(len(values)>0):
    valueList =""
    valueList_len = len(values)-1
    for i, x in enumerate(values):
      if not (type(x) == int or type(x) == float):
        valueList += f"'{x}'"
      else:
        valueList += str(x)
      if i != valueList_len:
        valueList+=","
    returnQuery += valueList
  
  returnQuery += ");"
  return returnQuery

#debug
print(formatInsertQ("testTable",['colm1','colm2'],['value1',1,1.2]))
print(formatInsertQ("testTable",[],['value1',9999,'lsahudioa']))

INSERT INTO testTable (colm1,colm2) VALUES ('value1',1,1.2);
INSERT INTO testTable VALUES ('value1',9999,'lsahudioa');

-----
-----
-----
# 3. **[IMPORTANT - MUST USE]** Generate Common NRICs first

In [ ]:
NO_NRIC_TO_GENERATE = 100
userIDs = []
# userIDs = [generate_random_nric() for i in range(0,NO_NRIC_TO_GENERATE)]

userIDs = ['S4513401F', 'S8928050H', 'F3109328R', 'T7146842E', 'T9916373E', 'G4379363U', 'T1551117B', 
	'G3512210P', 'S9291653G', 'S8503706D', 'F9996605W', 'F4464067T', 'S7667164H', 'S6917778F', 
	'S7696266I', 'S4556192E', 'T1211517I', 'S2296776B', 'S0313439C', 'S8133834E', 'F0487635X', 
	'S6424356Z', 'F4329617P', 'G6322196T', 'S3690084I', 'S6431039I', 'S8681375J', 'T9356182H', 
	'T2800641H', 'S9282760G', 'S3052534E', 'S1952113C', 'S4055080A', 'T7770561E', 'S3890719J', 
	'S0825633J', 'F8393034U', 'S5337409C', 'S3435841I', 'S4929837D', 'S1155343E', 'S3160517B', 
	'S1660507G', 'S4610540J', 'S6849117G', 'F1831527X', 'S8121674F', 'T1703406A', 'S4252546D', 
	'S2516784H', 'S7549043G', 'S6226647C', 'S0420732G', 'T6774220B', 'T6648324F', 'G1928813M', 
	'T2507825F', 'S4546686H', 'S6146942G', 'S0777624A', 'S3424299B', 'F3642115X', 'S5482245F', 
	'F9489461K', 'G6394470Q', 'S0406338D', 'T3518247G', 'S5290691A', 'F0893906M', 'G9053734U', 
	'S6438612C', 'T5908324J', 'S5263571C', 'T0591842H', 'F1741841Q', 'S0315244H', 'F1019016U', 
	'S7572937E', 'S2659469C', 'F4017731X', 'F3014607R', 'F4287016K', 'S4369686F', 'T4424800F', 
	'S9056097B', 'S9898035J', 'F0246209P', 'S3762586H', 'S3829243I', 'F6251247N', 'S3640684D', 
	'T9249758A', 'S0927931H', 'T6418963D', 'T5327510E', 'S7240042I', 'S3544579Z', 'S9957195J', 
	'T1641300Z', 'S0332228I'];

print(userIDs)

['S4513401F', 'S8928050H', 'F3109328R', 'T7146842E', 'T9916373E', 'G4379363U', 'T1551117B', 'G3512210P', 'S9291653G', 'S8503706D', 'F9996605W', 'F4464067T', 'S7667164H', 'S6917778F', 'S7696266I', 'S4556192E', 'T1211517I', 'S2296776B', 'S0313439C', 'S8133834E', 'F0487635X', 'S6424356Z', 'F4329617P', 'G6322196T', 'S3690084I', 'S6431039I', 'S8681375J', 'T9356182H', 'T2800641H', 'S9282760G', 'S3052534E', 'S1952113C', 'S4055080A', 'T7770561E', 'S3890719J', 'S0825633J', 'F8393034U', 'S5337409C', 'S3435841I', 'S4929837D', 'S1155343E', 'S3160517B', 'S1660507G', 'S4610540J', 'S6849117G', 'F1831527X', 'S8121674F', 'T1703406A', 'S4252546D', 'S2516784H', 'S7549043G', 'S6226647C', 'S0420732G', 'T6774220B', 'T6648324F', 'G1928813M', 'T2507825F', 'S4546686H', 'S6146942G', 'S0777624A', 'S3424299B', 'F3642115X', 'S5482245F', 'F9489461K', 'G6394470Q', 'S0406338D', 'T3518247G', 'S5290691A', 'F0893906M', 'G9053734U', 'S6438612C', 'T5908324J', 'S5263571C', 'T0591842H', 'F1741841Q', 'S0315244H', 'F1019016U', 'S7572937E', 'S2659469C', 'F4017731X', 'F3014607R', 'F4287016K', 'S4369686F', 'T4424800F', 'S9056097B', 'S9898035J', 'F0246209P', 'S3762586H', 'S3829243I', 'F6251247N', 'S3640684D', 'T9249758A', 'S0927931H', 'T6418963D', 'T5327510E', 'S7240042I', 'S3544579Z', 'S9957195J', 'T1641300Z', 'S0332228I']

## Generate CheckInOut Insert Values()

In [ ]:
# generate X no. of values based on existing generated UserIDs
# VALUES(userID, check_in_time, location_id, check_out_time)
VALUES_TO_GEN = 500

checkInOut_Values = []
for i in range(0, VALUES_TO_GEN):
    # end time > start time
    rand_start_date = generate_random_timestamp()
    rand_end_date = rand_start_date + timedelta(hours=random.randint(0,6), minutes=random.randint(0,59), seconds=random.randint(0,59))    
    # random user
    rand_user_id = random.randint(0, len(userIDs)-1)
    # rand_location
    rand_loc = random.randint(1, 80)

    if i >= 20 and i <= 50:
      rand_start_date = generate_random_timestamp1(datetime(2020,11,30, 0,0,0), datetime(2020,12,30, 0,0,0))
      rand_end_date = rand_start_date + timedelta(hours=random.randint(0,6), minutes=random.randint(0,59), seconds=random.randint(0,59))
      if i <= 26:
        rand_loc = 33
      elif i >= 27 and i <=35:
        rand_loc = 47
      elif i >=36 and i <= 42:
        rand_loc = 55
      elif i >= 43 and i <= 50:
        rand_loc = 15

    # add new SQL VALUE()
    checkInOut_Values += \
        [(
            userIDs[rand_user_id],                   # existing generated user_id
            str(rand_start_date),                    # check_in_time
            rand_loc,                                # location_id
            str(rand_end_date)                       # check_out_time
         )]

print(checkInOut_Values)

[('S0777624A', '2021-01-26 07:46:35', 76, '2021-01-26 08:51:37'), ('S7667164H', '2021-01-04 22:36:23', 33, '2021-01-05 05:33:13'), ('S8133834E', '2020-12-31 22:24:21', 37, '2021-01-01 03:30:54'), ('S9957195J', '2020-12-19 17:06:31', 14, '2020-12-19 23:23:29'), ('T5908324J', '2021-03-29 09:45:04', 60, '2021-03-29 16:31:47'), ('T1211517I', '2020-12-31 04:18:10', 5, '2020-12-31 08:27:20'), ('T6648324F', '2021-01-29 07:55:13', 19, '2021-01-29 11:30:30'), ('T5327510E', '2021-01-06 05:35:26', 40, '2021-01-06 07:41:30'), ('S0315244H', '2021-02-12 00:33:50', 28, '2021-02-12 05:25:51'), ('S0420732G', '2020-12-19 00:38:08', 50, '2020-12-19 06:55:16'), ('S7696266I', '2021-01-02 10:39:04', 74, '2021-01-02 13:29:13'), ('S9282760G', '2021-03-01 12:37:55', 70, '2021-03-01 15:05:32'), ('F3014607R', '2021-02-12 06:22:10', 70, '2021-02-12 12:50:41'), ('S9282760G', '2020-12-13 09:50:05', 45, '2020-12-13 11:14:07'), ('S3762586H', '2021-02-25 07:57:37', 35, '2021-02-25 09:16:16'), ('S4513401F', '2021-02-18 14:00:01', 2, '2021-02-18 19:14:54'), ('S2659469C', '2021-03-16 20:08:11', 30, '2021-03-17 01:00:30'), ('S8681375J', '2020-12-12 17:23:58', 51, '2020-12-12 23:06:49'), ('S0927931H', '2021-03-20 08:50:27', 33, '2021-03-20 15:06:12'), ('S3052534E', '2020-12-04 10:16:42', 25, '2020-12-04 12:34:25'), ('T6774220B', '2020-12-07 14:34:40', 33, '2020-12-07 21:21:21'), ('S6917778F', '2020-12-05 22:56:50', 33, '2020-12-05 23:29:53'), ('S5263571C', '2020-12-18 03:20:28', 33, '2020-12-18 07:22:51'), ('S4252546D', '2020-12-02 05:57:13', 33, '2020-12-02 10:02:54'), ('F3642115X', '2020-12-01 23:08:37', 33, '2020-12-02 01:44:19'), ('F3109328R', '2020-12-28 17:13:55', 33, '2020-12-28 21:38:49'), ('S6917778F', '2020-12-16 05:45:09', 33, '2020-12-16 12:33:31'), ('S0313439C', '2020-12-17 11:43:20', 47, '2020-12-17 18:19:20'), ('T1211517I', '2020-12-01 07:58:48', 47, '2020-12-01 12:47:43'), ('T2800641H', '2020-12-12 21:36:25', 47, '2020-12-13 04:35:39'), ('F1019016U', '2020-12-25 18:09:45', 47, '2020-12-25 21:05:41'), ('T0591842H', '2020-12-01 03:57:17', 47, '2020-12-01 07:51:47'), ('F0246209P', '2020-11-30 20:15:45', 47, '2020-12-01 02:58:06'), ('S1660507G', '2020-12-16 23:48:28', 47, '2020-12-17 04:55:17'), ('S8121674F', '2020-12-08 03:54:59', 47, '2020-12-08 09:27:13'), ('S1660507G', '2020-12-08 06:03:53', 47, '2020-12-08 09:35:48'), ('S9898035J', '2020-11-30 19:50:04', 55, '2020-11-30 22:41:47'), ('T5327510E', '2020-12-07 08:14:35', 55, '2020-12-07 15:00:53'), ('S7549043G', '2020-12-21 03:46:53', 55, '2020-12-21 10:42:57'), ('S6424356Z', '2020-12-04 10:16:09', 55, '2020-12-04 16:59:56'), ('S4610540J', '2020-12-19 02:03:15', 55, '2020-12-19 04:18:15'), ('F1741841Q', '2020-12-12 10:04:06', 55, '2020-12-12 13:08:00'), ('S1660507G', '2020-12-22 03:05:29', 55, '2020-12-22 04:09:35'), ('S0825633J', '2020-12-26 07:31:40', 15, '2020-12-26 07:40:09'), ('S4369686F', '2020-12-27 13:21:33', 15, '2020-12-27 19:54:02'), ('T6648324F', '2020-12-14 09:12:46', 15, '2020-12-14 14:15:49'), ('T5327510E', '2020-12-01 01:13:11', 15, '2020-12-01 06:41:30'), ('S7696266I', '2020-12-26 01:08:53', 15, '2020-12-26 05:18:02'), ('T6774220B', '2020-12-16 07:25:56', 15, '2020-12-16 12:51:58'), ('F4287016K', '2020-12-04 12:11:54', 15, '2020-12-04 15:58:16'), ('F3642115X', '2020-12-21 14:56:27', 15, '2020-12-21 18:59:39'), ('S4556192E', '2021-01-14 23:20:46', 8, '2021-01-14 23:56:42'), ('F8393034U', '2021-03-13 08:38:33', 45, '2021-03-13 12:31:44'), ('T6418963D', '2021-03-08 04:23:44', 25, '2021-03-08 10:55:04'), ('S4929837D', '2020-12-02 00:13:28', 26, '2020-12-02 05:06:47'), ('S0777624A', '2020-12-03 09:39:03', 58, '2020-12-03 16:19:05'), ('S3435841I', '2021-03-09 05:57:34', 11, '2021-03-09 09:15:31'), ('T2800641H', '2021-03-02 14:52:37', 13, '2021-03-02 15:00:44'), ('S8681375J', '2021-03-16 11:49:53', 25, '2021-03-16 13:08:52'), ('G4379363U', '2021-03-18 20:54:54', 53, '2021-03-18 21:20:48'), ('S3829243I', '2021-01-12 21:10:16', 22, '2021-01-13 02:23:14'), ('F3642115X', '2021-01-07 10:18:23', 4, '2021-01-07 12:14:01'), ('S8928050H', '2021-01-12 04:25:32', 62, '2021-01-12 10:24:58'), ('S9056097B', '2020-12-29 16:05:36', 79, '2020-12-29 21:15:24'), ('S3829243I', '2021-02-23 09:41:06', 5, '2021-02-23 13:04:59'), ('S5290691A', '2021-03-28 02:07:05', 40, '2021-03-28 02:47:24'), ('S0332228I', '2021-01-24 02:31:03', 19, '2021-01-24 07:53:02'), ('S7572937E', '2020-12-28 09:52:20', 69, '2020-12-28 16:39:54'), ('S9898035J', '2021-02-01 04:20:42', 22, '2021-02-01 08:59:49'), ('T9356182H', '2020-12-02 21:16:59', 20, '2020-12-03 01:29:56'), ('S6226647C', '2021-01-19 08:32:14', 54, '2021-01-19 12:19:30'), ('S8681375J', '2020-12-02 07:05:42', 75, '2020-12-02 14:00:10'), ('S5290691A', '2021-03-01 00:17:20', 41, '2021-03-01 05:48:19'), ('S7549043G', '2021-02-24 14:27:38', 76, '2021-02-24 15:05:29'), ('T9916373E', '2021-01-02 15:10:38', 5, '2021-01-02 15:52:05'), ('T3518247G', '2021-01-31 15:38:56', 55, '2021-01-31 18:58:07'), ('S9957195J', '2021-01-31 20:03:11', 51, '2021-02-01 01:19:51'), ('S8681375J', '2021-03-21 16:30:25', 68, '2021-03-21 18:34:50'), ('S2659469C', '2021-02-05 01:50:26', 64, '2021-02-05 06:42:41'), ('S9056097B', '2021-02-13 23:50:48', 48, '2021-02-14 04:28:17'), ('S3762586H', '2020-12-07 13:00:06', 18, '2020-12-07 18:46:56'), ('G6322196T', '2021-01-26 15:24:23', 17, '2021-01-26 22:19:09'), ('S6917778F', '2021-03-01 13:20:58', 30, '2021-03-01 19:10:29'), ('F1019016U', '2021-03-14 11:06:14', 50, '2021-03-14 13:00:48'), ('S8503706D', '2021-01-28 05:19:12', 12, '2021-01-28 11:21:29'), ('S9898035J', '2021-01-21 07:18:42', 42, '2021-01-21 12:23:33'), ('F1831527X', '2021-02-02 22:49:45', 46, '2021-02-03 04:25:11'), ('T1641300Z', '2021-03-18 12:32:48', 75, '2021-03-18 17:59:09'), ('S0332228I', '2021-02-05 01:29:34', 60, '2021-02-05 03:33:34'), ('S4556192E', '2020-12-15 01:37:58', 60, '2020-12-15 03:07:31'), ('T6418963D', '2021-03-22 06:52:43', 3, '2021-03-22 13:26:22'), ('F3642115X', '2021-03-27 17:24:35', 35, '2021-03-27 20:43:37'), ('S9957195J', '2021-02-12 13:20:26', 77, '2021-02-12 14:38:48'), ('S0406338D', '2021-02-10 07:31:23', 68, '2021-02-10 12:37:28'), ('S3762586H', '2021-02-28 07:25:03', 49, '2021-02-28 07:34:58'), ('T6774220B', '2021-01-09 22:40:15', 59, '2021-01-10 00:12:44'), ('S2659469C', '2021-01-26 11:36:18', 71, '2021-01-26 16:24:31'), ('S2659469C', '2020-12-04 19:25:59', 52, '2020-12-04 21:37:04'), ('T5908324J', '2021-01-09 00:15:50', 68, '2021-01-09 02:02:20'), ('G6394470Q', '2021-02-20 22:21:11', 59, '2021-02-21 00:25:15'), ('T1703406A', '2021-02-09 06:53:12', 9, '2021-02-09 07:15:02'), ('S4610540J', '2020-12-18 08:47:59', 43, '2020-12-18 13:59:17'), ('T0591842H', '2021-02-22 10:47:35', 4, '2021-02-22 15:13:07'), ('G1928813M', '2021-03-18 09:06:03', 41, '2021-03-18 12:48:09'), ('S3052534E', '2020-12-04 10:37:31', 58, '2020-12-04 13:08:55'), ('F0893906M', '2021-01-18 15:39:48', 38, '2021-01-18 17:28:51'), ('T1211517I', '2021-03-16 22:39:44', 40, '2021-03-17 03:30:36'), ('S6438612C', '2020-12-28 19:49:49', 23, '2020-12-28 20:08:12'), ('F4287016K', '2021-03-23 11:37:55', 44, '2021-03-23 13:53:18'), ('S5482245F', '2020-12-25 14:48:56', 19, '2020-12-25 19:56:07'), ('F3109328R', '2021-03-24 21:15:24', 67, '2021-03-25 01:31:13'), ('S0406338D', '2020-12-14 13:33:07', 77, '2020-12-14 14:33:43'), ('S0406338D', '2021-03-17 21:47:27', 29, '2021-03-18 00:05:05'), ('F9996605W', '2021-03-22 13:34:13', 3, '2021-03-22 15:32:02'), ('F4287016K', '2021-02-07 14:27:32', 28, '2021-02-07 15:55:14'), ('S0332228I', '2021-01-29 05:45:15', 65, '2021-01-29 09:44:14'), ('S8928050H', '2020-12-03 15:34:58', 19, '2020-12-03 22:12:29'), ('T9356182H', '2021-02-26 04:47:11', 53, '2021-02-26 08:30:04'), ('S3435841I', '2020-12-02 05:31:37', 27, '2020-12-02 12:05:17'), ('G6394470Q', '2021-01-13 00:30:22', 1, '2021-01-13 06:29:42'), ('S9957195J', '2021-03-03 15:54:07', 58, '2021-03-03 22:51:00'), ('S3890719J', '2021-01-14 22:28:33', 51, '2021-01-15 03:04:21'), ('S1952113C', '2021-03-01 22:51:42', 31, '2021-03-02 02:47:08'), ('T6648324F', '2021-03-09 19:25:23', 27, '2021-03-10 01:05:07'), ('F6251247N', '2020-12-11 00:01:22', 55, '2020-12-11 06:55:36'), ('F1831527X', '2021-01-01 10:14:43', 79, '2021-01-01 15:55:53'), ('S2659469C', '2020-12-20 15:53:36', 74, '2020-12-20 20:06:56'), ('F4329617P', '2020-12-14 18:51:13', 67, '2020-12-14 20:32:13'), ('S6849117G', '2021-03-05 13:33:05', 50, '2021-03-05 15:11:14'), ('F3642115X', '2020-12-17 08:57:06', 57, '2020-12-17 12:10:47'), ('S9056097B', '2020-12-12 20:22:44', 32, '2020-12-13 00:38:45'), ('S3424299B', '2021-01-08 13:50:33', 2, '2021-01-08 18:39:19'), ('F4329617P', '2021-03-27 20:53:23', 64, '2021-03-27 22:55:27'), ('T9916373E', '2021-03-12 03:48:14', 17, '2021-03-12 04:00:12'), ('T9249758A', '2021-02-11 21:49:42', 79, '2021-02-11 22:18:25'), ('S9291653G', '2020-12-14 06:48:56', 5, '2020-12-14 10:44:07'), ('T7770561E', '2021-01-10 04:35:45', 4, '2021-01-10 10:31:34'), ('S4929837D', '2021-02-06 05:50:26', 55, '2021-02-06 08:53:21'), ('S9282760G', '2021-01-27 11:19:04', 1, '2021-01-27 16:24:42'), ('S3424299B', '2020-12-10 06:58:10', 11, '2020-12-10 13:31:07'), ('S0420732G', '2021-01-30 09:17:42', 27, '2021-01-30 10:27:37'), ('T9356182H', '2021-03-17 15:17:53', 8, '2021-03-17 17:14:11'), ('S9291653G', '2021-03-08 18:26:40', 35, '2021-03-09 00:29:32'), ('S3829243I', '2020-12-08 09:49:49', 25, '2020-12-08 14:25:37'), ('S6424356Z', '2021-01-26 13:55:51', 5, '2021-01-26 16:32:30'), ('S8928050H', '2020-12-07 15:07:13', 70, '2020-12-07 15:10:02'), ('S0406338D', '2021-01-19 02:24:24', 46, '2021-01-19 07:51:44'), ('S0332228I', '2021-02-21 03:04:00', 13, '2021-02-21 09:56:53'), ('F9489461K', '2021-03-04 22:01:52', 35, '2021-03-05 04:29:00'), ('S3052534E', '2021-01-25 02:59:31', 72, '2021-01-25 06:05:48'), ('S1155343E', '2021-03-23 06:36:24', 37, '2021-03-23 10:20:18'), ('G9053734U', '2021-03-07 08:42:37', 26, '2021-03-07 11:22:38'), ('S5263571C', '2021-03-29 18:41:02', 51, '2021-03-30 01:11:58'), ('G1928813M', '2021-03-16 13:32:14', 16, '2021-03-16 14:58:00'), ('F0893906M', '2021-03-01 00:42:05', 33, '2021-03-01 06:41:31'), ('S0825633J', '2020-12-30 05:58:12', 42, '2020-12-30 06:20:08'), ('S4369686F', '2021-03-24 01:51:27', 53, '2021-03-24 02:57:25'), ('S5290691A', '2021-01-04 02:28:16', 28, '2021-01-04 03:48:02'), ('G9053734U', '2021-01-07 03:03:01', 5, '2021-01-07 05:06:38'), ('S1952113C', '2021-03-22 14:32:36', 34, '2021-03-22 16:50:41'), ('T9249758A', '2021-01-01 07:41:12', 80, '2021-01-01 08:45:16'), ('S5482245F', '2020-12-01 07:34:54', 37, '2020-12-01 08:19:56'), ('F0893906M', '2021-02-25 00:28:47', 51, '2021-02-25 01:52:55'), ('S4055080A', '2021-01-27 11:07:32', 55, '2021-01-27 13:04:23'), ('S0927931H', '2020-12-20 16:47:25', 52, '2020-12-20 23:11:34'), ('S0927931H', '2021-01-19 04:54:03', 45, '2021-01-19 10:02:42'), ('S3640684D', '2021-02-26 09:18:02', 67, '2021-02-26 10:06:49'), ('S3424299B', '2021-01-25 17:44:36', 43, '2021-01-26 00:05:01'), ('S8133834E', '2021-03-25 22:22:47', 37, '2021-03-25 23:19:35'), ('S4252546D', '2021-01-08 09:38:15', 31, '2021-01-08 13:33:47'), ('S3690084I', '2020-12-08 02:49:58', 78, '2020-12-08 05:38:22'), ('S3435841I', '2021-02-08 08:12:53', 51, '2021-02-08 12:36:38'), ('S7667164H', '2021-02-17 22:35:52', 70, '2021-02-17 23:28:39'), ('S1952113C', '2021-02-28 21:59:28', 68, '2021-02-28 22:23:19'), ('S2296776B', '2020-12-15 12:13:52', 69, '2020-12-15 14:15:54'), ('S0406338D', '2021-02-05 09:52:14', 68, '2021-02-05 15:11:34'), ('S7549043G', '2020-12-07 11:40:59', 59, '2020-12-07 18:02:34'), ('T2800641H', '2021-02-20 23:50:22', 6, '2021-02-21 03:44:45'), ('T1641300Z', '2021-02-15 00:29:32', 78, '2021-02-15 07:25:05'), ('S3435841I', '2020-12-09 13:33:56', 73, '2020-12-09 14:07:59'), ('F3642115X', '2020-12-23 15:37:16', 11, '2020-12-23 17:56:16'), ('S0315244H', '2021-03-06 19:59:30', 2, '2021-03-07 01:32:16'), ('T9356182H', '2021-03-18 14:45:05', 15, '2021-03-18 19:36:28'), ('S3762586H', '2020-12-14 18:39:52', 52, '2020-12-14 20:45:29'), ('S1952113C', '2020-12-26 10:27:45', 37, '2020-12-26 13:19:58'), ('S2296776B', '2021-02-21 10:51:51', 75, '2021-02-21 11:41:07'), ('T1551117B', '2021-02-27 10:24:05', 48, '2021-02-27 12:54:03'), ('S9291653G', '2021-01-02 07:45:03', 20, '2021-01-02 10:39:39'), ('S4369686F', '2020-12-25 23:28:05', 6, '2020-12-26 03:50:00'), ('F4464067T', '2020-12-31 05:48:17', 9, '2020-12-31 07:59:46'), ('T1641300Z', '2021-01-11 22:36:45', 11, '2021-01-12 04:51:23'), ('S8121674F', '2020-12-20 15:33:45', 32, '2020-12-20 21:07:36'), ('T1641300Z', '2021-03-25 15:06:40', 55, '2021-03-25 17:40:37'), ('S7549043G', '2021-01-02 16:27:43', 55, '2021-01-02 19:54:44'), ('F4287016K', '2021-02-26 06:08:39', 71, '2021-02-26 08:22:38'), ('T9916373E', '2021-01-29 20:29:53', 64, '2021-01-29 22:10:28'), ('S3890719J', '2021-03-06 17:51:32', 24, '2021-03-06 23:25:05'), ('F0893906M', '2021-03-28 07:44:44', 19, '2021-03-28 13:56:51'), ('S3829243I', '2021-02-07 21:46:05', 31, '2021-02-08 02:26:04'), ('S4513401F', '2021-02-26 20:46:21', 80, '2021-02-27 02:47:08'), ('T9356182H', '2021-01-13 14:51:16', 15, '2021-01-13 15:19:58'), ('S2516784H', '2021-01-10 20:57:47', 15, '2021-01-11 02:24:22'), ('T2800641H', '2020-12-29 01:32:55', 63, '2020-12-29 05:10:05'), ('G3512210P', '2021-01-30 12:48:32', 32, '2021-01-30 19:28:42'), ('S3890719J', '2021-01-03 08:09:13', 61, '2021-01-03 12:42:47'), ('S3762586H', '2021-01-11 03:45:12', 72, '2021-01-11 04:40:40'), ('S3690084I', '2021-02-14 15:53:59', 22, '2021-02-14 16:58:54'), ('F1019016U', '2021-03-27 13:53:59', 43, '2021-03-27 18:24:48'), ('F4464067T', '2021-03-19 00:16:31', 2, '2021-03-19 00:50:46'), ('S4055080A', '2021-01-21 10:46:53', 23, '2021-01-21 11:04:21'), ('T5908324J', '2021-02-22 15:56:52', 6, '2021-02-22 20:18:20'), ('S4610540J', '2020-12-10 21:05:58', 12, '2020-12-10 23:06:35'), ('T7146842E', '2021-02-08 00:56:36', 13, '2021-02-08 06:59:06'), ('F1019016U', '2020-12-28 21:49:02', 20, '2020-12-29 02:13:13'), ('S3762586H', '2021-03-13 08:57:43', 23, '2021-03-13 10:33:44'), ('S8503706D', '2021-01-22 05:10:43', 46, '2021-01-22 10:57:05'), ('S7572937E', '2021-01-13 22:49:52', 3, '2021-01-14 03:15:35'), ('T1641300Z', '2021-02-16 23:41:19', 29, '2021-02-16 23:43:15'), ('S4929837D', '2021-01-02 15:45:43', 33, '2021-01-02 21:59:41'), ('F4287016K', '2020-12-19 15:24:55', 58, '2020-12-19 16:00:50'), ('S0927931H', '2021-02-17 11:49:03', 65, '2021-02-17 14:14:29'), ('G3512210P', '2021-03-30 13:57:40', 50, '2021-03-30 15:10:28'), ('F4287016K', '2021-03-04 16:53:22', 77, '2021-03-04 23:24:22'), ('S3890719J', '2020-12-15 10:57:57', 80, '2020-12-15 15:19:54'), ('S6917778F', '2021-02-02 03:58:11', 36, '2021-02-02 04:05:56'), ('F3642115X', '2021-02-23 16:11:21', 57, '2021-02-23 17:28:48'), ('S9291653G', '2020-12-19 18:41:06', 12, '2020-12-19 22:07:11'), ('F9996605W', '2020-12-20 21:22:35', 45, '2020-12-21 00:52:39'), ('S3829243I', '2021-03-13 18:00:29', 59, '2021-03-13 22:44:05'), ('S3762586H', '2021-01-04 01:41:50', 66, '2021-01-04 02:26:20'), ('T2800641H', '2021-03-08 10:10:23', 12, '2021-03-08 13:02:17'), ('S3762586H', '2020-12-31 12:54:08', 4, '2020-12-31 18:57:26'), ('T3518247G', '2021-01-06 11:42:25', 70, '2021-01-06 16:34:52'), ('S6917778F', '2021-02-24 13:40:43', 67, '2021-02-24 16:24:49'), ('T6418963D', '2021-01-08 09:22:10', 69, '2021-01-08 10:27:32'), ('S1155343E', '2021-01-02 22:49:35', 25, '2021-01-03 03:05:38'), ('S4929837D', '2021-02-08 08:33:26', 6, '2021-02-08 09:07:54'), ('S4369686F', '2021-03-16 19:14:45', 38, '2021-03-17 01:20:22'), ('S3544579Z', '2021-02-26 13:11:09', 16, '2021-02-26 19:36:07'), ('T7770561E', '2021-01-01 19:06:50', 2, '2021-01-01 22:42:22'), ('S6424356Z', '2021-01-21 10:48:49', 62, '2021-01-21 11:35:21'), ('S5337409C', '2021-03-19 13:24:14', 59, '2021-03-19 16:36:55'), ('S0777624A', '2021-01-07 03:47:51', 55, '2021-01-07 06:11:16'), ('G3512210P', '2021-01-28 20:52:54', 49, '2021-01-28 21:07:51'), ('S7696266I', '2021-03-28 07:23:43', 55, '2021-03-28 07:25:55'), ('G6394470Q', '2021-01-22 08:04:27', 54, '2021-01-22 08:40:10'), ('F1019016U', '2020-12-15 21:47:02', 76, '2020-12-15 23:54:46'), ('S1155343E', '2021-02-04 16:10:27', 57, '2021-02-04 16:22:18'), ('S6917778F', '2020-12-10 08:58:11', 77, '2020-12-10 10:32:40'), ('S1952113C', '2020-12-06 13:39:26', 38, '2020-12-06 19:22:30'), ('S8681375J', '2020-12-11 04:32:20', 65, '2020-12-11 06:23:15'), ('S3052534E', '2021-01-21 01:25:25', 78, '2021-01-21 04:01:09'), ('T6774220B', '2021-01-04 19:30:31', 22, '2021-01-04 20:49:18'), ('T2800641H', '2020-12-18 12:03:35', 34, '2020-12-18 12:26:38'), ('G6322196T', '2020-12-08 22:30:38', 55, '2020-12-09 03:26:06'), ('T7770561E', '2021-03-08 11:17:43', 52, '2021-03-08 13:26:59'), ('S3160517B', '2021-03-22 14:47:19', 6, '2021-03-22 15:50:15'), ('S3640684D', '2021-01-29 06:42:44', 10, '2021-01-29 08:33:14'), ('S6431039I', '2021-02-09 22:21:03', 70, '2021-02-10 03:34:22'), ('S4252546D', '2021-03-09 20:02:38', 51, '2021-03-10 01:34:58'), ('S3160517B', '2021-02-12 01:47:03', 46, '2021-02-12 03:31:23'), ('S0406338D', '2020-12-23 05:28:44', 35, '2020-12-23 09:42:50'), ('G9053734U', '2020-12-10 16:15:04', 54, '2020-12-10 17:37:04'), ('T0591842H', '2021-01-24 05:48:50', 41, '2021-01-24 11:38:22'), ('S7240042I', '2021-03-28 20:39:06', 64, '2021-03-29 02:16:16'), ('S6146942G', '2021-03-04 03:11:38', 38, '2021-03-04 08:52:36'), ('S4546686H', '2021-03-02 23:05:17', 33, '2021-03-03 00:00:52'), ('T5908324J', '2020-12-05 09:45:19', 43, '2020-12-05 12:59:25'), ('S4369686F', '2021-01-20 23:48:41', 65, '2021-01-21 01:06:05'), ('S2516784H', '2021-03-02 00:11:10', 46, '2021-03-02 02:58:42'), ('G6394470Q', '2021-03-26 13:08:57', 57, '2021-03-26 17:06:47'), ('T2800641H', '2021-02-21 06:55:37', 45, '2021-02-21 13:45:20'), ('F8393034U', '2020-12-17 09:42:27', 50, '2020-12-17 13:42:22'), ('S5290691A', '2021-01-23 17:33:20', 13, '2021-01-24 00:05:45'), ('S6849117G', '2021-02-07 14:42:10', 29, '2021-02-07 16:09:00'), ('S6146942G', '2020-12-30 11:47:47', 73, '2020-12-30 13:27:28'), ('S3052534E', '2021-02-25 22:14:47', 26, '2021-02-26 01:03:43'), ('S3890719J', '2021-03-15 06:39:32', 14, '2021-03-15 13:15:19'), ('S7696266I', '2020-12-30 02:45:11', 28, '2020-12-30 04:51:41'), ('S7572937E', '2021-01-20 18:28:42', 43, '2021-01-20 19:34:25'), ('S0927931H', '2021-02-10 20:50:47', 58, '2021-02-11 01:02:33'), ('F4017731X', '2020-12-27 16:26:31', 76, '2020-12-27 17:21:23'), ('T5327510E', '2021-03-28 12:38:38', 46, '2021-03-28 14:31:01'), ('T5908324J', '2021-02-13 11:48:31', 52, '2021-02-13 12:16:31'), ('S1952113C', '2021-03-13 04:08:35', 67, '2021-03-13 10:47:06'), ('S5482245F', '2021-02-08 05:59:34', 60, '2021-02-08 12:14:03'), ('T2507825F', '2021-03-07 14:24:02', 79, '2021-03-07 17:15:53'), ('G6394470Q', '2020-12-02 13:24:19', 30, '2020-12-02 16:05:26'), ('S3690084I', '2021-02-13 09:29:23', 41, '2021-02-13 13:15:30'), ('S8503706D', '2021-01-29 03:00:50', 50, '2021-01-29 08:21:34'), ('T6774220B', '2021-03-30 09:06:59', 39, '2021-03-30 09:17:06'), ('S7696266I', '2020-12-10 01:38:21', 46, '2020-12-10 08:34:07'), ('S4929837D', '2021-03-22 11:53:27', 62, '2021-03-22 18:46:44'), ('G9053734U', '2020-12-21 05:24:20', 3, '2020-12-21 05:38:09'), ('S5263571C', '2021-01-27 15:56:15', 7, '2021-01-27 22:37:02'), ('S3640684D', '2021-01-18 23:16:04', 58, '2021-01-19 01:20:43'), ('F1019016U', '2020-12-26 08:23:11', 13, '2020-12-26 11:19:54'), ('S9291653G', '2021-01-17 00:11:11', 42, '2021-01-17 00:30:55'), ('S4929837D', '2021-01-31 08:00:04', 61, '2021-01-31 13:31:55'), ('S0420732G', '2021-03-14 16:10:23', 26, '2021-03-14 17:05:03'), ('S1155343E', '2021-02-22 18:37:02', 56, '2021-02-22 22:49:28'), ('S3160517B', '2021-03-25 04:49:08', 73, '2021-03-25 10:15:03'), ('S3052534E', '2021-02-06 16:17:07', 57, '2021-02-06 16:44:17'), ('T4424800F', '2021-03-21 10:09:09', 8, '2021-03-21 13:25:43'), ('S5263571C', '2020-12-02 10:50:59', 49, '2020-12-02 14:30:42'), ('S6431039I', '2021-02-22 22:11:50', 22, '2021-02-23 02:42:19'), ('S0777624A', '2021-01-03 17:03:20', 13, '2021-01-03 17:09:52'), ('T2800641H', '2021-03-17 12:42:51', 18, '2021-03-17 18:30:05'), ('F0246209P

## Users who checked in > 10 locations per day in the last week (from our day of lab)

In [ ]:
checkInOut_Values_gt10days = []

rand_user_id = 8
for i in range(0, 4):
  rand_user_id += 1
  for i in range(0, 9): # 8 days
    checkIn = datetime(2021,3,24) + timedelta(days=i)
    for j in range(0, 20): # 10 locations per day
      checkIn += timedelta(minutes=random.randint(30,59), seconds=0)
      checkInOut_Values_gt10days += [(
              userIDs[rand_user_id],        # existing generated user_id
              str(checkIn),                 # check_in_time
              random.randint(0, 80),        # location_id
              str(checkIn + timedelta(minutes=random.randint(0, 30)))      # check_out_time
          )]

print(checkInOut_Values_gt10days)

[('S8503706D', '2021-03-24 00:58:00', 59, '2021-03-24 01:03:00'), ('S8503706D', '2021-03-24 01:42:00', 51, '2021-03-24 01:49:00'), ('S8503706D', '2021-03-24 02:15:00', 1, '2021-03-24 02:20:00'), ('S8503706D', '2021-03-24 02:53:00', 76, '2021-03-24 03:18:00'), ('S8503706D', '2021-03-24 03:27:00', 42, '2021-03-24 03:38:00'), ('S8503706D', '2021-03-24 04:18:00', 65, '2021-03-24 04:27:00'), ('S8503706D', '2021-03-24 05:03:00', 54, '2021-03-24 05:26:00'), ('S8503706D', '2021-03-24 05:39:00', 8, '2021-03-24 06:00:00'), ('S8503706D', '2021-03-24 06:25:00', 1, '2021-03-24 06:48:00'), ('S8503706D', '2021-03-24 06:58:00', 27, '2021-03-24 07:19:00'), ('S8503706D', '2021-03-24 07:28:00', 12, '2021-03-24 07:34:00'), ('S8503706D', '2021-03-24 08:15:00', 27, '2021-03-24 08:17:00'), ('S8503706D', '2021-03-24 09:02:00', 33, '2021-03-24 09:12:00'), ('S8503706D', '2021-03-24 09:36:00', 60, '2021-03-24 09:45:00'), ('S8503706D', '2021-03-24 10:26:00', 77, '2021-03-24 10:30:00'), ('S8503706D', '2021-03-24 10:58:00', 70, '2021-03-24 11:18:00'), ('S8503706D', '2021-03-24 11:53:00', 19, '2021-03-24 12:20:00'), ('S8503706D', '2021-03-24 12:29:00', 78, '2021-03-24 12:59:00'), ('S8503706D', '2021-03-24 13:06:00', 26, '2021-03-24 13:29:00'), ('S8503706D', '2021-03-24 13:41:00', 32, '2021-03-24 13:53:00'), ('S8503706D', '2021-03-25 00:59:00', 10, '2021-03-25 01:01:00'), ('S8503706D', '2021-03-25 01:47:00', 75, '2021-03-25 02:06:00'), ('S8503706D', '2021-03-25 02:26:00', 18, '2021-03-25 02:43:00'), ('S8503706D', '2021-03-25 03:13:00', 36, '2021-03-25 03:24:00'), ('S8503706D', '2021-03-25 03:55:00', 2, '2021-03-25 04:08:00'), ('S8503706D', '2021-03-25 04:36:00', 17, '2021-03-25 04:54:00'), ('S8503706D', '2021-03-25 05:19:00', 26, '2021-03-25 05:27:00'), ('S8503706D', '2021-03-25 06:16:00', 76, '2021-03-25 06:42:00'), ('S8503706D', '2021-03-25 07:08:00', 74, '2021-03-25 07:27:00'), ('S8503706D', '2021-03-25 07:54:00', 60, '2021-03-25 07:58:00'), ('S8503706D', '2021-03-25 08:24:00', 53, '2021-03-25 08:36:00'), ('S8503706D', '2021-03-25 08:57:00', 31, '2021-03-25 09:12:00'), ('S8503706D', '2021-03-25 09:32:00', 45, '2021-03-25 09:51:00'), ('S8503706D', '2021-03-25 10:11:00', 40, '2021-03-25 10:40:00'), ('S8503706D', '2021-03-25 11:06:00', 45, '2021-03-25 11:13:00'), ('S8503706D', '2021-03-25 11:45:00', 5, '2021-03-25 11:55:00'), ('S8503706D', '2021-03-25 12:40:00', 12, '2021-03-25 12:44:00'), ('S8503706D', '2021-03-25 13:20:00', 12, '2021-03-25 13:42:00'), ('S8503706D', '2021-03-25 13:50:00', 43, '2021-03-25 14:10:00'), ('S8503706D', '2021-03-25 14:41:00', 42, '2021-03-25 14:52:00'), ('S8503706D', '2021-03-26 00:31:00', 0, '2021-03-26 00:57:00'), ('S8503706D', '2021-03-26 01:04:00', 23, '2021-03-26 01:23:00'), ('S8503706D', '2021-03-26 01:43:00', 3, '2021-03-26 01:43:00'), ('S8503706D', '2021-03-26 02:34:00', 71, '2021-03-26 02:35:00'), ('S8503706D', '2021-03-26 03:21:00', 16, '2021-03-26 03:30:00'), ('S8503706D', '2021-03-26 04:03:00', 19, '2021-03-26 04:13:00'), ('S8503706D', '2021-03-26 04:42:00', 39, '2021-03-26 04:52:00'), ('S8503706D', '2021-03-26 05:34:00', 47, '2021-03-26 06:00:00'), ('S8503706D', '2021-03-26 06:30:00', 35, '2021-03-26 06:51:00'), ('S8503706D', '2021-03-26 07:02:00', 66, '2021-03-26 07:21:00'), ('S8503706D', '2021-03-26 07:32:00', 80, '2021-03-26 07:32:00'), ('S8503706D', '2021-03-26 08:13:00', 31, '2021-03-26 08:37:00'), ('S8503706D', '2021-03-26 08:52:00', 41, '2021-03-26 09:03:00'), ('S8503706D', '2021-03-26 09:33:00', 44, '2021-03-26 09:33:00'), ('S8503706D', '2021-03-26 10:04:00', 0, '2021-03-26 10:29:00'), ('S8503706D', '2021-03-26 10:59:00', 1, '2021-03-26 11:12:00'), ('S8503706D', '2021-03-26 11:50:00', 40, '2021-03-26 12:06:00'), ('S8503706D', '2021-03-26 12:44:00', 79, '2021-03-26 12:50:00'), ('S8503706D', '2021-03-26 13:28:00', 8, '2021-03-26 13:35:00'), ('S8503706D', '2021-03-26 13:59:00', 19, '2021-03-26 14:25:00'), ('S8503706D', '2021-03-27 00:46:00', 16, '2021-03-27 01:01:00'), ('S8503706D', '2021-03-27 01:28:00', 40, '2021-03-27 01:40:00'), ('S8503706D', '2021-03-27 02:01:00', 70, '2021-03-27 02:24:00'), ('S8503706D', '2021-03-27 02:35:00', 60, '2021-03-27 03:01:00'), ('S8503706D', '2021-03-27 03:15:00', 15, '2021-03-27 03:39:00'), ('S8503706D', '2021-03-27 04:09:00', 78, '2021-03-27 04:33:00'), ('S8503706D', '2021-03-27 05:06:00', 62, '2021-03-27 05:28:00'), ('S8503706D', '2021-03-27 05:45:00', 3, '2021-03-27 05:52:00'), ('S8503706D', '2021-03-27 06:44:00', 41, '2021-03-27 06:49:00'), ('S8503706D', '2021-03-27 07:28:00', 68, '2021-03-27 07:28:00'), ('S8503706D', '2021-03-27 08:00:00', 74, '2021-03-27 08:29:00'), ('S8503706D', '2021-03-27 08:37:00', 77, '2021-03-27 09:04:00'), ('S8503706D', '2021-03-27 09:35:00', 5, '2021-03-27 09:49:00'), ('S8503706D', '2021-03-27 10:09:00', 75, '2021-03-27 10:30:00'), ('S8503706D', '2021-03-27 10:48:00', 5, '2021-03-27 11:14:00'), ('S8503706D', '2021-03-27 11:39:00', 24, '2021-03-27 11:47:00'), ('S8503706D', '2021-03-27 12:17:00', 22, '2021-03-27 12:43:00'), ('S8503706D', '2021-03-27 13:15:00', 10, '2021-03-27 13:36:00'), ('S8503706D', '2021-03-27 13:50:00', 38, '2021-03-27 14:04:00'), ('S8503706D', '2021-03-27 14:31:00', 76, '2021-03-27 14:44:00'), ('S8503706D', '2021-03-28 00:30:00', 2, '2021-03-28 00:56:00'), ('S8503706D', '2021-03-28 01:26:00', 24, '2021-03-28 01:37:00'), ('S8503706D', '2021-03-28 02:14:00', 40, '2021-03-28 02:29:00'), ('S8503706D', '2021-03-28 03:08:00', 62, '2021-03-28 03:12:00'), ('S8503706D', '2021-03-28 03:38:00', 15, '2021-03-28 03:48:00'), ('S8503706D', '2021-03-28 04:31:00', 74, '2021-03-28 04:31:00'), ('S8503706D', '2021-03-28 05:01:00', 51, '2021-03-28 05:29:00'), ('S8503706D', '2021-03-28 05:40:00', 13, '2021-03-28 05:47:00'), ('S8503706D', '2021-03-28 06:26:00', 76, '2021-03-28 06:44:00'), ('S8503706D', '2021-03-28 07:17:00', 54, '2021-03-28 07:29:00'), ('S8503706D', '2021-03-28 08:12:00', 25, '2021-03-28 08:28:00'), ('S8503706D', '2021-03-28 08:58:00', 68, '2021-03-28 09:10:00'), ('S8503706D', '2021-03-28 09:40:00', 53, '2021-03-28 09:52:00'), ('S8503706D', '2021-03-28 10:33:00', 5, '2021-03-28 10:45:00'), ('S8503706D', '2021-03-28 11:30:00', 44, '2021-03-28 11:48:00'), ('S8503706D', '2021-03-28 12:25:00', 48, '2021-03-28 12:25:00'), ('S8503706D', '2021-03-28 13:11:00', 53, '2021-03-28 13:19:00'), ('S8503706D', '2021-03-28 13:49:00', 30, '2021-03-28 14:03:00'), ('S8503706D', '2021-03-28 14:39:00', 27, '2021-03-28 15:05:00'), ('S8503706D', '2021-03-28 15:17:00', 49, '2021-03-28 15:28:00'), ('S8503706D', '2021-03-29 00:32:00', 13, '2021-03-29 00:38:00'), ('S8503706D', '2021-03-29 01:10:00', 57, '2021-03-29 01:29:00'), ('S8503706D', '2021-03-29 01:55:00', 14, '2021-03-29 02:14:00'), ('S8503706D', '2021-03-29 02:37:00', 0, '2021-03-29 02:49:00'), ('S8503706D', '2021-03-29 03:23:00', 25, '2021-03-29 03:48:00'), ('S8503706D', '2021-03-29 04:20:00', 24, '2021-03-29 04:32:00'), ('S8503706D', '2021-03-29 05:15:00', 10, '2021-03-29 05:33:00'), ('S8503706D', '2021-03-29 05:55:00', 58, '2021-03-29 06:02:00'), ('S8503706D', '2021-03-29 06:45:00', 74, '2021-03-29 06:51:00'), ('S8503706D', '2021-03-29 07:31:00', 15, '2021-03-29 07:35:00'), ('S8503706D', '2021-03-29 08:02:00', 24, '2021-03-29 08:29:00'), ('S8503706D', '2021-03-29 08:33:00', 5, '2021-03-29 08:57:00'), ('S8503706D', '2021-03-29 09:21:00', 2, '2021-03-29 09:34:00'), ('S8503706D', '2021-03-29 10:18:00', 42, '2021-03-29 10:18:00'), ('S8503706D', '2021-03-29 10:56:00', 0, '2021-03-29 11:12:00'), ('S8503706D', '2021-03-29 11:38:00', 64, '2021-03-29 12:02:00'), ('S8503706D', '2021-03-29 12:09:00', 65, '2021-03-29 12:26:00'), ('S8503706D', '2021-03-29 12:46:00', 34, '2021-03-29 12:56:00'), ('S8503706D', '2021-03-29 13:21:00', 61, '2021-03-29 13:50:00'), ('S8503706D', '2021-03-29 13:53:00', 64, '2021-03-29 14:05:00'), ('S8503706D', '2021-03-30 00:44:00', 32, '2021-03-30 00:45:00'), ('S8503706D', '2021-03-30 01:37:00', 4, '2021-03-30 02:00:00'), ('S8503706D', '2021-03-30 02:16:00', 21, '2021-03-30 02:37:00'), ('S8503706D', '2021-03-30 03:03:00', 26, '2021-03-30 03:29:00'), ('S8503706D', '2021-03-30 03:54:00', 31, '2021-03-30 04:03:00'), ('S8503706D', '2021-03-30 04:41:00', 22, '2021-03-30 04:54:00'), ('S8503706D', '2021-03-30 05:18:00', 53, '2021-03-30 05:44:00'), ('S8503706D', '2021-03-30 06:05:00', 7, '2021-03-30 06:20:00'), ('S8503706D', '2021-03-30 06:50:00', 27, '2021-03-30 07:19:00'), ('S8503706D', '2021-03-30 07:20:00', 23, '2021-03-30 07:25:00'), ('S8503706D', '2021-03-30 08:16:00', 9, '2021-03-30 08:27:00'), ('S8503706D', '2021-03-30 08:48:00', 39, '2021-03-30 08:48:00'), ('S8503706D', '2021-03-30 09:38:00', 11, '2021-03-30 09:59:00'), ('S8503706D', '2021-03-30 10:10:00', 32, '2021-03-30 10:37:00'), ('S8503706D', '2021-03-30 11:03:00', 62, '2021-03-30 11:28:00'), ('S8503706D', '2021-03-30 11:36:00', 64, '2021-03-30 11:57:00'), ('S8503706D', '2021-03-30 12:31:00', 37, '2021-03-30 12:53:00'), ('S8503706D', '2021-03-30 13:22:00', 38, '2021-03-30 13:23:00'), ('S8503706D', '2021-03-30 14:03:00', 8, '2021-03-30 14:05:00'), ('S8503706D', '2021-03-30 15:00:00', 55, '2021-03-30 15:30:00'), ('S8503706D', '2021-03-31 00:59:00', 32, '2021-03-31 01:24:00'), ('S8503706D', '2021-03-31 01:34:00', 30, '2021-03-31 01:49:00'), ('S8503706D', '2021-03-31 02:33:00', 0, '2021-03-31 02:39:00'), ('S8503706D', '2021-03-31 03:24:00', 49, '2021-03-31 03:49:00'), ('S8503706D', '2021-03-31 04:10:00', 80, '2021-03-31 04:26:00'), ('S8503706D', '2021-03-31 04:45:00', 48, '2021-03-31 04:52:00'), ('S8503706D', '2021-03-31 05:33:00', 47, '2021-03-31 05:38:00'), ('S8503706D', '2021-03-31 06:27:00', 18, '2021-03-31 06:28:00'), ('S8503706D', '2021-03-31 07:10:00', 29, '2021-03-31 07:31:00'), ('S8503706D', '2021-03-31 08:04:00', 29, '2021-03-31 08:07:00'), ('S8503706D', '2021-03-31 08:37:00', 26, '2021-03-31 08:51:00'), ('S8503706D', '2021-03-31 09:12:00', 49, '2021-03-31 09:16:00'), ('S8503706D', '2021-03-31 09:45:00', 42, '2021-03-31 10:09:00'), ('S8503706D', '2021-03-31 10:17:00', 65, '2021-03-31 10:43:00'), ('S8503706D', '2021-03-31 11:12:00', 78, '2021-03-31 11:13:00'), ('S8503706D', '2021-03-31 12:07:00', 59, '2021-03-31 12:32:00'), ('S8503706D', '2021-03-31 12:45:00', 1, '2021-03-31 13:09:00'), ('S8503706D', '2021-03-31 13:20:00', 8, '2021-03-31 13:31:00'), ('S8503706D', '2021-03-31 14:17:00', 79, '2021-03-31 14:38:00'), ('S8503706D', '2021-03-31 15:12:00', 18, '2021-03-31 15:28:00'), ('S8503706D', '2021-04-01 00:59:00', 52, '2021-04-01 01:13:00'), ('S8503706D', '2021-04-01 01:49:00', 28, '2021-04-01 02:13:00'), ('S8503706D', '2021-04-01 02:26:00', 18, '2021-04-01 02:28:00'), ('S8503706D', '2021-04-01 03:11:00', 74, '2021-04-01 03:33:00'), ('S8503706D', '2021-04-01 03:43:00', 58, '2021-04-01 03:55:00'), ('S8503706D', '2021-04-01 04:24:00', 18, '2021-04-01 04:54:00'), ('S8503706D', '2021-04-01 05:07:00', 71, '2021-04-01 05:29:00'), ('S8503706D', '2021-04-01 05:38:00', 79, '2021-04-01 05:51:00'), ('S8503706D', '2021-04-01 06:31:00', 3, '2021-04-01 06:56:00'), ('S8503706D', '2021-04-01 07:03:00', 12, '2021-04-01 07:23:00'), ('S8503706D', '2021-04-01 07:36:00', 59, '2021-04-01 08:04:00'), ('S8503706D', '2021-04-01 08:23:00', 78, '2021-04-01 08:46:00'), ('S8503706D', '2021-04-01 08:53:00', 49, '2021-04-01 09:02:00'), ('S8503706D', '2021-04-01 09:23:00', 77, '2021-04-01 09:35:00'), ('S8503706D', '2021-04-01 10:14:00', 61, '2021-04-01 10:21:00'), ('S8503706D', '2021-04-01 11:13:00', 23, '2021-04-01 11:31:00'), ('S8503706D', '2021-04-01 12:04:00', 53, '2021-04-01 12:22:00'), ('S8503706D', '2021-04-01 12:45:00', 63, '2021-04-01 12:55:00'), ('S8503706D', '2021-04-01 13:16:00', 7, '2021-04-01 13:24:00'), ('S8503706D', '2021-04-01 13:57:00', 61, '2021-04-01 14:10:00'), ('F9996605W', '2021-03-24 00:53:00', 61, '2021-03-24 01:05:00'), ('F9996605W', '2021-03-24 01:40:00', 24, '2021-03-24 02:10:00'), ('F9996605W', '2021-03-24 02:28:00', 23, '2021-03-24 02:28:00'), ('F9996605W', '2021-03-24 03:09:00', 44, '2021-03-24 03:35:00'), ('F9996605W', '2021-03-24 03:42:00', 20, '2021-03-24 04:01:00'), ('F9996605W', '2021-03-24 04:30:00', 47, '2021-03-24 04:36:00'), ('F9996605W', '2021-03-24 05:10:00', 18, '2021-03-24 05:35:00'), ('F9996605W', '2021-03-24 06:01:00', 60, '2021-03-24 06:16:00'), ('F9996605W', '2021-03-24 06:54:00', 63, '2021-03-24 07:24:00'), ('F9996605W', '2021-03-24 07:27:00', 20, '2021-03-24 07:52:00'), ('F9996605W', '2021-03-24 08:15:00', 37, '2021-03-24 08:28:00'), ('F9996605W', '2021-03-24 09:08:00', 32, '2021-03-24 09:23:00'), ('F9996605W', '2021-03-24 10:03:00', 10, '2021-03-24 10:17:00'), ('F9996605W', '2021-03-24 10:37:00', 14, '2021-03-24 10:54:00'), ('F9996605W', '2021-03-24 11:22:00', 57, '2021-03-24 11:38:00'), ('F9996605W', '2021-03-24 12:19:00', 29, '2021-03-24 12:27:00'), ('F9996605W', '2021-03-24 12:57:00', 16, '2021-03-24 13:24:00'), ('F9996605W', '2021-03-24 13:27:00', 46, '2021-03-24 13:49:00'), ('F9996605W', '2021-03-24 14:24:00', 32, '2021-03-24 14:42:00'), ('F9996605W', '2021-03-24 15:21:00', 58, '2021-03-24 15:21:00'), ('F9996605W', '2021-03-25 00:36:00', 3, '2021-03-25 00:38:00'), ('F9996605W', '2021-03-25 01:27:00', 70, '2021-03-25 01:37:00'), ('F9996605W', '2021-03-25 02:09:00', 54, '2021-03-25 02:17:00'), ('F9996605W', '2021-03-25 02:49:00', 2, '2021-03-25 03:18:00'), ('F9996605W', '2021-03-25 03:38:00', 40, '2021-03-25 03:56:00'), ('F9996605W', '2021-03-25 04:26:00', 69, '2021-03-25 04:38:00'), ('F9996605W', '2021-03-25 04:56:00', 29, '2021-03-25 05:07:00'), ('F9996605W', '2021-03-25 05:50:00', 38, '2021-03-25 06:20:00'), ('F9996605W', '2021-03-25 06:40:00', 30, '2021-03-25 06:50:00'), ('F9996605W', '2021-03-25 07:39:00', 29, '2021-03-25 08:03:00'), ('F9996605W', '2021-03-25 08:13:00', 60, '2021-03-25 08:43:00'), ('F9996605W', '2021-03-25 08:47:00', 7, '2021-03-25 09:14:00'), ('F9996605W', '2021-03-25 09:34:00', 61, '2021-03-25 09:34:00'), ('F9996605W', '2021-03-25 10:17:00', 8, '2021-03-25 10:40:00'), ('F9996605W', '2021-03-25 11:13:00', 45, '2021-03-25 11:27:00'), ('F9996605W', '2021-03-25 12:06:00', 62, '2021-03-25 12:27:00'), ('F9996605W', '2021-03-25 12:57:00', 74, '2021-03-25 13:10:00'), ('F9996605W', '2021-03-25 13:34:00', 49, '2021-03-25 13:37:00'), ('F9996605W', '2021-03-25 14:26:00', 48, '2021-03-25 14:42:00'), ('F9996605W', '2021-03-25 15:18:00', 15, '2021-03-25 15:29:00'), ('F9996605W', '2021-03-26 00:47:00', 6, '2021-03-26 01:05:00'), ('F9996605W', '2021-03-26 01:40:00', 69, '2021-03-26 02:02:00'), ('F9996605W', '2021-03-26 02:15:00', 42, '2021-03-26 02:37:00'), ('F9996605W', '2021-03-26 03:09:00', 33, '2021-03-26 03:26:00'), ('F9996605W', '2021-03-26 03:41:00', 14, '2021-03-26 03:43:00'), ('F9996605W', '2021-03-26 04:15:00', 60, '2021-03-26 04:26:00'), ('F9996605W', '2021-03-26 04:56:00', 76, '2021-03-26 05:12:00'), ('F9996605W', '2021-03-26 05:28:00', 74, '2021-03-26 05:46:00'), ('F9996605W', '2021-03-26 06:16:00', 35, '2021-03-26 06:27:00'), ('F9996605W', '2021-03-26 07:00:00', 5, '2021-03-26 07:20:00'), ('F9996605W', '2021-03-26 07:58:00', 78, '2021-03-26 08:02:00'), ('F9996605W', '2021-03-26 08:39:00', 13, '2021-03-26 08:49:00'), ('F9996605W', '2021-03-26 09:33:00', 33, '2021-03-26 09:38:00'), ('F9996605W', '2021-03-26 10:24:00', 69, '2021-03-26 10:45:00'), ('F9996605W', '2021-03-26 11:09:00', 68, '2021-03-26 11:31:00'), ('F9996605W', '2021-03-26 12:02:00', 29, '2021-03-26 12:10:00'), ('F9996605W', '2021-03-26 12:50:00', 54, '2021-03-26 13:05:00'), ('F9996605W', '2021-03-26 13:30:00', 3, '2021-03-26 13:43:00'), ('F9996605W', '2021-03-26 14:23:00', 1, '2021-03-26 14:53:00'), ('F9996605W', '2021-03-26 15:09:00', 64, '2021-03-26 15:10:00'), ('F9996605W', '2021-03-27 00:33:00', 13, '2021-03-27 01:03:00'), ('F9996605W', '2021-03-27 01:04:00', 7, '2021-03-27 01:28:00'), ('F9996605W', '2021-03-27 01:40:00', 51, '2021-03-27 01:54:00'), ('F9996605W', '2021-03-27 02:18:00', 49, '2021-03-27 02:28:00'), ('F9996605W', '2021-03-27 02:50:00', 60, '2021-03-27 03:13:00'), ('F9996605W', '2021-03-27 03:33:00', 16, '2021-03-27 03:53:00'), ('F9996605W', '2021-03-27 04:06:00', 6, '2021-03-27 04:31:00'), ('F9996605W', '2021-03-27 05:03:00', 14, '2021-03-27 05:18:00'), ('F9996605W', '2021-03-27 06:02:00', 54, '2021-03-27 06:14:00'), ('F9996605W', '2021-03-27 06:35:00', 35, '2021-03-27 06:35:00'), ('F9996605W', '2021-03-27 07:14:00', 9, '2021-03-27 07:18:00'), ('F9996605W', '2021-03-27 08:00:00', 58, '2021-03-27 08:11:00'), ('F9996605W', '2021-03-27 08:43:00', 77, '2021-03-27 09:06:00'), ('F9996605W', '2021-03-27 09:15:00', 55, '2021-03-27 09:25:00'), ('F9996605W', '2021-03-27 09:47:00', 40, '2021-03-27 10:17:00'), ('F9996605W', '2021-03-27 10:30:00', 31, '2021-03-27 10:46:00'), ('F9996605W', '2021-03-27 11:00:00', 42, '2021-03-27 11:03:00'), ('F9996605W', '2021-03-27 11:47:00', 51, '2021-03-27 12:14:00'), ('F9996605W', '2021-03-27 12:40:00', 2, '2021-03-27 13:00:00'), ('F9996605W', '2021-03-27 13:36:00', 45, '2021-03-27 14:06:00'), ('F9996605W', '2021-03-28 00:50:00', 12, '2021-03-28 01:10:00'), ('F9996605W', '2021-03-28 01:25:00', 52, '2021-03-28 01:38:00'), ('F9996605W', '2021-03-28 02:00:00', 46, '2021-03-28 02:01:00'), ('F9996605W', '2021-03-28 02:49:00', 63, '2021-03-28 03:17:00'), ('F9996605W', '2021-03-28 03:43:00', 32, '2021-03-28 04:07:00'), ('F9996605W', '2021-03-28 04:31:00', 0, '2021-03-28 04:38:00'), ('F9996605W', '2021-03-28 05:29:00', 15, '2021-03-28 05:30:00'), ('F9996605W', '2021-03-28 06:09:00', 41, '2021-03-28 06:20:00'), ('F9996605W', '2021-03-28 06:41:00', 1, '2021-03-28 06:50:00'), ('F9996605W', '2021-03-28 07:12:00', 64, '2021-03-28 07:38:00'), ('F9996605W', '2021-03-28 07:51:00', 48, '2021-03-28 08:12:00'), ('F9996605W', '2021-03-28 08:39:00', 57, '2021-03-28 09:08:00'), ('F9996605W', '2021-03-28 09:17:00', 15, '2021-03-28 09:30:00'), ('F9996605W', '2021-03-28 09:58:00', 79, '2021-03-28 10:13:00'), ('F9996605W', '2021-03-28 10:38:00', 52, '2021-03-28 11:03:00'), ('F9996605W', '2021-03-28 11:13:00', 65, '2021-03-28 11:39:00'), ('F9996605W', '2021-03-28 11:56:00', 51, '2021-03-28 12:15:00'), ('F9996605W', '2021-03-28 12:28:00', 73, '2021-03-28 12:29:00'), ('F9996605W', '2021-03-28 13:07:00', 14, '2021-03-28 13:33:00'), ('F9996605W', '2021-03-28 13:52:00', 17, '2021-03-28 14:05:00'), ('F9996605W', '2021-03-29 00:33:00', 34, '2021-03-29 01:00:00'), ('F9996605W', '2021-03-29 01:08:00', 46, '2021-03-29 01:28:00'), ('F9996605W', '2021-03-29 01:45:00', 54, '2021-03-29 02:02:00'), ('F9996605W', '2021-03-29 02:27:00', 67, '2021-03-29 02:41:00'), ('F9996605W', '2021-03-29 02:58:00', 63, '2021-03-29 03:15:00'), ('F9996605W', '2021-03-29 03:42:00', 80, '2021-03-29 04:12:00'), ('F9996605W', '2021-03-29 04:12:00', 64, '2021-03-29 04:19:00'), ('F9996605W', '2021-03-29 04:54:00', 43, '2021-03-29 05:05:00'), ('F9996605W', '2021-03-29 05:27:00', 16, '2021-03-29 05:34:00'), ('F9996605W', '2021-03-29 06:00:00', 14, '2021-03-29 06:19:00'), ('F9996605W', '2021-03-29 06:41:00', 50, '2021-03-29 07:05:00'), ('F9996605W', '2021-03-29 07:11:00', 40, '2021-03-29 07:25:00'), ('F9996605W', '2021-03-29 07:54:00', 54, '2021-03-29 07:55:00'), ('F9996605W', '2021-03-29 08:52:00', 32, '2021-03-29 09:17:00'), ('F9996605W', '2021-03-29 09:31:00', 48, '2021-03-29 09:59:00'), ('F9996605W', '2021-03-29 10:18:00', 4, '2021-03-29 10:29:00'), ('F9996605W', '2021-03-29 11:14:00', 6, '2021-03-29 11:44:00'), ('F9996605W', '2021-03-29 12:10:00', 33, '2021-03-29 12:28:00'), ('F9996605W', '2021-03-29 12:45:00', 78, '2021-03-29 13:06:00'), ('F9996605W', '2021-03-29 13:36:00', 37, '2021-03-29 13:46:00'), ('F9996605W', '2021-03-30 00:49:00', 13, '2021-03-30 01:12:00'), ('F9996605W', '2021-03-30 01:31:00', 72, '2021-03-30 01:39:00'), ('F9996605W', '2021-03-30 02:27:00', 35, '2021-03-30 02:57:00'), ('F9996605W', '2021-03-30 03:02:00', 26, '2021-03-30 03:29:00'), ('F9996605W', '2021-03-30 03:39:00', 10, '2021-03-30 03:57:00'), ('F9996605W', '2021-03-30 04:23:00', 48, '2021-03-30 04:40:00'), ('F9996605W', '2021-03-30 05:00:00', 16, '2021-03-30 05:11:00'), ('F9996605W', '2021-03-30 05:41:00', 12, '2021-03-30 05:43:00'), ('F9996605W', '2021-03-

## Generate Ratings Values()

```
Ratings(
	userId VARCHAR(15),
	check_in_time DATETIME NOT NULL,
	location_id INT,
	rate TINYINT NOT NULL,
	review VARCHAR(200)
)
```

In [ ]:
ratings_values = []
for i in range(0, MAX_INDEX):
    rand_index = random.randint(0, MAX_INDEX-1)
    rand_rating = 1

    if i < 50:
      rand_rating = 5
    elif i > 100 and i < 75:
      rand_rating = random.randint(3,4)
    else:
      rand_rating = random.randint(1,2)

    # print(rand_rating)

    ratings_values += [(
        checkInOut_Values[i][0],      # CheckInOut's UserID
        checkInOut_Values[i][1],      # CheckInOut's Check_In_Time, so have results when JOIN tables
        checkInOut_Values[i][2],      # location_id
        rand_rating,                   # rating 1-5 stars
        generate_random_text(random.randint(10,20))                 # review message
    )]

print(len(ratings_values))

500

## Generate Messages Values()

```
Messages_(
	msg_id INT IDENTITY(1,1),
	msg_time DATETIME NOT NULL,
	msg_text VARCHAR(500) NOT NULL, 
	location_id INT NOT NULL,
	user_id VARCHAR(15) NOT NULL
)
```

In [ ]:
MSGS_VALUES_TO_GEN = 50

messages_values = []
for i in range(0, MSGS_VALUES_TO_GEN):
    rand_index = random.randint(0, MAX_INDEX-1)
    messages_values += [(
        str(generate_random_timestamp()),             # msg_time 
        generate_random_text(random.randint(10, 30)),                      # msg_text
        random.randint(1, 25),                   # location_id
        userIDs[random.randint(0,len(userIDs)-1)]  # userId
    )]

print(messages_values)

[('2021-01-03 16:25:44', 'Force and create can size last him dinner collection offer very choose develop activity.', 1, 'S3052534E'), ('2021-02-25 12:20:06', 'Reflect decision next century draw pressure discover reason smile various drug respond policy discussion analysis floor first.', 5, 'T9249758A'), ('2021-01-12 11:17:50', 'Down three over degree away nothing how mind where cell cold building color walk low nor and too PM picture service since certain law manage tend way little water billion.', 9, 'S6424356Z'), ('2021-02-01 13:52:33', 'Scene go quickly respond mother deal ground computer growth establish apply hot.', 15, 'S8121674F'), ('2020-12-05 13:16:01', 'Record mention message training per only security interest member purpose song loss firm brother person candidate kid everybody sense yes strong want time space seat deal.', 13, 'G6394470Q'), ('2020-12-01 13:17:49', 'Generation color figure fear speak material whose read return nor around fly trade force for.', 3, 'S9056097B'), ('2021-02-03 16:17:28', 'Thing seat analysis race can firm happy after page can wall baby success.', 19, 'F1741841Q'), ('2020-12-29 09:21:07', 'Far including near office both catch organization admit rich head difficult month record water newspaper professor hotel federal wide.', 4, 'F4464067T'), ('2021-03-05 07:47:03', 'Season themselves economy involve executive safe husband career others reach nice live manage yeah dog collection night cause decide set watch billion listen determine few north.', 16, 'S7667164H'), ('2021-03-06 07:01:41', 'Memory century participant lay use lose thing hospital start list.', 15, 'S6146942G'), ('2020-12-25 12:28:28', 'Another child national similar success PM season war forward recent fish anything age key little.', 4, 'S1660507G'), ('2021-01-16 13:47:24', 'Reach deal opportunity easy safe section whose simply strategy like when amount truth character know.', 22, 'S8928050H'), ('2021-02-02 01:01:39', 'Explain school behavior group throw behind know.', 14, 'S0420732G'), ('2021-01-23 15:48:53', 'Significant she take military fine off relationship concern true management.', 20, 'S0927931H'), ('2021-03-11 23:27:13', 'Brother ground look newspaper message by officer represent wrong kind cover case produce you.', 17, 'S0777624A'), ('2021-02-20 01:00:41', 'Perhaps administration wind result run relationship ask cell poor say message new wide hope create leader door design local power north while family.', 4, 'S3640684D'), ('2021-02-26 14:54:07', 'Surface spend everything only much key yeah me sell physical financial protect somebody our ten few option sometimes mind appear bed.', 18, 'S3160517B'), ('2020-12-04 07:10:47', 'Whole reduce really have similar wonder score four reflect season face take raise quickly detail sea red spend experience girl thousand analysis establish social Congress various through away.', 6, 'T2507825F'), ('2021-01-22 12:16:10', 'Push difference partner will case along lay best majority according song control read everybody media later nature may car bill staff because least once get pattern term.', 12, 'S6917778F'), ('2021-03-09 14:43:21', 'Thus set gun art how campaign group until agreement consider last chair discuss.', 23, 'T1551117B'), ('2021-03-17 05:35:51', 'One husband particular girl without support lawyer or issue nature operation single them laugh drop sign Democrat accept purpose parent into operation.', 14, 'T6418963D'), ('2021-01-03 21:47:12', 'Choose friend surface senior before east morning begin myself interview himself tell decide make opportunity research recognize land maintain church dinner if for some great help.', 24, 'F3109328R'), ('2020-12-05 23:13:26', 'Near career any kid away provide amount hundred worker official management after often line suddenly prepare bank understand cover evidence everybody husband different anyone subject forward others him.', 1, 'S4513401F'), ('2021-02-17 22:03:14', 'Economy character economy term system generation reflect any after before situation account recent low unit follow role research full water author.', 13, 'T2800641H'), ('2021-01-25 22:39:34', 'Support I player while which medical he if threat.', 15, 'F1741841Q'), ('2021-02-13 21:43:42', 'Traditional able weight from five others simply than these ground.', 24, 'F1831527X'), ('2021-01-18 03:36:28', 'Any customer PM fly order have black police rise agree window across rate he identify hand seem probably receive action behavior soldier town international about not writer.', 15, 'S7240042I'), ('2021-01-20 10:36:54', 'However civil floor budget next challenge laugh big rate myself.', 9, 'S9957195J'), ('2020-12-04 07:19:59', 'She town probably another fill about page election nearly deep machine loss mean true forward future PM.', 4, 'S8928050H'), ('2020-12-27 16:42:48', 'Particular deal start condition his garden recent bank performance about dog sound majority night fish determine.', 11, 'T3518247G'), ('2021-01-26 16:00:38', 'Run claim crime store popular sell shake anyone order call international story avoid.', 9, 'S3424299B'), ('2020-12-31 19:10:01', 'Treat different role kid himself room around sign truth certain apply Mr out month parent financial character become.', 4, 'S7240042I'), ('2021-02-01 15:56:38', 'Face message quality region people identify each seek majority game event energy military.', 1, 'S7696266I'), ('2021-02-03 14:23:35', 'Black draw dog walk game accept throughout face some rich place task sign some family center tell order star good value positive court base fly weight apply force difference last figure management law senior range ago professor just.', 1, 'F9489461K'), ('2020-12-17 08:52:50', 'Stand show heavy who why marriage prevent fill thing evening front heavy throw record more big south gun on realize perhaps.', 12, 'S0420732G'), ('2020-12-17 13:27:37', 'Tell carry better debate it left color institution dinner child career back order worker ago long above blood catch story as.', 9, 'F9489461K'), ('2020-12-18 21:28:07', 'Two foreign beat wife political final staff career argue various range education decision manager national world outside.', 21, 'F0246209P'), ('2021-01-17 01:00:13', 'Such address someone whom visit discussion professional remember strong shake believe.', 5, 'T2507825F'), ('2021-02-28 18:48:03', 'Determine less house they list oil generation yeah project shake with help which tend direction life almost.', 18, 'S3829243I'), ('2021-02-06 22:50:38', 'Probably draw phone economic hundred again student when prepare perform nearly above watch director spend goal middle move between arm institution no future much financial.', 18, 'S8928050H'), ('2021-03-12 16:49:19', 'Picture feeling sense order know civil happy although middle force care.', 13, 'S3762586H'), ('2020-12-06 18:37:27', 'Factor economic director interview trade relationship town bag its since something white true learn sign change half either because mother without.', 16, 'S8121674F'), ('2021-03-05 23:51:28', 'Director show development this police involve perform accept kind through small expert baby model summer amount challenge traditional TV statement do late hold discuss.', 25, 'T5327510E'), ('2021-01-23 12:39:01', 'Sea race agency international security walk usually early person.', 20, 'S5290691A'), ('2021-02-09 12:42:16', 'Build international issue training choose child throw side food program wife reveal son good gas role stand final nice former.', 14, 'S0406338D'), ('2020-12-31 14:49:35', 'Kind popular message less weight house rock save imagine hard boy art movement site apply provide attention miss per.', 4, 'S0777624A'), ('2021-01-28 09:10:58', 'Court how right rate popular past now control because ago recently entire television nor write realize successful example particular car its build impact understand lay able fire fish training conference now.', 2, 'F3014607R'), ('2021-01-22 10:24:36', 'Where try ago lead claim shoulder value order beautiful not exist employee institution this region ok argue place know six small throw him over pass huge stand agree success involve leader poor.', 11, 'S3435841I'), ('2021-02-28 00:05:18', 'Everybody blue weight sport here quickly old amount also.', 24, 'F4464067T'), ('2021-02-22 12:17:42', 'Something example sort modern some oil stage during according long risk PM reduce account win since large.', 2, 'T2800641H')]

## Generate Coordinates Values()

```
user_id varchar(15) NOT NULL,
time_stamp DATETIME NOT NULL, 
x_coords   DECIMAL(9,6)  NOT NULL, 
y_coords   DECIMAL(8,6)  NOT NULL
```

In [ ]:
# Coordinates VALUES()
VALUES_TO_GEN = 100

coordinates_values = []
for i in range(0, VALUES_TO_GEN):
    rand_addr = generate_random_address()             # get one address object
    coordinates_values += [(
        userIDs[random.randint(0, len(userIDs)-1)],   # user_id
        str(generate_random_timestamp()),             # time_stamp
        rand_addr['longitude_x'],                     # x_coords - get longitude in object
        rand_addr['latitude_y']                      # y_coords - get latitude in object
    )]

## Generate AdminMessages & ContactPersons INSERT Statements
```
AdminMessages(
	admin_id VARCHAR(15) NOT NULL ,
	msg_id INT NOT NULL
)

ContactPersonsMessages(
	contact_person_id VARCHAR(15) NOT NULL ,
#	msg_id INT NOT NULL,
)
```

In [ ]:
# Values()
ADMINMSG_VALUES_TO_GEN = 10
CONTACTP_VALUES_TO_GEN = 40

ContactPersonsIDs = [2,3,4,5] # TODO confirm with Kee Yang's Values

# Prevent indexing
if ADMINMSG_VALUES_TO_GEN+CONTACTP_VALUES_TO_GEN > MSGS_VALUES_TO_GEN:
  print('WARNING!\n You are generating more AdminMsgs and ContactPMsgs than actual Msgs!!!')

AdminMessages_values = []
for i in range(0, ADMINMSG_VALUES_TO_GEN):
    AdminMessages_values += [(
        userIDs[0],   # user_id
        i+1, # msg_id
    )]

ContactPersonsMessages_values = []
for i in range(0, CONTACTP_VALUES_TO_GEN):
    ContactPersonsMessages_values += [(
        userIDs[random.randint(0, 30)],   # user_id
        ADMINMSG_VALUES_TO_GEN+i, # first 10 is AdminMessages
    )]


#debug
print(AdminMessages_values)
print(ContactPersonsMessages_values)

[('S4513401F', 1), ('S4513401F', 2), ('S4513401F', 3), ('S4513401F', 4), ('S4513401F', 5), ('S4513401F', 6), ('S4513401F', 7), ('S4513401F', 8), ('S4513401F', 9), ('S4513401F', 10)]
[('G4379363U', 10), ('S3052534E', 11), ('T2800641H', 12), ('F4464067T', 13), ('S8681375J', 14), ('S4556192E', 15), ('F0487635X', 16), ('S0313439C', 17), ('S3690084I', 18), ('F9996605W', 19), ('F4464067T', 20), ('S8503706D', 21), ('G6322196T', 22), ('S9291653G', 23), ('F9996605W', 24), ('S4513401F', 25), ('S4556192E', 26), ('S9291653G', 27), ('T1551117B', 28), ('F3109328R', 29), ('S2296776B', 30), ('S6917778F', 31), ('S6917778F', 32), ('T1211517I', 33), ('F4329617P', 34), ('T1211517I', 35), ('T1551117B', 36), ('S4513401F', 37), ('T9916373E', 38), ('S9291653G', 39), ('S9291653G', 40), ('S4513401F', 41), ('S9282760G', 42), ('S4513401F', 43), ('S4513401F', 44), ('S6917778F', 45), ('T1551117B', 46), ('S3052534E', 47), ('F4329617P', 48), ('G3512210P', 49)]

## Generate Comments Values()

```
Comments (
	user_id VARCHAR(15) NOT NULL,
	msg_id INT NOT NULL,
	time_stamp DATETIME NOT NULL,
  msg_text VARCHAR(500) NOT NULL
)
```

In [ ]:
# Values()
COMMENTS_VALUES_TO_GEN = 200

Comments_values = []
for i in range(0, COMMENTS_VALUES_TO_GEN):
    Comments_values += [(
        userIDs[random.randint(0, len(userIDs)-1)],
        random.randint(1, MSGS_VALUES_TO_GEN-1),
        str(generate_random_timestamp1(datetime(2021,2,25, 0,0,0), datetime(2021,3,30, 23,59,59))),
        generate_random_text(random.randint(12,30))
    )]
print(Comments_values)

[('S0420732G', 11, '2021-03-06 08:46:52', 'Well follow young whether most continue sing light line certain they only call together set station tree foreign need Republican lot case first candidate moment might employee process article toward experience ever meet nearly into impact month book book hundred.'), ('S0315244H', 29, '2021-03-08 22:57:13', 'Force local none market should call thing situation outside idea street man enough strategy interest best huge front evening former hotel kind candidate born common foot yourself finally window walk light marriage.'), ('S0332228I', 23, '2021-03-10 00:37:16', 'Forward summer benefit cell news soldier whole poor relationship treatment more never view those building investment just several charge including receive meet lawyer may.'), ('T6774220B', 8, '2021-03-18 11:18:09', 'Forward century indeed investment bad three price score activity during against environment employee out recognize perform traditional machine trouble fine front.'), ('S9957195J', 31, '2021-03-09 01:42:37', 'Affect hard sea off pass office into miss page certainly wear mother blue usually.'), ('G6322196T', 41, '2021-03-09 06:53:54', 'According race century some to whatever agree write concern happen inside girl can crime senior game service make.'), ('F3014607R', 26, '2021-03-04 18:28:21', 'Traditional moment to say member child central technology join left relate letter goal she hour.'), ('S0406338D', 19, '2021-03-04 00:19:55', 'Century actually let trade tend minute career southern despite security eat product call style success special team.'), ('T6648324F', 48, '2021-03-25 14:48:00', 'Else war garden sell task audience best true child step help huge.'), ('S9056097B', 20, '2021-02-27 21:23:17', 'Policy lay son majority deep civil statement which star age worker serve network rock management low ask home read of pass also.'), ('S4929837D', 39, '2021-03-19 04:50:10', 'Important these miss rate market vote raise who choice fine moment research reflect yet inside reflect white nearly budget find run loss contain herself fear writer ahead since month play.'), ('S6849117G', 6, '2021-03-17 10:35:20', 'Four kid crime skin while bag often out let fish information forget phone change set real gun image measure situation old other black produce wonder everyone.'), ('T2800641H', 38, '2021-03-10 14:17:44', 'Eight red dog suggest range sea result financial hand describe society or.'), ('T0591842H', 1, '2021-03-15 10:37:40', 'Pull evening top miss myself rule concern section agree information these town size say.'), ('F3109328R', 20, '2021-02-28 15:57:18', 'Occur and interview himself career machine system century fight bit wear third voice time sing voice develop.'), ('S4610540J', 38, '2021-03-22 18:37:23', 'Tough choice every identify member star gas really front speak effort stay most similar job pick authority organization see music agreement subject behind four hand continue pull live organization number.'), ('T5327510E', 7, '2021-03-21 14:49:33', 'Table management officer speech consider will while early stay be war radio because range these garden partner partner again change result book reach.'), ('S3762586H', 7, '2021-03-07 01:57:03', 'Deal in individual enjoy animal wind wish true either right section notice born consider son just add choose piece.'), ('T6648324F', 38, '2021-03-18 10:14:24', 'What hard bed worker success loss side consider hope character pretty eight else shoulder among tonight still fly theory build resource war story bring.'), ('S6431039I', 39, '2021-03-01 00:22:05', 'Inside senior small past number bank me figure environment analysis enter senior mother business interview entire senior national next.'), ('S1155343E', 4, '2021-03-26 10:47:25', 'Career shoulder message us heart fact finish chance station send thus quickly hot specific ten himself sound picture he method.'), ('T0591842H', 47, '2021-03-15 07:54:02', 'Field administration act who trouble fact drop agreement land bring including identify serve usually share back.'), ('S0927931H', 42, '2021-03-29 14:03:43', 'Decade management science color statement thus wife care wife white summer particular Mrs such garden forward.'), ('T9356182H', 28, '2021-03-06 10:24:22', 'Coach action other ok stand wonder with a within your right fact western week contain performance compare you pay down range play perhaps consider baby class less government decide per view cup civil card approach her catch.'), ('F4287016K', 44, '2021-03-18 22:20:33', 'Wish bring girl particularly again group fill different purpose edge.'), ('S7667164H', 11, '2021-03-24 12:57:18', 'Less guess story industry mind worry head oil organization travel purpose hear where almost response letter finish its produce yard leave although summer participant care among win fear Republican should age offer bed.'), ('S9282760G', 13, '2021-03-28 11:56:15', 'Increase through force heart though final ball into thousand drive expect moment or today sea people.'), ('S6438612C', 43, '2021-02-26 06:50:49', 'Election writer carry above if traditional draw share on degree above general guy left question always week let improve continue garden authority still voice.'), ('S6226647C', 1, '2021-03-14 09:38:44', 'Include glass beat cultural fill through exist ever day future trouble hold your interesting should third thousand them want same career contain gas offer side meeting concern cell capital already receive onto parent.'), ('S7240042I', 30, '2021-03-23 22:00:24', 'Present instead receive could war face book call leg move talk everybody.'), ('T5908324J', 42, '2021-03-20 06:25:03', 'Visit above cover detail agency tree lay off action water part crime part majority already stage receive later sport former fish maybe loss half hair red light no.'), ('S6438612C', 1, '2021-03-27 19:50:04', 'Human participant clear technology leave body management east change goal their tonight into.'), ('F3642115X', 33, '2021-02-25 12:14:16', 'Source at while computer condition according age rich sign hear table democratic pay yet senior season economy professional man memory its risk use production PM seat per.'), ('S8503706D', 7, '2021-02-27 16:11:48', 'Arm difference say certain of analysis how few action beautiful together because perhaps yard might expect modern million share.'), ('S4610540J', 46, '2021-03-09 00:29:54', 'Make face movement parent authority able hit make become.'), ('F4287016K', 39, '2021-03-05 05:57:11', 'Husband section common lose meeting fact evidence expect why condition imagine become figure fire produce sign information.'), ('S6917778F', 18, '2021-02-27 10:46:49', 'Least attack everyone campaign side girl between current in each let child major she hundred picture.'), ('S4369686F', 33, '2021-03-27 16:28:41', 'Play clear main we lay act over energy production strategy happy friend store thank rich.'), ('S5337409C', 18, '2021-03-12 22:09:29', 'Research baby continue human enter tonight treat figure since mother rather sign success strategy avoid catch buy turn onto last.'), ('F0487635X', 4, '2021-03-14 10:51:50', 'Present tax smile bed experience kid enter describe people development act rise third itself trade exactly quite too nature production.'), ('F1831527X', 48, '2021-03-28 04:30:59', 'Reflect remain anyone agree only treatment choose leave author raise goal several oil send process others rate eight certainly campaign let way.'), ('S1155343E', 7, '2021-03-06 16:31:35', 'Be brother run image decision thing method herself teach ground pay leave.'), ('G6394470Q', 20, '2021-03-03 12:10:29', 'Call rather also indeed detail suffer dream idea week better weight hotel citizen enter society always strong source cause community low exactly ability major camera usually available rate life body.'), ('T5327510E', 40, '2021-03-06 05:22:44', 'Represent true Congress group role mother part support agency use send expert American record after image probably former president group fill four account dog program less health.'), ('S2516784H', 24, '2021-03-29 05:33:59', 'I side again within move stock activity think fund country drug machine baby say region remember after international Democrat product without certainly.'), ('S6917778F', 27, '2021-03-04 19:54:49', 'Economy often analysis message hope house share sea attention what easy old sort anything bit feel information him front she professor.'), ('S0315244H', 24, '2021-03-28 02:06:19', 'Thought nor executive some design others low sport fish than question crime plan indicate assume drop treatment issue start ground southern water structure week.'), ('S8121674F', 1, '2021-03-19 15:40:35', 'Leg cultural speech decision respond try professor my put tax reason sign certain ability hand week against really source.'), ('S8133834E', 29, '2021-03-18 20:37:45', 'Star above heavy leader type along easy stand step green maintain interview keep song final water poor would rock all stay method opportunity wind special record author small unit although figure.'), ('S1660507G', 45, '2021-03-11 18:06:11', 'Happen about south laugh past operation begin art cultural side especially story authority now see community today growth husband raise body minute although rich church.'), ('S4055080A', 30, '2021-03-19 15:47:51', 'Kind all information manage court difference apply per act because service wish off not former foot push.'), ('S4929837D', 28, '2021-03-15 07:34:10', 'Its picture continue moment also table positive practice dog bit create Mrs.'), ('S0777624A', 26, '2021-03-29 20:27:28', 'Receive Mrs financial raise exist education citizen option me happy local reduce rate live customer.'), ('S3829243I', 16, '2021-03-16 14:16:36', 'Team spring agreement half culture history technology indeed western or together health leader too over why sometimes the your population.'), ('S3544579Z', 13, '2021-03-08 01:35:27', 'Drop dinner east stock president season where computer last future.'), ('S2296776B', 4, '2021-03-01 18:39:14', 'However social go not sign want drug east drug among product for save appear.'), ('S3690084I', 32, '2021-03-22 18:43:42', 'Answer option experience mention wide sense compare thing technology approach fire vote man recognize hospital.'), ('S5263571C', 2, '2021-03-04 11:02:35', 'Take do similar defense school always lay feeling organization.'), ('S4369686F', 48, '2021-03-14 18:09:14', 'Participant enter wear soon only doctor owner than example author small send mention determine.'), ('S3424299B', 39, '2021-03-22 10:28:36', 'Without central first stay particular game for box environmental laugh try visit western particular pretty later.'), ('S4252546D', 37, '2021-03-22 16:11:11', 'Deal wonder door reality political window too third administration shake born military capital television these force shoulder base chair relate.'), ('T9916373E', 9, '2021-03-13 08:35:06', 'Describe social friend less state discover sign ask majority positive involve force head nearly indicate every morning around artist history north matter school address case step about before size.'), ('F4287016K', 33, '2021-03-10 06:37:52', 'Simply protect strong able number determine someone parent activity many make husband go political chair everything trade drive sometimes free year near.'), ('F0246209P', 14, '2021-02-26 06:33:24', 'Dark sometimes these possible natural your support statement ok within teach action together seem say name with.'), ('G6394470Q', 15, '2021-03-21 23:54:33', 'Find reveal page miss score history poor middle check per some reveal check far plan show edge organization ready foot guy her.'), ('G6394470Q', 4, '2021-03-27 02:48:41', 'Listen light live in Republican series join upon finally box public ok cell growth race low dark fight owner eight capital effort own name money need might letter line our office land right thought.'), ('S0406338D', 37, '2021-03-10 05:39:57', 'Hear discussion green by different ball shake again lay free explain green agreement skill wall home wall continue ball movement explain develop could.'), ('S1952113C', 8, '2021-03-22 13:23:53', 'Education record represent kind bring include evidence about production one music attorney star loss water some mouth three officer machine situation under employee require world fast large blue.'), ('S4546686H', 46, '2021-03-14 19:54:27', 'Full mother move act establish official modern every if bill society administration site individual civil authority increase general hour those public project computer.'), ('G6394470Q', 30, '2021-03-24 19:57:13', 'Piece support drive its call common teacher third commercial include say order woman artist sport car inside region.'), ('G1928813M', 31, '2021-03-19 01:21:54', 'Tough write series operation approach hair book investment community recognize month available structure student a fund despite gun always Congress interest safe generation history lead their activity song condition accept.'), ('F1741841Q', 20, '2021-03-12 07:29:27', 'Area official allow into participant generation reduce perhaps both product official rock sister employee imagine rest power pass share significant leave behind most head cold eye increase particularly such.'), ('T1211517I', 13, '2021-03-28 12:30:57', 'Partner single carry few church cost itself line would church almost TV never establish lose like yes tonight war important city.'), ('F3642115X', 4, '2021-03-20 22:12:55', 'Western speak where drive bank TV seven body financial successful relationship course bag bed together able teach cultural.'), ('S5337409C', 31, '2021-03-23 17:47:13', 'History dog think wife me project apply dark sea customer hour four heart face impact garden or stock most information three too.'), ('F6251247N', 1, '2021-03-23 22:24:33', 'Down movement rule expect speech perform memory animal attorney finish relationship difficult third dinner money top line nation third arrive leader management performance building attention avoid good write also expert.'), ('S5263571C', 28, '2021-03-25 01:47:28', 'Chance professional at state attention that hope area hope treat.'), ('S7549043G', 6, '2021-03-30 14:51:42', 'Talk apply forget specific possible candidate nice free without evidence reason under product cause conference paper clearly story vote toward bed across close company detail kid own reality.'), ('S3690084I', 12, '2021-02-26 21:19:51', 'Them give worry figure boy involve friend word trip particularly generation part serve author where company study force political clear.'), ('S8133834E', 3, '2021-02-27 20:19:57', 'Identify tonight hear paper without suddenly worker myself use fine real fish dog hand goal meet get skill trouble common.'), ('T5908324J', 3, '2021-03-18 16:12:34', 'Plant less suggest himself summer bring property most everybody need hold newspaper ability if court effect.'), ('S5337409C', 22, '2021-03-14 03:47:27', 'Clearly ok war rate before respond blood floor compare over collection need.'), ('F0487635X', 18, '2021-03-27 00:20:29', 'Seven put fine culture tonight hear become country rest blue particularly hot mean catch record score military report member future help military size capital other machine condition.'), ('S0406338D', 34, '2021-03-18 21:14:13', 'School simple economic contain amount night five together participant order nature.'), ('G9053734U', 38, '2021-03-25 03:41:05', 'Sing image wonder anyone almost theory thing particular follow north especially officer perhaps phone travel bed approach letter main grow race.'), ('S7696266I', 28, '2021-03-27 19:34:03', 'Focus life stock bed may capital whole parent quickly actually this method finish small tonight blue.'), ('S4369686F', 47, '2021-03-18 17:20:48', 'Form wait whether improve different after success fact stand tonight collection total month early beat Mr card movie miss other possible think likely both agency subject half continue remain show those sign response.'), ('S0825633J', 19, '2021-03-24 18:35:06', 'And far southern end speech mouth method fly yeah about past herself someone cut how them thank create the almost sure left put defense seat ability.'), ('F4329617P', 49, '2021-03-08 15:04:32', 'Wind affect individual test option phone history eye sell operation part necessary ahead other amount look.'), ('S3890719J', 3, '2021-03-20 16:16:18', 'Within only career truth thought both response treatment go what say teach environment spring pay administration enough this education arrive what ahead right image nice home.'), ('S6917778F', 47, '2021-03-11 11:40:30', 'Majority collection consider book defense reality during approach loss say sell occur stage up Mrs heart population around run item wear my buy voice wide ground get south certainly see.'), ('F1741841Q', 45, '2021-03-26 09:59:45', 'Like activity beyond perform eye design such others herself fly just name physical.'), ('S9898035J', 49, '2021-03-30 03:47:29', 'Maybe change idea discuss family room quickly small sing sea democratic other economy sometimes.'), ('S0315244H', 28, '2021-03-28 14:18:08', 'Central I analysis treat street view guess mouth bar detail fast know rich them music party there business recognize mouth could manager ask resource ago sing.'), ('S1155343E', 10, '2021-03-28 01:04:05', 'Threat wonder law message way the necessary year data among these upon out score also paper skin watch sister shoulder college institution reflect administration whom court.'), ('S3160517B', 23, '2021-03-28 04:13:33', 'Report boy minute well effort worry individual lay large work effort describe relate edge amount senior next management contain four physical base water commercial else thank explain third push final.'), ('S6146942G', 22, '2021-03-22 21:47:45', 'Make already hour across future food picture talk answer pay remain culture keep hear to everything turn buy strong suddenly indicate.'), ('S0313439C', 4, '2021-03-15 21:18:50', 'Imagine standard air up administration until happen everybody decide management order exist check all for ask line list provide any find whether meet manager although first no.'), ('S1155343E', 47, '2021-03-12 09:20:26', 'Foot already pay art family join theory assume worry kid property contain statement talk mother get rock.'), ('S8503706D', 20, '2021-03-05 02:57:42', 'At analysis exist wife commercial meet usually position know however west wide.'), ('S5263571C', 39, '2021-03-11 05:29:34', 'Idea police guess today clearly Congress mind could try cover cell fire shake question step community institution meeting little less pick debate unit.'), ('F9489461K', 30, '2021-03-15 12:23:10', 'Claim grow behind assume very lose indeed writer put doctor forget blood market sense religious feel cause town wish fall beat beautiful situation wish might authority action pretty to person.'), ('S6424356Z', 10, '2021-02-27 01:12:41', 'Sing its owner get side get recently arrive no cultural exist bring leader exist available respond available research.'), ('T7770561E', 37, '2021-03-19 20:18:55', 'Later down area mother save beyond language dinner eat year each have account within game recently cold.'), ('S0332228I', 40, '2021-03-08 12:30:31', 'Grow democratic resource cost leader discussion brother civil record evidence eye wait glass major news realize agent happen rock authority billion point difficult she.'), ('S1155343E', 26, '2021-03-15 02:29:15', 'Skill line past live picture capital into air officer situation yourself deep art guess weight book smile within house low young.'), ('S4556192E', 49, '2021-03-19 09:59:11', 'Section own room information two small employee modern that eye push red history.'), ('S6917778F', 31, '2021-03-23 22:29:28', 'Base contain down trial green born small continue respond hair participant identify health daughter public level develop party respond laugh rather family today war garden mention painting them.'), ('S9056097B', 40, '2021-03-28 00:52:32', 'Management base full something attack be about network suddenly gas mention store mouth report floor land opportunity relationship ball because.'), ('S6424356Z', 48, '2021-03-1

# KEE YANG

In [ ]:
# Generate SChedule INSERT Statements
# assuming userId list is populated with some random NRIC for me to use

def generate_Schedules(tableName,userIDs):
  if len(userIDs)>0:
    # random.shuffle(userIDs)
    for u in userIDs:
      print(formatInsertQ(tableName,[],[u,generate_random_timestamp(),generate_random_address()['street name'], randint(1, 3) ]))

In [ ]:
#Generate Admin ids
#assuming admin_ids are seperate from user id

# def generate_admins_ids(n):
#   for i in range(n):
#     print(formatInsertQ('Admins',[],[generate_random_nric()]))

def generate_admins_ids_from_list(userIDs):
  # random.shuffle(userIDs)
  # if( n<= len(userIDs)):
    # for i in range(n):
  print(formatInsertQ('Admins',[],[userIDs[0]]))

generate_admins_ids_from_list(userIDs)
generate_admins_ids_from_list(userIDs)

INSERT INTO Admins VALUES ('S4513401F');
INSERT INTO Admins VALUES ('S4513401F');

In [ ]:
#Generate Test Result
# assuming -1 is inconclusive, 1 is positive, and 0 is negative
def generate_test_result_statues():
  testResults = ["positive","negative","inconclusive",  "to-be-scheduled", "test-to-be-taken"]
  for i in testResults:
    print(formatInsertQ('TestResults',[],[i]))

In [ ]:
# Generate temperatureDeclaration

def generate_temperature():
  return round(random.uniform(35,40), 2)

def generate_temperatureDeclare(tableName,userIDs):
  if len(userIDs)>0:
    # random.shuffle(userIDs)
    for u in userIDs:
      print(formatInsertQ(tableName,[],[u,generate_random_timestamp(),generate_temperature()]))

# // END: KEE YANG

# Delon's Functions

## generate_random_sex()

In [ ]:
def generate_random_sex():
  #mfo = 'M' if random.randint(0,2) == 0 else 'F'
  if random.randint(0,2) == 0:
    mfo = 'M'
  elif random.randint(0,2) == 1:
    mfo = 'O'
  else:
    mfo = 'F'
  
  return mfo
#debug
for i in range(0, 30):
  print(generate_random_sex())

O
F
F
O
F
F
O
O
M
O
F
F
F
F
M
F
F
M
M
M
M
M
F
F
F
O
F
O
F
M

## generate_random_BirthDate()

In [ ]:
def generate_random_BIRTHDATE():
    MINTIME = datetime(1930,1,1)
    MAXTIME = datetime(2005,3,30)

    mintime_ts = int(time.mktime(MINTIME.timetuple()))
    maxtime_ts = int(time.mktime(MAXTIME.timetuple()))

    random_ts = random.randint(mintime_ts, maxtime_ts)
    randomtime = datetime.fromtimestamp(random_ts)

    return str(randomtime.date())
#debug
# for i in range(1, 10):
#     print(generate_random_timestamp())

#print(generate_random_BIRTHDATE())

## generate_random_email()

In [ ]:
def generate_random_email(s):
  emailprefix = s.replace(" ", "")
  if random.randint(0,2) == 0:
    emailsuffix = "@gmail.com"
  elif random.randint(0,2) == 1:
    emailsuffix = "@outlook.com"
  else:
    emailsuffix = "@hotmail.com"
  return emailprefix + emailsuffix

#for i in range(0, 10):
  #print(generate_random_email(generate_random_name()))

## generate_company_email()

In [ ]:
NO_Company_TO_GENERATE = 30 
CompanyName = []
CompanyName = [generate_sg_company_name() for i in range(0,30)]

print(CompanyName)

companyemail = []

def generate_random_contactemail():
  startvalue = 0
  for i in range (0, 30):
    emailprefix = CompanyName[startvalue].replace(" ", "")
    removeSpecialChars = emailprefix.translate ({ord(c): "" for c in "!@#$%^&*()[]{};:,./<>?\|`~-=_+'"})
    if random.randint(0,2) == 0:
      emailsuffix = "@gmail.com"
    elif random.randint(0,2) == 1:
      emailsuffix = "@outlook.com"
    else:
      emailsuffix = "@hotmail.com"
    companyemail.append(removeSpecialChars + emailsuffix)
    startvalue += 1

generate_random_contactemail()
print(companyemail[0])

#for i in range(0, 30):
  #print(generate_random_contactemail(generate_sg_company_name()))

['GLOBAL ENERGY OVERSEAS PTE LTD', 'COE MARKETING (S) PTE LTD', 'M-DEC ENTERPRISE PTE LTD', 'LABQUIP (S) PTE LTD', 'PHEIM ASSET MANAGEMENT (ASIA) PTE LTD', 'HIAP LEE HUAT CO PTE LTD', 'EMSIL TECHNOLOGIES PTE LTD', 'ETHOZ GROUP LTD', 'CHIYODA INTEGRE CO (S) PTE LTD', 'WIRACO FORWARDING (PTE) LTD', 'ZAC N LIMOUSINE SERVICES', 'TAN CHONG & SONS MOTOR CO (S) PTE LTD', 'COASTAL OIL HOLDINGS PTE LTD', 'KOON CONSTRUCTION & TRANSPORT CO PTE LTD', 'KUO PROPERTIES PTE LTD', 'ORCHARD PARADE HOLDINGS LTD', 'LEEFON 2000 PTE LTD', 'CHAMOXA OFFICE AUTOMATION (S) PTE LTD', 'ERICSSON TELECOMMUNICATIONS PTE LTD', 'GROVEHILL PTE LTD', 'CREST TRAVEL & TOURS PTE LTD', 'NATSTEEL RECYCLING PTE LTD', 'PETROEAST SINGAPORE PTE LTD', 'CELLINI DESIGN CENTER PTE LTD', 'TONG AIK MARINE ENTERPRISE PTE LTD', 'PDL INTERNATIONAL PTE LTD', 'DREWCORP SERVICES PTE LTD', 'NICO STEEL SOLUTIONS (S) PTE LTD', 'ORCHARD CREDIT (PTE) LTD', 'BRIGHT PAPER CO PTE LTD']
GLOBALENERGYOVERSEASPTELTD@gmail.com

## generate_random_phone()

In [ ]:
def generate_random_phone():
  return random.randint(80000000,99999999)

for i in range(0, 10):
  print(generate_random_phone())

99413852
86337968
92133068
90951813
96202056
86663508
94620852
92863008
94074132
95041386

## generate_random_mailingaddress()

In [ ]:
mailingaddress = []
def generate_random_maillingaddress():
  startvalue = 0;
  for i in range(0, 30):
    mailingaddress.append(str(StreetName[startvalue]) + ' S' + str(random.randint(200000, 700100)) + " #" + str(random.randint(1, 30)) + "-" + str(random.randint(1, 99))) 
    startvalue += 1

generate_random_maillingaddress()

print(mailingaddress)

['19 Pandan Road S638155 #27-57', '94 West Coast Rise S664228 #7-39', '64 Springwood Close S381441 #7-70', '56 Kranji Link S358135 #5-63', '71 Tai Seng Drive S365118 #7-76', '69 Marshall Road S216488 #26-13', '28 West Coast View S411035 #5-27', '39 Jalan Tukang S585855 #19-69', '75 Chestnut Close S572486 #18-4', '87 Nepal Circus S626939 #20-80', '4 Carmichael Road S544806 #7-14', '45 Chuan Walk S341037 #13-15', '37 International Road S531598 #17-89', '30 Jalan Bahar S356218 #27-57', '62 Jalan Setia S696509 #14-1', '16 Aljunied Avenue 4 S511986 #17-18', '44 Boon Lay Way S348732 #1-40', '92 Jalan Gendang S587564 #6-95', '3 Choa Chu Kang Street 53 S528691 #20-13', '54 Bain Street S275774 #10-73', '37 Jalan Limau Nipis S397032 #13-67', '63 Nanyang Valley S399737 #15-84', '76 Jalan Dua S602340 #2-70', '56 Frankel Walk S532132 #10-45', '64 Jalan Ilmu S680707 #20-95', '29 Pasir Ris Street 51 S394892 #19-19', '12 Rifle Range Road S347689 #8-41', '95 Hertford Road S327693 #17-1', '55 Jalan Siantan S639712 #20-26', '8 Siglap Avenue S200198 #3-15']

In [ ]:
# generate country

countries = ['Singapore', 'Singapore', 'Singapore', 'Singapore', 'Singapore', 'Singapore', 'Singapore', 'UK', 'Indonesia', 'China', 'Malaysia', 'Thailand', 'Vietnam']

def generate_random_country():
  return countries[random.randint(0, len(countries)-1)]

# Generate FamilyMemberValues()

In [ ]:
familyIDs = []
familyIDs = [generate_random_nric() for i in range(0,30)]

print(familyIDs)

['S3818345A', 'S7782387E', 'S2856852E', 'S2426709A', 'S5640903C', 'S3659790I', 'S5462004G', 'S6742291J', 'T7251075A', 'S0502806Z', 'S4435312A', 'S1896519D', 'G8026034U', 'S1917465D', 'S5306758A', 'S7700724E', 'S9356174J', 'T9163593Z', 'S7207380J', 'T1546044F', 'S6528514B', 'S8253269B', 'S2392950C', 'G3560717Q', 'S0165475F', 'S6361862D', 'F9062198W', 'S8218921A', 'T2651889F', 'T5330272B']

In [ ]:
# generate X no. of values based on existing generated UserIDs
# VALUES(userID, family_member_id, rs_id)
VALUES_TO_GEN = 30

family_Values = []
for i in range(0, VALUES_TO_GEN):

    # add new SQL VALUE()
    family_Values += \
        [(
            userIDs[random.randint(0, len(userIDs)-1)], # existing generated user_id
            familyIDs[random.randint(0, len(familyIDs)-1)],           # uses new generated NRIC
            random.randint(0, 11),                      # assuming 0-11 the id mean one of the relations eg 0 = brother 1 = sister
         )]

print(family_Values)

[('G3512210P', 'S9356174J', 9), ('S6226647C', 'S1917465D', 9), ('S1660507G', 'S8253269B', 3), ('S9957195J', 'S4435312A', 2), ('T1703406A', 'T9163593Z', 10), ('T3518247G', 'T7251075A', 7), ('G6322196T', 'S5640903C', 5), ('S3690084I', 'T2651889F', 3), ('S3762586H', 'S5462004G', 10), ('S0825633J', 'G3560717Q', 11), ('S8503706D', 'S7700724E', 10), ('S3160517B', 'S8218921A', 6), ('F4017731X', 'G3560717Q', 0), ('S2296776B', 'S0502806Z', 8), ('S7667164H', 'S7207380J', 3), ('S3424299B', 'S7207380J', 1), ('T4424800F', 'S2426709A', 11), ('T6418963D', 'S4435312A', 5), ('G4379363U', 'S8218921A', 4), ('S7572937E', 'S2392950C', 8), ('S0315244H', 'T1546044F', 6), ('T6418963D', 'S5306758A', 7), ('F9996605W', 'F9062198W', 3), ('S2516784H', 'T7251075A', 9), ('F1019016U', 'S2856852E', 10), ('S0777624A', 'T9163593Z', 7), ('S2516784H', 'T9163593Z', 8), ('S0927931H', 'S2426709A', 5), ('T9916373E', 'S4435312A', 1), ('G4379363U', 'S2392950C', 0)]

# Generate User Values()

In [ ]:
VALUES_TO_GEN = 100

startValue = 0;

users_values = []
for i in range(0, VALUES_TO_GEN):
    rand_name = generate_random_name()
    users_values += [(
          userIDs[startValue],
          generate_random_name(),
          generate_random_sex(),         
          generate_random_BIRTHDATE(),
          generate_random_country(),
          generate_random_phone(),
          generate_random_email(rand_name),
          random.randint(1, 30)
    )]
    startValue += 1

print(users_values)

[('S4513401F', 'Jean Smith', 'O', '1999-08-07', 'Singapore', 89089341, 'TimWilkie@gmail.com', 21), ('S8928050H', 'Kara Wright', 'M', '1974-05-12', 'Singapore', 93503365, 'PatriciaJohnson@gmail.com', 24), ('F3109328R', 'Dovie Yocum', 'M', '1938-06-05', 'UK', 85448203, 'JohnDufilho@hotmail.com', 25), ('T7146842E', 'Jo Edmonds', 'F', '1997-02-16', 'Singapore', 88045248, 'GeraldGuzman@hotmail.com', 22), ('T9916373E', 'Janet Bristol', 'O', '1984-08-21', 'Singapore', 98453832, 'DwayneNunn@hotmail.com', 29), ('G4379363U', 'Lisa Waller', 'M', '1983-03-07', 'Indonesia', 95381754, 'JamesPhan@hotmail.com', 28), ('T1551117B', 'Cherie Khensovan', 'F', '2001-01-24', 'Singapore', 95226097, 'VincentWarfield@outlook.com', 23), ('G3512210P', 'Stephanie Timmerman', 'F', '1960-08-31', 'Singapore', 94486023, 'JohnVivier@hotmail.com', 14), ('S9291653G', 'John Romero', 'F', '1941-01-22', 'Singapore', 81223913, 'PeterBanks@gmail.com', 20), ('S8503706D', 'Douglas Robinson', 'F', '2003-12-01', 'Singapore', 95186686, 'LindaSmith@hotmail.com', 22), ('F9996605W', 'Ivan Garner', 'O', '1977-10-20', 'Malaysia', 91188329, 'SashaChasse@outlook.com', 7), ('F4464067T', 'Mary Roswick', 'M', '1959-06-04', 'Malaysia', 81952094, 'AnthonyBedeau@gmail.com', 24), ('S7667164H', 'Kathy Chan', 'M', '1950-12-06', 'Indonesia', 95470056, 'AnnaKimsey@hotmail.com', 14), ('S6917778F', 'David Elizondo', 'M', '1980-06-24', 'Thailand', 90775831, 'WilliamStevens@hotmail.com', 27), ('S7696266I', 'Martina Lennon', 'F', '2001-05-21', 'Singapore', 98371093, 'SarahWooten@gmail.com', 14), ('S4556192E', 'Alex Beaton', 'M', '1966-02-28', 'Singapore', 81069354, 'ErnestDaigle@outlook.com', 23), ('T1211517I', 'Thomas Ferguson', 'M', '1952-12-12', 'Singapore', 88762830, 'CurtisHayes@hotmail.com', 24), ('S2296776B', 'Loren Camacho', 'O', '1944-03-23', 'Singapore', 85330548, 'SeleneJosefy@hotmail.com', 11), ('S0313439C', 'Waylon Dolce', 'M', '1969-01-01', 'Vietnam', 92121246, 'WilliamAcosta@outlook.com', 18), ('S8133834E', 'Virginia Goldsmith', 'F', '1943-11-05', 'Singapore', 97610213, 'FrederickVillanueva@hotmail.com', 18), ('F0487635X', 'Aline Alcorn', 'F', '1994-03-25', 'China', 88250168, 'VickyStanley@gmail.com', 2), ('S6424356Z', 'Rose Reese', 'F', '1953-04-03', 'Singapore', 82301380, 'TonyFellman@gmail.com', 28), ('F4329617P', 'Timothy Wernimont', 'M', '1936-04-10', 'Singapore', 92980336, 'TammySteger@gmail.com', 26), ('G6322196T', 'Michael Rogalski', 'O', '1967-09-28', 'Thailand', 88269349, 'CarmenRios@gmail.com', 8), ('S3690084I', 'Shaun Mouzon', 'F', '1960-02-11', 'Malaysia', 91507304, 'EllenHallum@hotmail.com', 12), ('S6431039I', 'Michael Donohoe', 'M', '1973-01-27', 'Singapore', 94582427, 'AdamNunez@outlook.com', 8), ('S8681375J', 'Michelle Collins', 'O', '1956-06-07', 'Singapore', 97362312, 'HelenJames@hotmail.com', 23), ('T9356182H', 'Billie Lancon', 'F', '1961-12-16', 'Singapore', 98309846, 'RichardDecker@hotmail.com', 9), ('T2800641H', 'Harry Bernier', 'O', '2001-07-20', 'UK', 96854797, 'OpalScrabeck@gmail.com', 9), ('S9282760G', 'Gary Stump', 'O', '1978-01-10', 'Singapore', 98112916, 'CharlesCox@gmail.com', 18), ('S3052534E', 'Sally Laroche', 'O', '1984-05-13', 'Indonesia', 96564587, 'JessicaHale@hotmail.com', 28), ('S1952113C', 'John Bauman', 'F', '1979-04-15', 'Indonesia', 85091929, 'TaylorRizzio@gmail.com', 28), ('S4055080A', 'Lois Welty', 'F', '1934-06-01', 'UK', 87676164, 'EvelynKadis@outlook.com', 19), ('T7770561E', 'Donald Laster', 'M', '1936-04-24', 'Singapore', 94960113, 'BethHamilton@outlook.com', 18), ('S3890719J', 'Michael Sparks', 'M', '1970-11-29', 'Singapore', 88387045, 'HollyJackson@outlook.com', 21), ('S0825633J', 'Luke Gibson', 'F', '1959-09-02', 'China', 95502210, 'AlanCastillo@gmail.com', 8), ('F8393034U', 'Rickey Day', 'O', '1998-01-10', 'Indonesia', 88950661, 'JoanneCastaneda@gmail.com', 11), ('S5337409C', 'Vernon Hawley', 'F', '1934-08-28', 'Vietnam', 88329411, 'LarryBallintyn@gmail.com', 24), ('S3435841I', 'Anita Nguyen', 'F', '1981-07-22', 'Indonesia', 89134112, 'MiguelOrtiz@outlook.com', 26), ('S4929837D', 'Lauren Cook', 'F', '1997-06-10', 'UK', 84960075, 'RobertVillanueva@gmail.com', 13), ('S1155343E', 'Doris Matthews', 'M', '1996-07-09', 'Singapore', 84632161, 'BrockAcosta@hotmail.com', 28), ('S3160517B', 'Ivy Williams', 'F', '1935-04-21', 'UK', 98699166, 'JamesWhitney@hotmail.com', 18), ('S1660507G', 'David Doubet', 'O', '1932-10-03', 'Singapore', 90652659, 'JulieTalley@gmail.com', 22), ('S4610540J', 'Dwight Pool', 'O', '2003-06-15', 'UK', 87741224, 'RaulAquilar@hotmail.com', 22), ('S6849117G', 'Tim Perkins', 'F', '1993-01-05', 'Singapore', 82698716, 'JohnRinck@outlook.com', 22), ('F1831527X', 'Delbert Taylor', 'M', '1984-09-19', 'Singapore', 98593546, 'PatrickWendell@outlook.com', 27), ('S8121674F', 'Maria Chatcho', 'F', '1931-09-25', 'Singapore', 98628560, 'PhillisRoudebush@gmail.com', 2), ('T1703406A', 'John Soder', 'M', '1945-07-16', 'UK', 98127340, 'FranciscoRussell@hotmail.com', 20), ('S4252546D', 'Joan Musante', 'O', '1953-02-28', 'Vietnam', 88856493, 'AmandaMontes@hotmail.com', 18), ('S2516784H', 'Mark Lemmon', 'O', '1940-08-27', 'Singapore', 86885721, 'BrianWashington@outlook.com', 4), ('S7549043G', 'Joshua Garcia', 'F', '1933-11-23', 'Thailand', 84179012, 'RuthKirkwood@outlook.com', 9), ('S6226647C', 'Russel Cieslik', 'O', '1951-12-30', 'Singapore', 86689580, 'ChristinaMorley@hotmail.com', 15), ('S0420732G', 'Margaret Johnson', 'O', '1999-10-10', 'Singapore', 84551015, 'JamieEddy@gmail.com', 18), ('T6774220B', 'Nellie Mallari', 'M', '1996-05-14', 'Singapore', 88663052, 'NormaSisson@outlook.com', 24), ('T6648324F', 'Jose Benton', 'F', '1981-03-22', 'Thailand', 99819256, 'VickiMayfield@hotmail.com', 25), ('G1928813M', 'Gary Angelo', 'O', '2000-01-07', 'Malaysia', 95775824, 'BarbaraDean@gmail.com', 18), ('T2507825F', 'Robert Campbell', 'O', '1950-12-26', 'Indonesia', 91408196, 'CarolynConklin@gmail.com', 21), ('S4546686H', 'Jason Wortman', 'F', '1948-01-30', 'Singapore', 98295062, 'JohnBoxer@hotmail.com', 19), ('S6146942G', 'Stephen Haines', 'O', '1987-01-24', 'China', 84146101, 'EdgarPoe@gmail.com', 19), ('S0777624A', 'Joshua Lopez', 'O', '1984-01-26', 'Vietnam', 99937802, 'MarcellaSjogren@hotmail.com', 5), ('S3424299B', 'Marry Olesky', 'O', '1930-01-11', 'Singapore', 94959736, 'DerrickFoster@hotmail.com', 22), ('F3642115X', 'Laverne Mora', 'M', '1978-03-18', 'Thailand', 82045277, 'WayneCarter@hotmail.com', 3), ('S5482245F', 'Emogene Stringer', 'F', '1995-11-05', 'Singapore', 80578518, 'BradfordCarew@hotmail.com', 13), ('F9489461K', 'Josephine Hardeman', 'F', '1981-09-30', 'Singapore', 87202453, 'CharlesForman@gmail.com', 12), ('G6394470Q', 'Donald Donelson', 'F', '1972-10-24', 'Singapore', 83797610, 'DebraDoughty@hotmail.com', 13), ('S0406338D', 'Darin Brown', 'F', '1964-08-06', 'Singapore', 91188019, 'ElmerBess@gmail.com', 5), ('T3518247G', 'Roosevelt Marrero', 'F', '1981-05-28', 'Singapore', 96764486, 'JulietaTomlinson@hotmail.com', 26), ('S5290691A', 'Craig Niedzwiecki', 'F', '1938-05-01', 'Singapore', 84776208, 'NathanielVandekieft@outlook.com', 25), ('F0893906M', 'Louis Brown', 'O', '1966-09-29', 'Singapore', 81117795, 'JulianQueen@hotmail.com', 29), ('G9053734U', 'Charles Sheridan', 'M', '1990-10-08', 'Indonesia', 93548079, 'JefferyAnderson@gmail.com', 19), ('S6438612C', 'Su Hodges', 'F', '1956-10-03', 'Singapore', 98485548, 'StacyHolland@hotmail.com', 2), ('T5908324J', 'Carolyn Pertsovsky', 'M', '1990-03-02', 'UK', 85894449, 'EstelleRegan@gmail.com', 20), ('S5263571C', 'Veda Machin', 'F', '1999-02-21', 'Singapore', 91052229, 'NancyCarter@gmail.com', 25), ('T0591842H', 'Terra Totten', 'M', '1969-02-12', 'Indonesia', 94032311, 'JamesDestefano@hotmail.com', 30), ('F1741841Q', 'Phillip Martin', 'M', '1993-02-12', 'Singapore', 98782242, 'AdamRiley@hotmail.com', 10), ('S0315244H', 'Melvin Bui', 'F', '1945-04-04', 'Singapore', 94416618, 'YvetteBarnard@gmail.com', 13), ('F1019016U', 'William Christin', 'O', '1984-07-26', 'China', 81180877, 'NormaBurman@outlook.com', 8), ('S7572937E', 'Amy Blair', 'F', '1973-06-19', 'Singapore', 82294126, 'DoreenParedes@gmail.com', 20), ('S2659469C', 'Priscilla Garza', 'F', '1990-01-11', 'Singapore', 91149230, 'DiegoLewis@hotmail.com', 25), ('F4017731X', 'Vivian Kelly', 'O', '1968-10-09', 'UK', 93562485, 'AnthonyHughes@gmail.com', 23), ('F3014607R', 'Stephanie Bonawitz', 'M', '1937-09-19', 'Singapore', 83269902, 'LauraDavis@hotmail.com', 1), ('F4287016K', 'David Reed', 'M', '1987-12-29', 'Singapore', 83044620, 'JosephAubert@gmail.com', 22), ('S4369686F', 'Richard Rader', 'O', '1998-04-05', 'Singapore', 86792191, 'BrandonCarroll@gmail.com', 20), ('T4424800F', 'Dennis Elias', 'M', '1973-03-12', 'Singapore', 81715783, 'RigobertoWilliams@outlook.com', 6), ('S9056097B', 'Robert Cooper', 'O', '2000-05-14', 'Singapore', 91912901, 'DavidMathews@outlook.com', 12), ('S9898035J', 'Kendra Bell', 'O', '1950-08-31', 'Thailand', 92473209, 'GlennKaro@hotmail.com', 10), ('F0246209P', 'George Dangelo', 'M', '1995-06-18', 'Singapore', 92822238, 'DebraHunderlach@hotmail.com', 11), ('S3762586H', 'Harry Pham', 'F', '1985-04-27', 'Singapore', 96193992, 'JohnSunday@gmail.com', 19), ('S3829243I', 'Jennifer Garcia', 'F', '1931-12-31', 'Singapore', 81738159, 'KimJames@hotmail.com', 5), ('F6251247N', 'Evelyn Thompson', 'F', '1980-04-16', 'China', 81073550, 'SandraPillow@outlook.com', 14), ('S3640684D', 'Michael Gross', 'M', '1949-10-05', 'Singapore', 83351685, 'CassandraRodriguez@outlook.com', 25), ('T9249758A', 'Terry Hylan', 'M', '1947-06-15', 'Thailand', 89864125, 'WalterRoss@outlook.com', 1), ('S0927931H', 'Paul Kidwell', 'F', '1976-03-20', 'Singapore', 85771480, 'WilliamTavares@hotmail.com', 15), ('T6418963D', 'Rosalina Innis', 'F', '1955-08-29', 'Singapore', 81200767, 'StevenNaquin@gmail.com', 6), ('T5327510E', 'Michelle Capello', 'O', '1986-06-22', 'Singapore', 97433453, 'LindaHarris@hotmail.com', 27), ('S7240042I', 'Paul White', 'M', '1952-11-12', 'Singapore', 99722383, 'EdwinButterworth@hotmail.com', 5), ('S3544579Z', 'Paul Spencer', 'M', '1936-04-08', 'China', 99462761, 'BrianWeimar@hotmail.com', 29), ('S9957195J', 'Grant Mccormack', 'F', '1930-02-08', 'Singapore', 88282546, 'AnnVenecia@gmail.com', 19), ('T1641300Z', 'Aaron White', 'F', '1991-03-25', 'Vietnam', 97549382, 'BeatriceTaylor@gmail.com', 13), ('S0332228I', 'Richard Welch', 'F', '1932-02-25', 'Thailand', 89593593, 'LindaOsborne@hotmail.com', 9)]

# Generate Companies Values()

In [ ]:
COMPANY_VALUES_TO_GEN = 30

company_values = []
for i in range(0, COMPANY_VALUES_TO_GEN):
    company_values += [(
      CompanyName[i],
      mailingaddress[i],
      companyemail[i]     
    )]

print(company_values)

[('GLOBAL ENERGY OVERSEAS PTE LTD', '19 Pandan Road S638155 #27-57', 'GLOBALENERGYOVERSEASPTELTD@gmail.com'), ('COE MARKETING (S) PTE LTD', '94 West Coast Rise S664228 #7-39', 'COEMARKETINGSPTELTD@outlook.com'), ('M-DEC ENTERPRISE PTE LTD', '64 Springwood Close S381441 #7-70', 'MDECENTERPRISEPTELTD@gmail.com'), ('LABQUIP (S) PTE LTD', '56 Kranji Link S358135 #5-63', 'LABQUIPSPTELTD@outlook.com'), ('PHEIM ASSET MANAGEMENT (ASIA) PTE LTD', '71 Tai Seng Drive S365118 #7-76', 'PHEIMASSETMANAGEMENTASIAPTELTD@gmail.com'), ('HIAP LEE HUAT CO PTE LTD', '69 Marshall Road S216488 #26-13', 'HIAPLEEHUATCOPTELTD@outlook.com'), ('EMSIL TECHNOLOGIES PTE LTD', '28 West Coast View S411035 #5-27', 'EMSILTECHNOLOGIESPTELTD@gmail.com'), ('ETHOZ GROUP LTD', '39 Jalan Tukang S585855 #19-69', 'ETHOZGROUPLTD@hotmail.com'), ('CHIYODA INTEGRE CO (S) PTE LTD', '75 Chestnut Close S572486 #18-4', 'CHIYODAINTEGRECOSPTELTD@hotmail.com'), ('WIRACO FORWARDING (PTE) LTD', '87 Nepal Circus S626939 #20-80', 'WIRACOFORWARDINGPTELTD@hotmail.com'), ('ZAC N LIMOUSINE SERVICES', '4 Carmichael Road S544806 #7-14', 'ZACNLIMOUSINESERVICES@outlook.com'), ('TAN CHONG & SONS MOTOR CO (S) PTE LTD', '45 Chuan Walk S341037 #13-15', 'TANCHONGSONSMOTORCOSPTELTD@hotmail.com'), ('COASTAL OIL HOLDINGS PTE LTD', '37 International Road S531598 #17-89', 'COASTALOILHOLDINGSPTELTD@hotmail.com'), ('KOON CONSTRUCTION & TRANSPORT CO PTE LTD', '30 Jalan Bahar S356218 #27-57', 'KOONCONSTRUCTIONTRANSPORTCOPTELTD@hotmail.com'), ('KUO PROPERTIES PTE LTD', '62 Jalan Setia S696509 #14-1', 'KUOPROPERTIESPTELTD@outlook.com'), ('ORCHARD PARADE HOLDINGS LTD', '16 Aljunied Avenue 4 S511986 #17-18', 'ORCHARDPARADEHOLDINGSLTD@outlook.com'), ('LEEFON 2000 PTE LTD', '44 Boon Lay Way S348732 #1-40', 'LEEFON2000PTELTD@outlook.com'), ('CHAMOXA OFFICE AUTOMATION (S) PTE LTD', '92 Jalan Gendang S587564 #6-95', 'CHAMOXAOFFICEAUTOMATIONSPTELTD@hotmail.com'), ('ERICSSON TELECOMMUNICATIONS PTE LTD', '3 Choa Chu Kang Street 53 S528691 #20-13', 'ERICSSONTELECOMMUNICATIONSPTELTD@gmail.com'), ('GROVEHILL PTE LTD', '54 Bain Street S275774 #10-73', 'GROVEHILLPTELTD@outlook.com'), ('CREST TRAVEL & TOURS PTE LTD', '37 Jalan Limau Nipis S397032 #13-67', 'CRESTTRAVELTOURSPTELTD@outlook.com'), ('NATSTEEL RECYCLING PTE LTD', '63 Nanyang Valley S399737 #15-84', 'NATSTEELRECYCLINGPTELTD@gmail.com'), ('PETROEAST SINGAPORE PTE LTD', '76 Jalan Dua S602340 #2-70', 'PETROEASTSINGAPOREPTELTD@gmail.com'), ('CELLINI DESIGN CENTER PTE LTD', '56 Frankel Walk S532132 #10-45', 'CELLINIDESIGNCENTERPTELTD@hotmail.com'), ('TONG AIK MARINE ENTERPRISE PTE LTD', '64 Jalan Ilmu S680707 #20-95', 'TONGAIKMARINEENTERPRISEPTELTD@outlook.com'), ('PDL INTERNATIONAL PTE LTD', '29 Pasir Ris Street 51 S394892 #19-19', 'PDLINTERNATIONALPTELTD@gmail.com'), ('DREWCORP SERVICES PTE LTD', '12 Rifle Range Road S347689 #8-41', 'DREWCORPSERVICESPTELTD@hotmail.com'), ('NICO STEEL SOLUTIONS (S) PTE LTD', '95 Hertford Road S327693 #17-1', 'NICOSTEELSOLUTIONSSPTELTD@outlook.com'), ('ORCHARD CREDIT (PTE) LTD', '55 Jalan Siantan S639712 #20-26', 'ORCHARDCREDITPTELTD@gmail.com'), ('BRIGHT PAPER CO PTE LTD', '8 Siglap Avenue S200198 #3-15', 'BRIGHTPAPERCOPTELTD@hotmail.com')]

## Company ContactPersons

In [ ]:
# #Generate ContactPerson
# def generate_temperaryCompany():
#   return random.sample(range(1, 11), 10)# up to 10 company

# many contact person can work for one company 
def generate_ContactPersons():
  if len(userIDs)>0:
    # random.shuffle(userIDs)
    for i in range(0, len(company_values)):
      print(formatInsertQ("ContactPersons",[],[userIDs[i], i+1]))

# generate_ContactPersons()

# Generate Relationships

In [ ]:
#Generate family relationships
def generate_family_relationships():
  family = ["brother","sister","brother-in-law","sister-in-law","mother", "father","mother-in-law", "father-in-law","uncle","aunty","grandfather","grandmother", "husband", "wife"]
  for i in family:
    print(formatInsertQ('Relationships',[],[i]))

# generate_family_relationships()

#Generate Location Dummy Data

```
CREATE TABLE Locations (
    location_id   INTEGER  identity(1,1) NOT NULL,
    loc_address varchar(100),
    loc_name varchar(100),
    description varchar(255),
    x_coords DECIMAL(9,6) NOT NULL,
    y_coords DECIMAL(8,6) NOT NULL,
    PRIMARY KEY(location_id)
);
```

In [ ]:
test = generate_sg_company_name()

if test[-8:] == " PTE LTD":
  print(test[:-8])
else:
  print(test)

print(generate_random_address()['street name'] + ' S' + str(random.randint(200000, 700100)) + " #" + str(random.randint(1, 30)) + "-" + str(random.randint(1, 99)))

GATEWAY ENTERTAINMENT
31 Pavilion Place S418551 #30-84

In [ ]:
import random
import string

LOC_VALUES_TO_GEN = 100

# col1 = [tple[2] for tple in coordinates_values]
# col2 = [tple[3] for tple in coordinates_values]

location_values = []
for i in range(0, LOC_VALUES_TO_GEN):
  rand_addr = generate_random_address()
  
  location_values += [(
    rand_addr['street name'] + ' S' + str(random.randint(200000, 700100)) + " #" + str(random.randint(1, 30)) + "-" + str(random.randint(1, 99)), #loc_address
    rand_addr['street name'], #loc_name
    generate_random_text(8), #description
    rand_addr['longitude_x'], # x_coords - get longitude in object
    rand_addr['latitude_y'] # y_coords - get latitude in object 
  )]

print(location_values)

[('97 Chuan Walk S339201 #1-54', '97 Chuan Walk', 'Say them style particular realize.', 103.8677, 1.3567), ('79 Rodyk Street S583545 #25-98', '79 Rodyk Street', 'Account firm middle style explain about hit policy whether.', 103.8383, 1.2909), ('38 Greenbank Park S446643 #29-2', '38 Greenbank Park', 'Century career fill above myself worker result into.', 103.7881, 1.3467), ('96 Tagore Lane S625323 #4-49', '96 Tagore Lane', 'Issue foreign draw whose.', 103.8267, 1.3825), ('38 Li Hwan View S383000 #3-3', '38 Li Hwan View', 'Letter Congress describe blood everyone.', 103.8652, 1.3548), ('43 Swettenham Close S479659 #3-86', '43 Swettenham Close', 'Might inside miss yet yet weight owner opportunity win great.', 103.8073, 1.3003), ('7 West Coast Crescent S365386 #23-19', '7 West Coast Crescent', 'Field property least watch carry despite rate owner.', 103.7638, 1.2997), ('73 Sennett Terrace S261595 #12-24', '73 Sennett Terrace', 'Gun memory one lot sense more.', 103.93799999999999, 1.3197), ('73 Chin Cheng Avenue S575039 #8-84', '73 Chin Cheng Avenue', 'Attention home step site.', 103.9058, 1.3173), ('36 Bencoolen Street S433920 #22-81', '36 Bencoolen Street', 'Participant yeah executive heart section subject goal whom.', 103.8497, 1.2987), ('57 Farrer Park Station Road S361469 #2-12', '57 Farrer Park Station Road', 'Dream stock data marriage world society money letter spend.', 103.8539, 1.3126), ('54 Lornie Road S677307 #9-60', '54 Lornie Road', 'Happy fine science threat herself later protect kitchen learn education.', 103.8339, 1.3392), ('53 Tuas Avenue 16 S486176 #17-98', '53 Tuas Avenue 16', 'Carry fill while require measure.', 103.6422, 1.32), ('40 Spottiswoode Park Road S254452 #18-53', '40 Spottiswoode Park Road', 'Picture project guess standard happy plan.', 103.836, 1.2752), ('72 Pender Road S587330 #3-82', '72 Pender Road', 'Choice idea tree data movie issue discuss either finish somebody.', 103.8144, 1.2713), ('60 Race Course Road S376549 #12-53', '60 Race Course Road', 'Film none contain address machine north eight.', 103.8553, 1.3137), ('95 Gombak Drive S582611 #23-76', '95 Gombak Drive', 'Politics language drop attorney someone behind necessary huge.', 103.7604, 1.3692), ('80 Compassvale Bow S561163 #23-41', '80 Compassvale Bow', 'Unit class fly water some technology control able.', 103.8952, 1.3817), ('5 Kurau Place S344884 #30-61', '5 Kurau Place', 'Director throughout security surface item I mention create break already middle.', 103.9144, 1.3115), ('88 Westwood Walk S434759 #24-63', '88 Westwood Walk', 'Better care he walk continue important individual glass field.', 103.698, 1.3531), ('10 Raffles Institution Lane S409512 #22-81', '10 Raffles Institution Lane', 'Six cost worker lay candidate accept rise.', 103.8448, 1.3464), ('27 Erskine Road S654767 #27-64', '27 Erskine Road', 'Seven standard lose clearly room.', 103.8452, 1.2812), ('10 Pulau Sakeng S463756 #13-55', '10 Pulau Sakeng', 'Above able realize gas cause character behavior thing image sometimes.', 103.7754, 1.2097), ('33 Haji Lane S481172 #19-15', '33 Haji Lane', 'Need yes land bill manager baby father.', 103.8595, 1.3004), ('25 Tuas South Street 6 S505338 #9-84', '25 Tuas South Street 6', 'Adult current measure information front bag national position painting direction.', 103.6336, 1.2781), ('3 Kitchener Road S381496 #22-68', '3 Kitchener Road', 'Shake international police wall quite.', 103.8592, 1.3078), ('80 Benoi Lane S674634 #22-30', '80 Benoi Lane', 'Happen include expect indeed data.', 103.6737, 1.3044), ('14 Senoko Road S681006 #9-84', '14 Senoko Road', 'Technology anything right maintain generation news east ground list.', 103.8036, 1.4632), ('95 Stratton Drive S646098 #7-13', '95 Stratton Drive', 'Hotel a evening discuss some.', 103.8665, 1.382), ('66 Ubi Road 3 S553943 #13-47', '66 Ubi Road 3', 'Impact thus son social can skin yourself goal camera in.', 103.8991, 1.3272), ('74 Defu Lane 2 S682644 #4-33', '74 Defu Lane 2', 'Budget bed beat husband top chair.', 103.9022, 1.3611), ('88 Depot Lane S674900 #5-25', '88 Depot Lane', 'Significant century that politics father.', 103.8105, 1.2819), ('47 Cove Way S679486 #25-23', '47 Cove Way', 'Movement hospital realize mission employee loss think hot design country.', 103.8385, 1.2429999999999999), ('92 Tuas South Lane S231417 #6-34', '92 Tuas South Lane', 'Course until argue serious technology.', 103.6381, 1.2832), ('17 Highgate Walk S604390 #30-15', '17 Highgate Walk', 'Cover professor author nice mean force moment beat.', 103.7666, 1.3399), ('18 Fullerton Road S485493 #29-59', '18 Fullerton Road', 'Likely player offer tell international kid money individual PM blue.', 103.8542, 1.2862), ('62 Choa Chu Kang North 7 S495907 #21-12', '62 Choa Chu Kang North 7', 'Ok time remember party myself yourself not available staff forget.', 103.7463, 1.4005), ('88 Evans Road S345756 #21-45', '88 Evans Road', 'Away commercial stage sort certainly reflect.', 103.8193, 1.3161), ('10 Kramat Road S221622 #17-71', '10 Kramat Road', 'News mind control cup human chair occur like main.', 103.8424, 1.3013), ('18 Venus Drive S658973 #17-47', '18 Venus Drive', 'Effort add city experience guess research card.', 103.8268, 1.3605), ('26 Gambas Avenue S449546 #17-24', '26 Gambas Avenue', 'Small thought wear enough almost air box day performance ahead.', 103.8029, 1.4496), ('93 Maria Avenue S439085 #17-11', '93 Maria Avenue', 'Near author fast suddenly red speech carry if.', 103.9206, 1.3209), ('75 Marsiling Industrial Estate Road 1 S205640 #26-77', '75 Marsiling Industrial Estate Road 1', 'Green test color participant focus tree hotel there role.', 103.7823, 1.4404), ('47 Martlesham Road S698354 #13-33', '47 Martlesham Road', 'First just candidate professor knowledge.', 103.9848, 1.3798), ('77 Ubi Avenue 2 S642610 #20-2', '77 Ubi Avenue 2', 'Though whose statement ever stand natural.', 103.8936, 1.328), ('22 Farnborough Road S600270 #19-46', '22 Farnborough Road', 'Him risk police road billion travel represent live Congress role budget.', 103.9867, 1.3868), ('34 Benoi Crescent S521884 #1-5', '34 Benoi Crescent', 'Month strategy simple red yet condition.', 103.6884, 1.32), ('81 Sunset Vale S482625 #25-60', '81 Sunset Vale', 'Knowledge consumer dog true who discussion.', 103.7686, 1.3289), ('27 Seletar Aerospace Road 1 S584618 #28-39', '27 Seletar Aerospace Road 1', 'Inside growth seven attack participant whole hold bar tax step.', 103.8716, 1.4145), ('98 Ubi Road 2 S586448 #23-92', '98 Ubi Road 2', 'Up pass man form role though feel heart reflect company.', 103.8955, 1.3337), ('83 Woodlands Street 83 S351837 #7-79', '83 Woodlands Street 83', 'Skill from military power from.', 103.7903, 1.4395), ('56 Woodlands Height S227355 #11-86', '56 Woodlands Height', 'Significant nearly entire eye claim only wrong manager.', 103.7984, 1.4292), ('68 Jasmine Road S235291 #14-67', '68 Jasmine Road', 'Lose eye street water party money actually close us until.', 103.83, 1.3558), ('82 Clementi Avenue 1 S546424 #30-51', '82 Clementi Avenue 1', 'Summer traditional treat politics in usually him remember hospital data.', 103.7714, 1.3103), ('51 Purvis Street S413474 #13-98', '51 Purvis Street', 'Glass spend until environmental then.', 103.855, 1.2968), ('6 Neythal Road S246144 #5-5', '6 Neythal Road', 'Truth catch least peace late.', 103.7033, 1.3269), ('70 Camden Park S599849 #17-71', '70 Camden Park', 'Behavior side should in order product.', 103.8143, 1.3275), ('87 Lorong 9 Geylang S692682 #5-95', '87 Lorong 9 Geylang', 'Suddenly air officer know cell during agreement together.', 103.8763, 1.3124), ('88 Jupiter Road S450094 #17-7', '88 Jupiter Road', 'Church school kitchen road claim thus bank present thus.', 103.82700000000001, 1.3583), ('42 Nim Road S401803 #20-10', '42 Nim Road', 'Among necessary development several.', 103.8641, 1.3814), ('95 Heng Mui Keng Terrace S266879 #22-78', '95 Heng Mui Keng Terrace', 'Sound offer executive left do hold.', 103.7783, 1.2914), ('16 Clementi Street 11 S352245 #8-97', '16 Clementi Street 11', 'Recognize use way bag education so hair eight someone.', 103.7703, 1.3221), ('18 Lorong Serambi S335554 #12-2', '18 Lorong Serambi', 'Today at tree movement decision federal scientist important within poor.', 103.6992, 1.3887), ('60 Stevens Drive S395513 #22-86', '60 Stevens Drive', 'Eight usually site wait hard.', 103.8262, 1.3173), ('70 Tyersall Road S299106 #2-26', '70 Tyersall Road', 'Range again probably goal anyone.', 103.8134, 1.3148), ('29 Hospital Boulevard S474335 #21-40', '29 Hospital Boulevard', 'One painting his star father campaign wife say like accept.', 103.8338, 1.2776), ('69 Lorong Sarina S659109 #11-22', '69 Lorong Sarina', 'Year letter usually send pretty particular scene.', 103.9078, 1.3186), ('64 Kranji Way S682840 #15-83', '64 Kranji Way', 'Brother group across family rule avoid partner several sure.', 103.7496, 1.4345), ('84 Jalan Tambur S304317 #2-14', '84 Jalan Tambur', 'Science imagine light performance beyond.', 103.8287, 1.3646), ('1 Nanyang Avenue S376526 #2-23', '1 Nanyang Avenue', 'Style measure understand security his body note campaign.', 103.6867, 1.3532), ('30 Hacienda Grove S499605 #2-65', '30 Hacienda Grove', 'Seat level he soldier we job week.', 103.9268, 1.3137), ('24 Everitt Road S690136 #10-45', '24 Everitt Road', 'Long man occur study character.', 103.9014, 1.3143), ('95 Punggol Field Walk S694637 #9-58', '95 Punggol Field Walk', 'Hope all instead reality film less health his add painting.', 103.9121, 1.3933), ('19 Hillview Avenue S508762 #9-6', '19 Hillview Avenue', 'Why end dog despite medical week identify.', 103.7656, 1.3647), ('22 Indus Road S496970 #6-99', '22 Indus Road', 'Like a up own short financial.', 103.8268, 1.2911), ('73 Ubi Road 4 S428267 #10-50', '73 Ubi Road 4', 'Know whom though either carry huge Mrs full growth old.', 103.8993, 1.334), ('54 Lutheran Road S550729 #30-88', '54 Lutheran Road', 'Drop mission talk hand speech.', 103.81, 1.3216), ('23 Starlight Terrace S285443 #11-26', '23 Starlight Terrace', 'Doctor detail somebody nice name.', 103.8539, 1.3138), ('48 Stevens Close S242729 #29-57', '48 Stevens Close', 'Deal direction center control almost perform.', 103.8258, 1.3151), ('11 Omar Khayyam Avenue S385590 #27-46', '11 Omar Khayyam Avenue', 'Find class line course notice I quickly defense over.', 103.8303, 1.3807), ('39 Evergreen Avenue S510628 #16-29', '39 Evergreen Avenue', 'Over wear security remain provide hour local add them similar.', 103.9354, 1.3149), ('15 Bukit Batok Street 11 S394161 #7-56', '15 Bukit Batok Street 11', 'Better serve culture agreement majority yes laugh.', 103.7439, 1.3508), ('80 Jalan Hitam Manis S629320 #30-43', '80 Jalan Hitam Manis', 'Wind interview left account quickly activity difference.', 103.7992, 1.3104), ('89 Lorong 1 Realty Park S441242 #29-59', '89 Lorong 1 Realty Park', 'One allow rich laugh use public clear should.', 103.8908, 1.3664), ('56 Lichi Avenue S202700 #15-37', '56 Lichi Avenue', 'History local behind interview level room everyone benefit event she.', 103.8753, 1.3330000000000002), ('80 Seletar Aerospace Link S278348 #15-77', '80 Seletar Aerospace Link', 'While help imagine low first easy detail.', 103.86, 1.4052), ('66 Guillemard Crescent S218196 #11-15', '66 Guillemard Crescent', 'Use break seek will run imagine music fine.', 103.8801, 1.3091), ('82 Sungei Kadut Way S530774 #9-34', '82 Sungei Kadut Way', 'Enjoy first personal call performance everyone we.', 103.7486, 1.4078), ('24 Gray Lane S412843 #21-23', '24 Gray Lane', 'None character business take minute heavy until customer call on deep.', 103.89399999999999, 1.3126), ('18 Niven Road S662242 #25-3', '18 Niven Road', 'Onto human area whom.', 103.8493, 1.3028), ('60 Bukit Tinggi Road S408649 #20-45', '60 Bukit Tinggi Road', 'Notice rate another apply chair write toward including.', 103.7899, 1.3457), ('12 Bukit Merah View S211324 #27-46', '12 Bukit Merah View', 'Course tonight tax also wish product learn blue gun tonight.', 103.8211, 1.2841), ('93 Khiang Guan Avenue S368863 #21-26', '93 Khiang Guan Avenue', 'Itself check crime plant six worker reduce.', 103.8427, 1.3171), ('97 Laguna Golf Green S386889 #30-90', '97 Laguna Golf Green', 'Meet perform city generation recognize example writer eye me.', 103.9627, 1.3236), ('72 Jalan Tekad S420920 #26-1', '72 Jalan Tekad', 'They firm national drug question project.', 103.7685, 1.3602), ('87 Brighton Avenue S555172 #15-90', '87 Brighton Avenue', 'Amount during represent relate voice what off matter.', 103.8733, 1.3596), ('6 Cuppage Road S248758 #5-70', '6 Cuppage Road', 'Hit eye stop federal cell however.', 103.8402, 1.3018), ('24 Republic Avenue S510806 #23-37', '24 Republic Avenue', 'Away one party figure black understand degree wind.', 103.8639, 1.2996), ('9 Holland Close S431120 #11-80', '9 Holland Close', 'Enter over hand add into we culture company behind.', 103.7966, 1.3077), ('77 Florissa Park S648532 #15-46', '77 Florissa Park', 'Carry election company believe drive little green chance fire.', 103.8363, 1.3867)]

#Generate Categories & CategoriesSubcategories Dummy Data

```
CREATE TABLE Categories
(
   category_name varchar(50) NOT NULL,
   PRIMARY KEY (category_name),
);
```

```
CREATE TABLE CategoriesSubcategories
(
	category_name varchar(50) NOT NULL,
	subcategory_name varchar(50) NOT NULL,
	PRIMARY KEY (category_name),
	FOREIGN KEY (category_name) REFERENCES Categories(category_name)
   		ON UPDATE CASCADE
   		ON DELETE CASCADE,
	FOREIGN KEY (subcategory_name ) REFERENCES Categories(category_name)
   		ON UPDATE CASCADE
   		ON DELETE CASCADE
);
```

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/ah-zhan/test_geojson/master/cats.csv")

data.columns = ['categories', 'subcategories']

# print(data.head())

# get unique values in each column
categories_data = data['categories'].unique()
subcategories_data = data['subcategories'].unique()

# categories Values()
categories_data = np.concatenate((categories_data, subcategories_data), axis=None)
# categories_values = [(str(x)) for x in categories_values]

categories_values = []
for i in categories_data:
  i = i.replace("'", "''")
  categories_values += [(
      str(i)
  )]

print(categories_values)

# CategoriesSubcategories Values()
categoriesSubcategories_values = []

# print(len(data))

for row in data.itertuples(index=True, name='Pandas'):
    categoriesSubcategories_values += [(
        row.categories.replace("'", "''"),
        row.subcategories.replace("'", "''")
    )]

# print(categoriesSubcategories_values)

['Aerospace and Defense', 'Automotive', 'Banks', 'Civic, Non-Profit and Membership Groups', 'Chemicals', 'Computer Hardware', 'Computer Software', 'Construction and Building Materials', 'Consumer Services', 'Corporate Services', 'Agriculture and Forestry', 'Electronics', 'Energy and Environmental', 'Financial Services', 'Food and Beverage', 'Government', 'Hospitals and Healthcare', 'Holding Companies', 'Industrial Manufacturing and Services', 'Aerospace Products and Parts', 'Aircraft Leasing', 'Space Vehicles, Satellites and Related', 'Ordnance, Missiles, Weaponry and Related', 'Motor Vehicle Manufacturing', 'Truck, Bus and Big Rig Manufacturing', 'Automobile Parts Manufacturing', 'Truck and Bus Parts Manufacturing', 'Motor Vehicle Parts Suppliers', 'Motor Vehicle Parking and Garages', 'Regional Banks', 'Savings Institutions', 'Credit Unions', 'Banking Transaction Processing', 'Credit Agencies', 'Short-term Business Loans and Credit', 'Commercial Banking ', 'Social Services Institutions', 'Charities', 'Religious Organizations', 'Labor Unions', 'Public Policy Research and Advocacy', 'Medicinal Chemicals and Botanicals', 'Commodity Chemicals', 'Agricultural Chemicals', 'Diversified Chemicals', 'Paints, Dyes, Varnishes and Lacquers', 'Sealants and Adhesives', 'Asphalt and Roofing Materials', 'Specialty Chemicals', 'Plastic and Fiber Manufacturing', 'Office Supplies and Stationery Retail', 'POS and Electronic Retail Equipment', 'Printing and Imaging Equipment', 'Servers and Mainframes', 'Computer Storage Devices', 'Computer Monitors and Projectors', 'ATMs and Self-Service Kiosks', 'Routing and Switching Devices', 'Wireless Networking Equipment', 'Computer Networking Equipment', 'Network Security Devices', 'Computer Peripherals and Accessories', 'Semiconductors', 'Accounting and Tax Software', 'Agriculture Industry Software', 'Web Hosting Services', 'Application Service Providers (ASPs)', 'Financial Services Software', 'Automotive Industry Software', 'Billing and Service Provision Software', 'Budgeting and Forecasting Software', 'Business Intelligence Software', 'Casino Management Software', 'Catalog Management Software', 'Channel Partner Management Software', 'Collaborative Software', 'Construction and Architecture Software', 'Content Management Software', 'Customer Relationship Management', 'Database Management Software', 'Development Tools and Utilities Software', 'Distribution Software', 'Advertising Industry Software', 'E-commerce Software', 'Education and Training Software', 'Engineering, Scientific and CAD Software', 'Enterprise Application Integration (EAI)', 'Enterprise Resource Planning Software', 'Event Planning Industry Software', 'Food and Beverage Industry Software', 'Video Game Production', 'Health Care Management Software', 'Hotel Management Industry Software', 'Human Resources Software', 'Insurance Industry Software', 'Marketing Automation Software', 'Retail Management Software', 'Law Enforcement Industry Software', 'Legal Industry Software', 'Manufacturing and Industrial Software', 'Message, Conference and Communications', 'Multimedia and Graphics Software', 'Networking and Connectivity Software', 'Order Management Software', 'Procurement Software', 'Project Management Software', 'Purchasing Software', 'Quality Assurance Software', 'Real Estate Industry Software', 'Restaurant Industry Software', 'Data Warehousing', 'Sales Force Automation Software', 'Sales Intelligence Software', 'Service Industry Software', 'Security Software', 'Storage and Systems Management Software', 'Supply Chain and Logistics Software', 'Textiles Industry Software', 'Tourism Industry Software', 'Trading and Order Management Software', 'Warehousing Software', 'Transportation Industry Software', 'Wireless Communication Software', 'Apartment and Condominium Construction', 'Window and Door Manufacturing', 'Residential General Contractors', 'Single-Family Housing Builders', 'Non-Residential General Contractors', 'Heavy Construction', 'Water, Sewer and Power Line', 'Specialty Construction', 'Electrical Contractors', 'Architecture Services', 'Engineering Services', 'Construction Equipment Manufacturing', 'Plumbing and HVAC Equipment', 'Hardware Wholesalers', 'Construction Equipment Sales', 'Wood Products Manufacturing', 'Sawmills and Other Mill Operations', 'Plywood, Veneer and Particle Board', 'Prefabricated Buildings', 'Aggregates, Concrete and Cement', 'Construction Materials', 'Ceramic, Tile, Roofing and Clay Products', 'Consumer Product Manufacturing', 'Household Products', 'Tobacco Products and Distributors', 'Textile Products', 'Apparel', "Children''s Clothing", "Men''s Clothing", "Women''s Clothing", 'Fashion Accessories', 'Cotton, Fiber and Silk Mills', 'Carpets, Rugs and Floor Coverings', 'Household Furniture', 'Mattresses and Bed Manufacturers', 'Outdoor Furniture and Storage Products', 'Biological Products', 'Soaps and Detergents', 'Specialty Cleaning Products', 'Perfumes, Cosmetics and Toiletries', 'Footwear', 'Major Appliances', 'Watches and Clocks', 'Jewelry and Gemstones', 'Office Furniture and Fixtures', 'Paper Products', 'Leather Products', 'Pottery', 'Garden Equipment and Mowers', 'Home Furnishings', 'Collectibles and Giftware', 'Linens', 'Window Coverings and Wall Coverings', 'Baby Supplies and Accessories', 'Home Storage Products', 'Pet Products', 'Photographic Equipment and Supplies', 'Hand and Power Tools', 'Dinnerware, Cookware and Cutlery', 'Personal Products', 'Child Care Services', 'Personal Services', 'Motor Vehicle Repair and Servicing', 'Motor Vehicle Rental and Leasing', 'Death Care Products and Services', 'Beauty Salons', 'Laundry and Dry Cleaning Services', 'Photographic Services', 'Travel and Tourism', 'Veterinary Care', 'Weight and Health Management', 'Gym, Spa and Fitness', 'Commercial Printing Services', 'Services for the Printing Trade', 'Commercial Design Services', 'Direct Marketing', 'Sales Promotion', 'Executive Search', 'Online Staffing and Recruitment Services', 'Talent and Modeling Agencies', 'Human Resources and Staffing', 'Outsourced Human Resources Services', 'Integrated Computer Systems Design', 'Programming and Data Processing Services', 'Records Management Services', 'Computer Facilities', 'Computer Related Services', 'Uniform Supplies', 'Detective and Security Services', 'Business Services', 'Legal Services', 'Mediation and Arbitration', 'Management Consulting', 'IT Services and Consulting', 'Marketing and Advertising', 'Advertising Agencies', 'Billboards and Outdoor Advertising', 'Equipment Rental and Leasing', 'Repair and Maintenance Services', 'Testing Lab and Scientific Research', 'Auctions and Internet Auctions', 'Public Relations', 'Market Research Services', 'Trade Show, Event Planning and Support', 'Cleaning and Facilities Management', 'Fruits and Vegetables Farming', 'Grains Farming', 'Livestock and Husbandry', 'Agriculture Services', 'Forestry and Logging', 'Fishing and Aquaculture', 'Farming Materials and Supplies', 'Agricultural Machinery and Equipment', 'Electronic Components and Accessories', 'Printed Circuit Boards', 'Electronic Coils and Transformers', 'Electronic Connectors', 'Miscellaneous Electrical Equipment', 'Magnetic and Optical Recording', 'Electric Testing Equipment', 'Consumer Electronics', 'Sound and Lighting Equipment', 'Heavy Electrical Equipment', 'Electronic Gaming Products', 'Energy Equipment', 'Crude Petroleum Production', 'Oil and Gas Production and  Exploration', 'Oil and Gas Field Services', 'Oil and Gas Refining', 'Oil and Gas Transport and Storage', 'Liquefied Petroleum Gas Dealers', 'Oil and Gas Equipment', 'Petroleum Pipelines', 'Electricity Transmission', 'Electric Utilities', 'Electricity Distribution', 'Coal Energy Generation', 'Hydroelectric Power Generation', 'Nuclear Power Generation', 'Cogeneration and Small Power Producers', 'Natural Gas Pipelines', 'Natural Gas Transmission', 'Natural Gas Utilities', 'Multiline Utilities', 'Water Supply and Utilities', 'Sanitation Services', 'Solid Waste and Refuse Systems', 'Hazardous Waste Management', 'Wholesale Petroleum and Related Products', 'Alternative Energy Sources', 'Energy Trading and Marketing', 'Energy Exchanges', 'Environmental Services', 'Remediation and Environmental Cleanup', 'Recycling Services', 'Wastewater Treatment', 'Investment Services and Advice', 'Diversified Financial Services', 'Specialty Financial Services', 'Accounting, Tax, Bookkeeping and Payroll', 'Asset Management', 'Pension and Retirement Funds', 'Electronic Communications Networks', 'Mortgage Banking', 'Securities Brokers and Traders ', 'Currency, Commodity and Futures Trading', 'Currency and Forex Brokers', 'Blank Check Companies', 'Miscellaneous Investment Firms', 'Patent Owners and Lessors', 'Investment Banking', 'Investment Trusts ', 'Venture Capital', 'Investment Management and Fund Operators', 'Diversified Lending', 'Credit Cards', 'Forfeiting and Factoring', 'Market Makers and Trade Clearing', 'Stock Exchanges', 'Trade Facilitation', 'Credit and Collection Services', 'Consumer Credit Reporting', 'Claims Administration and Processing', 'Electronic Payment Systems', 'Financial Transaction Settlement', 'Food Products', 'Meat Packing and Meat Products', 'Poultry', 'Dairy Products', 'Canned and Frozen Fruits and Vegetables', 'Flours, Sugar and Mixes', 'Pastas and Cereals', 'Baked Goods', 'Processed Food Products', 'Candy and Confections', 'Food Oils', 'Breweries', 'Flavorings, Spices and Other Ingredients', 'Food Wholesale Distributors', 'Non-Alcoholic Beverages', 'Fresh and Frozen Seafood', 'Beverage Distillers', 'Alcoholic Beverage Distribution', 'Federal Government Agencies', 'State, Provincial or Regional Government', 'Executive Government Offices', 'Legislatures', 'International Government Agencies', 'Medical Practice Management and Services', 'General Physicians and Clinics', 'Dentists', 'Nursing Homes and Extended Care', 'General Medical and Surgical Hospitals', 'Psychiatric Hospitals', 'Other Specialty Hospitals', 'Medical and Dental Laboratories', 'Home Healthcare', 'Ophthalmic Equipment', 'Surgical and Medical Devices', 'Orthopedic and Prosthetic Equipment', 'Dental Equipment and Supplies', 'X-ray Equipment', 'General Healthcare Equipment', 'Managed Health Care', 'Industrial Conglomerates', 'Paper Board and Paper Products', 'Pulp, Paper and Paperboard Mills', 'Paper Containers and Packaging', 'Recycled and Converted Paper Products', 'Plastics, Foil and Coated Paper Bags', 'Stationery and Related Products', 'Plastic Materials and Synthetic Resins', 'Petroleum Products', 'Tires and Inner Tubes', 'Gaskets and Sealing Devices', 'Fabricated Rubber Products', 'Flat Glass', 'Glass Products', 'Heating Equipment', 'Screw Machines', 'Bolts, Nuts, Screws, Rivets and Washers', 'Fabricated Wire Products', 'Engines and Turbines', 'Metalworking Machinery', 'Printing Press Machinery', 'Specialty Industrial Machinery', 'Industrial Equipment and Machinery', 'Pumping Equipment', 'Ball Bearings and Roller Bearing', 'Industrial Fans', 'Industrial Furnaces and Ovens', 'Building Climate Control and HVAC', 'Power Distribution and Transformers', 'Switching and Switchboard Equipment', 'Motors and Generators', 'Relays and Industrial Controls', 'Electric Lighting and Wiring', 'Laboratory Equipment', 'Industrial Measurement Devices', 'Totalizing Fluid Meters', 'Measuring Devices and Controllers', 'Commercial Equipment and Supplies', 'Industrial Machinery Distribution', 'Air and Gas Compressors', 'Insurance', 'Risk Management', 'Life Insurance', 'Multiline Insurance', "Workers'' Compensation", 'Health Insurance', 'Property and Casualty Insurance', 'Fire and Marine Insurance', 'Automobile Insurance', 'Credit Insurance', 'Surety Insurance', 'Commercial Insurance', 'Liability Insurance', 'Mortgage Insurance', 'Homeowners and Title Insurance', 'Reinsurance', 'Specialty Insurance', 'Insurance Agents and Brokers', 'Leisure, Sports and Recreation', 'Bicycles and Accessories', 'Accommodation', 'Musical Instruments', 'Games and Toys', 'Sporting Goods, Outdoor Gear and Apparel', 'Sports Equipment', 'Casinos and Gambling', 'Art Supplies', 'Hotels and Motels', 'Museums and Art Galleries', 'Performing Arts', 'Amusement and Recreation', 'Professional Sports Teams', 'Racetracks', 'Athletic Facilities', 'Sports and Recreations Clubs', 'Media', 'Diversified Media', 'Newspapers and Online News Organizations', 'Magazine Publishers', 'Book Publishers', 'Directories and Yellow Pages Publishers', 'Greeting Cards', 'Trading Cards and Comic Books', 'Music Production and Distribution', 'Radio and Online Music Broadcasting', 'Television Broadcasting', 'Cable Television Networks', 'Cable and Satellite Services', 'Movie and TV Broadcasting Equipment', 'Audiovisual Equipment Sales and Services', 'CD and Other Optical Discs Production', 'Motion Picture Theaters', 'Movie Production and Distribution', 'Internet Information Services', 'Internet Content Providers', 'Internet Search and Navigation Services', 'Mining and Metals', 'Precious Metals and Minerals', 'Specialty Mining and Metals', 'Gold and Silver Mining', 'Diversified Metals and Mining', 'Coal Mining', 'Non-Metallic Mining and Quarrying', 'Concrete and Gypsum', 'Stone Products', 'Steel Works, Furnaces and Coke Ovens', 'Steel Pipes and Tubes', 'Iron and Steel Foundries', 'Metal Smelting and Refining', 'Aluminum Mining and Foundries', 'Metal Rolling and Extruding', 'Non-Ferrous Foundries', 'Miscellaneous Metal Products', 'Metal Cans', 'Shipping Barrels, Drums, Kegs and Pails', 'Fabricated Structural Metal', 'Sheet Metal', 'Metal Forgings', 'Coating and Engravings', 'Mining and Quarrying Machinery', 'Machine Tools and Metal Equipment', 'Metals and Minerals Distribution', 'Pharmaceuticals and Biotechnology', 'Diversified Pharmaceuticals', 'Generic Pharmaceuticals', 'Drug Delivery Systems', 'Diagnostic Substances', 'Pharmaceuticals Wholesale', 'Scientific Research Services', 'Biopharmaceuticals and Biotherapeutics', 'Biotechnology Research Equipment', 'Biotechnology Research', 'Real Estate', 'Real Estate Development', 'Real Estate Operating Company (REOC)', 'Real Estate Property Management', 'Mobile Home Parks', 'Real Estate Leasing', 'Real Estate Appraisers', 'Real Estate Brokers', 'Real Estate Investment Trusts (REITs)', 'Other Real Estate Investors', 'Office REITs', 'Health Care REITs', 'Hotel and Motel REITs', 'Industrial REITs', 'Residential REITs', 'Retail REITs', 'Leisure and Entertainment REITs', 'Mortgage REITs', 'Land REITs', 'Title abstract offices', 'Retail', 'Building Materials Retail', 'Lumber Retail', 'Home Improvement and Hardware Stores', 'Mobile Home Dealers', 'Department Stores', 'Discount and Variety Stores', 'General Retailers', 'Warehouse Clubs and Superstores', 'Hyper and Supermarkets', 'Mini Markets', 'Convenience Stores and Gas Stations', 'Motor Vehicle Dealers', 'Boat Retail', 'Apparel Retail', 'Internet Retail', "Women''s Clothing Retail", 'Perfume, Cosmetics and Toiletries Retail', 'Footwear Retail', 'Home Furnishing Retail', 'Furniture Retail', 'Electronics Retail', 'Computer and Software Retail', 'Musical Equipment Retail', 'Restaurants, Bars and Eateries', 'Specialty Retailers', 'Pharmacies and Drug Stores', 'Sports and Recreational Equipment Retail', 'Music, Video and Book Retail', 'Jewelry and Gemstone Retail', 'Clock and Watch Retail', 'Hobby, Toy and Game Stores', 'Arts, Gifts and Novelties Retail', 'Florists and Nurseries', 'Mail and Catalog Order Retail', 'Party and Supply Stores', 'Schools and Education', 'Educational Services', 'Elementary and Secondary Schools', 'Colleges and Universities', 'Training Institutions and Services', 'Libraries', 'Vocational and Technical Schools', 'Internet Educational Services', 'Telecommunications', 'Wireless Network Operators', 'Telecommunications Services', 'Local Exchange Carriers', 'Long-Distance Carriers', 'Telecommunications Resellers', 'Wired Telecommunications Carriers', 'Internet and Online Services Providers', 'Managed Network Services', 'Messaging Services Providers', 'Teleconferencing Services Providers', 'Telemetry and Telematics Services', 'Telecommunications Equipment', 'Telecom Switching and Transmission', 'Videoconferencing Equipment', 'Satellite and Broadcasting Equipment', 'Transportation', 'Ship and Boat Repair', 'Ship and Boat manufacturing', 'Railroad Equipment Manufacturing', 'Ferries and Water Transport', 'Marine Shipping', 'Airlines and Scheduled Air Transport', 'Air Freight Transportation', 'Non-Scheduled and Charter Air Transport', 'Airport and Terminal Management', 'Bus Services', 'Taxi and Limousine Services', 'Helicopter Services', 'Highways and Toll Road Management', 'Storage and Warehousing', 'Postal Services', 'Container Leasing', 'Freight Railroads', 'Passenger Railroads', 'Truck Transportation and Services', 'Moving Services', 'Courier, Messenger and Delivery Services', 'Truck Rental and Leasing', 'Railroad Terminal Management', 'Ports, Harbors and Marinas', 'Terminal Facilities For Motor Vehicles', 'Political Organizations', 'Business Associations', 'Environmental and Wildlife Organizations', 'Carpentry and Floor Work', 'Central Banks', 'National Security', 'Integrated Healthcare Networks', 'Ambulance Services', 'Substance Abuse Rehabilitation Centers', 'Medical Schools', 'Emergency Medical Services', "Children''s Hospitals", 'Specialty Surgical Hospitals', 'County Governments', 'Cities, Towns and Municipalities', 'Villages and Small Municipalities', 'Fire Protection', 'Police Protection', 'Courts of Law', 'Correctional Facilities', 'Conservation Districts', 'Finance Authorities', 'Healthcare Districts', 'Housing Authorities', 'Industrial Development Authorities', 'Park and Recreation Districts', 'Planning and Development Authorities', 'Sanitary and Sewage Districts', 'School and Public Building Authorities', 'School Districts', 'Special Districts', 'Transportation Authorities', 'Waste Management Districts', 'Military Vehicles Manufacturing', 'Aerospace Research and Development', 'Foundations', 'Humanitarian and Emergency Relief', 'Community Colleges', 'Graduate and Professional Schools', 'Ship and Boat Parts Manufacturing', 'Marine Transportation Support', 'Shipping Equipment', 'Locomotive and Rail Car Manufacturing', 'Railroads and Rail Tracks Maintenance', 'Cardiologists', 'Chiropractors', 'Dermatologists', 'Obstetricians and Gynecologists', 'Ophthalmologists and Optometrists', 'Pediatricians', 'Mental Health Practitioners', 'Radiology Services', 'Oncology Services', 'Orthopedic Services', 'Podiatrists', 'Assisted Living Facilities', 'Hospice Services', 'Diagnostic Imaging Centers', 'Blood and Organ Banks', 'Kidney Dialysis Centers', 'Fertility Clinics', 'Electromedical and Therapeutic Equipment', 'Family Planning Clinics', 'Urgent Care Centers', 'Physical Therapy Facilities', 'Law Schools', 'Document Management Software', 'File Management Software', 'Desktop Publishing Software', 'Defense and Military Software', 'Banking Software', 'Mobile Application Developers', 'Telecommunication Software', 'Pharma and Biotech Software', 'Smart Home Software', 'Electronics Industry Software', 'Management Consulting Software', 'Operating System Software', 'Analytics and Reporting Software', 'Mobile Application Software', 'Computer-Aided Manufacturing Software', 'Compliance and Governance Software', 'Automated Teller Machine Operators', 'Trust, Fiduciary and Custody Activities', 'Offshore Banks', 'Islamic Banks', 'Landesbanken', 'Pulses and Legume Farming', 'Oilseeds Farming', 'Coffee, Tea and Cocoa Farming', 'Cotton and Textile Farming', 'Sericulture and Beekeeping', 'Horticulture', 'Agricultural Product Distribution', 'Gardening Supplies', 'Fine Chemicals', 'Industrial Fluid Manufacturing', 'Explosives and Petrochemicals', 'Polymers and Films', 'Credit Rating Agency', 'Private Equity', 'Crowdfunding', 'Mortgage Brokers', 'Disability Insurance', 'Hedge Funds', 'Royalty Trusts', 'Leveraged Finance', 'Mobile Payment Syst

# Generate LocationCategories

```
(
   location_id int NOT NULL,
   category_name varchar(50) NOT NULL
)
```

In [ ]:
locationcategories_values = []
for i in range(0, LOC_VALUES_TO_GEN):
  locationcategories_values += [(
    i+1, 
    categories_values[random.randint(0, len(categories_values))]
  )]

#debug
print(locationcategories_values)

[(1, "Men''s Clothing"), (2, 'Biotechnology Research Equipment'), (3, 'Motor Vehicle Parking and Garages'), (4, 'Leisure, Sports and Recreation'), (5, 'Prefabricated Buildings'), (6, 'Printed Circuit Boards'), (7, 'Gold and Silver Mining'), (8, 'Industrial Manufacturing and Services'), (9, 'Leveraged Finance'), (10, 'Consumer Services'), (11, 'Hotel and Motel REITs'), (12, 'Water, Sewer and Power Line'), (13, 'Museums and Art Galleries'), (14, 'Translation Services'), (15, 'Machine Tools and Metal Equipment'), (16, 'Concrete and Gypsum'), (17, 'Ferries and Water Transport'), (18, 'Integrated Healthcare Networks'), (19, 'Metalworking Machinery'), (20, 'Desktop Publishing Software'), (21, 'Trading Cards and Comic Books'), (22, 'Marketing Automation Software'), (23, 'Banking Software'), (24, 'Construction Materials'), (25, 'Miscellaneous Investment Firms'), (26, 'Purchasing Software'), (27, 'Dairy Products'), (28, 'Pediatricians'), (29, 'Agricultural Chemicals'), (30, 'Application Service Providers (ASPs)'), (31, 'Purchasing Software'), (32, 'Pulses and Legume Farming'), (33, 'Beverage Bottling'), (34, 'Social Services Institutions'), (35, 'Hospitals and Healthcare'), (36, 'Sports Equipment'), (37, 'Waste Management Districts'), (38, 'Solid Waste and Refuse Systems'), (39, 'Commercial Insurance'), (40, 'Electronic Gaming Products'), (41, 'Training Institutions and Services'), (42, 'Glass Products'), (43, 'Food Oils'), (44, 'Discount and Variety Stores'), (45, 'Fabricated Wire Products'), (46, 'Commodity Chemicals'), (47, 'Jewelry and Gemstone Retail'), (48, 'Blank Check Companies'), (49, 'Electric Testing Equipment'), (50, 'Desktop and Laptop Computers'), (51, 'Wireless Network Operators'), (52, 'Musical Equipment Retail'), (53, 'Bolts, Nuts, Screws, Rivets and Washers'), (54, 'Travel Insurance'), (55, 'Online Staffing and Recruitment Services'), (56, 'Fishing and Aquaculture'), (57, 'Telecommunications Services'), (58, 'Pastas and Cereals'), (59, 'Boat Retail'), (60, 'Liquefied Petroleum Gas Dealers'), (61, 'Single-Family Housing Builders'), (62, 'Dinnerware, Cookware and Cutlery'), (63, 'Real Estate'), (64, 'Highways and Toll Road Management'), (65, 'Art Supplies'), (66, 'Tobacco Products and Distributors'), (67, 'Industrial Conglomerates'), (68, 'Supply Chain and Logistics Software'), (69, 'POS and Electronic Retail Equipment'), (70, 'Network Security Devices'), (71, 'Surgical and Medical Devices'), (72, 'Telecommunications Equipment'), (73, 'Office Furniture and Fixtures'), (74, 'Coffee, Tea and Cocoa Farming'), (75, 'State, Provincial or Regional Government'), (76, 'Discount and Variety Stores'), (77, 'Cruise Lines'), (78, 'Real Estate'), (79, 'Libraries'), (80, 'Airport and Terminal Management'), (81, 'CD and Other Optical Discs Production'), (82, 'Telecom Switching and Transmission'), (83, 'Racetracks'), (84, 'Outdoor Furniture and Storage Products'), (85, 'Real Estate Industry Software'), (86, 'State, Provincial or Regional Government'), (87, 'Mail and Catalog Order Retail'), (88, 'Purchasing Software'), (89, 'Beverage Distillers'), (90, 'Urgent Care Centers'), (91, 'Alcoholic Beverage Distribution'), (92, 'Footwear Retail'), (93, 'Agricultural Chemicals'), (94, 'General Retailers'), (95, 'Pulses and Legume Farming'), (96, 'Coffee and Tea Manufacturers'), (97, 'Chemicals'), (98, 'Data Warehousing'), (99, 'Motor Vehicle Manufacturing'), (100, 'Educational Services')]

#Generate CompanyLocations Dummy Data

```
CREATE TABLE CompanyLocations(
    location_id  INT NOT NULL,
    company_id  INT NOT NULL,
    CONSTRAINT PK_CompanyLocations PRIMARY KEY (location_id, company_id),
    FOREIGN KEY(company_id) REFERENCES Companies(company_id)
		ON DELETE CASCADE,
    FOREIGN KEY(location_id) REFERENCES Locations(location_id)
   		ON DELETE CASCADE
);
```

In [ ]:
CompanyLocations_values = []

# Ensure all companies have 1 location
for i in range(1, LOC_VALUES_TO_GEN):
  # if company_values[mailingaddress] == loc_address:
      CompanyLocations_values +=[(
          i, #locationid
          random.randint(1, COMPANY_VALUES_TO_GEN)
      )]

print(CompanyLocations_values)

[(1, 30), (2, 16), (3, 10), (4, 10), (5, 25), (6, 16), (7, 21), (8, 30), (9, 27), (10, 5), (11, 17), (12, 13), (13, 22), (14, 13), (15, 27), (16, 2), (17, 30), (18, 4), (19, 13), (20, 5), (21, 15), (22, 30), (23, 4), (24, 26), (25, 15), (26, 3), (27, 16), (28, 15), (29, 25), (30, 1), (31, 27), (32, 29), (33, 28), (34, 28), (35, 6), (36, 29), (37, 22), (38, 30), (39, 9), (40, 9), (41, 26), (42, 3), (43, 10), (44, 12), (45, 26), (46, 10), (47, 4), (48, 18), (49, 28), (50, 30), (51, 24), (52, 28), (53, 23), (54, 24), (55, 21), (56, 9), (57, 4), (58, 14), (59, 16), (60, 17), (61, 25), (62, 26), (63, 17), (64, 19), (65, 17), (66, 29), (67, 4), (68, 4), (69, 26), (70, 29), (71, 30), (72, 26), (73, 25), (74, 9), (75, 29), (76, 27), (77, 1), (78, 19), (79, 1), (80, 8), (81, 21), (82, 17), (83, 28), (84, 13), (85, 9), (86, 11), (87, 1), (88, 4), (89, 29), (90, 24), (91, 15), (92, 30), (93, 30), (94, 4), (95, 3), (96, 20), (97, 9), (98, 23), (99, 1)]


-----
-----
-----

Add insert statements below

-----
-----
-----
-----

# ALL INSERT STATEMENTS

Sequence should be (because of foreign keys):
1. Companies
1. Users
1. Admins
1. ContactPersons
1. Relationships
1. FamilyMembers
1. Coordinates
1. TestResults
1. Schedules
1. TemperatureDeclarations
1. Locations
1. CompanyLocations
1. Categories
1. LocationCategories
1. CategoriesSubcategories
1. CheckInOuts
1. Ratings
1. Messages
1. AdminMessages
1. ContactPersonsMessages
1. Comments

In [ ]:
# Companies
for i in company_values:
    print(f"INSERT INTO Companies VALUES {i};")

# Users
print('SET IDENTITY_INSERT Users ON;')
for i in users_values:
    print(f"INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES {i};")
print('SET IDENTITY_INSERT Users OFF;')

# Admin IDS
# generate_admins_ids_from_list(5,userIDs) # 5 from userId list
generate_admins_ids_from_list(userIDs)

# ContactPersons
generate_ContactPersons()

# Relationships
generate_family_relationships()

# FamilyMembers
# for i in family_Values:
    # print(f"INSERT INTO FamilyMembers VALUES {i};")

# Coordinates 
for i in coordinates_values:
    print(f"INSERT INTO Coordinates VALUES{i};")

# TestResults
generate_test_result_statues()

# Schedules
generate_Schedules('Schedules',userIDs)

# generate temperature declaration
generate_temperatureDeclare('TemperatureDeclarations',userIDs)

# Locations
for i in location_values:
    print(f"INSERT INTO Locations VALUES {i};")

# CompanyLocations 
for i in CompanyLocations_values: 
  print(f"INSERT INTO CompanyLocations VALUES {i};")

# Categories
for i in categories_values:
    print(f"INSERT INTO Categories VALUES ('{i}');")

# CategoriesSubcategories
for i in categoriesSubcategories_values:
    print(f"INSERT INTO CategoriesSubcategories VALUES {i};")

# LocationCategories
for i in locationcategories_values:
    print(f"INSERT INTO LocationCategories VALUES {i};")

# CheckInOut 
for i in checkInOut_Values:
    print(f"INSERT INTO CheckInOuts VALUES {i};")

for i in checkInOut_Values_gt10days:
  print(f"INSERT INTO CheckInOuts VALUES {i};")

# Ratings 
for i in ratings_values:
    print(f"INSERT INTO Ratings VALUES {i};")

# Messages 
for i in messages_values:
    print(f"INSERT INTO Messages VALUES{i};")

# AdminMsgs
for i in AdminMessages_values:
    print(f"INSERT INTO AdminMessages VALUES{i};")

# ContactPersonsMsgs
for i in ContactPersonsMessages_values:
    print(f"INSERT INTO ContactPersonsMessages VALUES{i};")

# Comments
for i in Comments_values:
    print(f"INSERT INTO Comments VALUES{i};")

INSERT INTO Companies VALUES ('GLOBAL ENERGY OVERSEAS PTE LTD', '19 Pandan Road S638155 #27-57', 'GLOBALENERGYOVERSEASPTELTD@gmail.com');
INSERT INTO Companies VALUES ('COE MARKETING (S) PTE LTD', '94 West Coast Rise S664228 #7-39', 'COEMARKETINGSPTELTD@outlook.com');
INSERT INTO Companies VALUES ('M-DEC ENTERPRISE PTE LTD', '64 Springwood Close S381441 #7-70', 'MDECENTERPRISEPTELTD@gmail.com');
INSERT INTO Companies VALUES ('LABQUIP (S) PTE LTD', '56 Kranji Link S358135 #5-63', 'LABQUIPSPTELTD@outlook.com');
INSERT INTO Companies VALUES ('PHEIM ASSET MANAGEMENT (ASIA) PTE LTD', '71 Tai Seng Drive S365118 #7-76', 'PHEIMASSETMANAGEMENTASIAPTELTD@gmail.com');
INSERT INTO Companies VALUES ('HIAP LEE HUAT CO PTE LTD', '69 Marshall Road S216488 #26-13', 'HIAPLEEHUATCOPTELTD@outlook.com');
INSERT INTO Companies VALUES ('EMSIL TECHNOLOGIES PTE LTD', '28 West Coast View S411035 #5-27', 'EMSILTECHNOLOGIESPTELTD@gmail.com');
INSERT INTO Companies VALUES ('ETHOZ GROUP LTD', '39 Jalan Tukang S585855 #19-69', 'ETHOZGROUPLTD@hotmail.com');
INSERT INTO Companies VALUES ('CHIYODA INTEGRE CO (S) PTE LTD', '75 Chestnut Close S572486 #18-4', 'CHIYODAINTEGRECOSPTELTD@hotmail.com');
INSERT INTO Companies VALUES ('WIRACO FORWARDING (PTE) LTD', '87 Nepal Circus S626939 #20-80', 'WIRACOFORWARDINGPTELTD@hotmail.com');
INSERT INTO Companies VALUES ('ZAC N LIMOUSINE SERVICES', '4 Carmichael Road S544806 #7-14', 'ZACNLIMOUSINESERVICES@outlook.com');
INSERT INTO Companies VALUES ('TAN CHONG & SONS MOTOR CO (S) PTE LTD', '45 Chuan Walk S341037 #13-15', 'TANCHONGSONSMOTORCOSPTELTD@hotmail.com');
INSERT INTO Companies VALUES ('COASTAL OIL HOLDINGS PTE LTD', '37 International Road S531598 #17-89', 'COASTALOILHOLDINGSPTELTD@hotmail.com');
INSERT INTO Companies VALUES ('KOON CONSTRUCTION & TRANSPORT CO PTE LTD', '30 Jalan Bahar S356218 #27-57', 'KOONCONSTRUCTIONTRANSPORTCOPTELTD@hotmail.com');
INSERT INTO Companies VALUES ('KUO PROPERTIES PTE LTD', '62 Jalan Setia S696509 #14-1', 'KUOPROPERTIESPTELTD@outlook.com');
INSERT INTO Companies VALUES ('ORCHARD PARADE HOLDINGS LTD', '16 Aljunied Avenue 4 S511986 #17-18', 'ORCHARDPARADEHOLDINGSLTD@outlook.com');
INSERT INTO Companies VALUES ('LEEFON 2000 PTE LTD', '44 Boon Lay Way S348732 #1-40', 'LEEFON2000PTELTD@outlook.com');
INSERT INTO Companies VALUES ('CHAMOXA OFFICE AUTOMATION (S) PTE LTD', '92 Jalan Gendang S587564 #6-95', 'CHAMOXAOFFICEAUTOMATIONSPTELTD@hotmail.com');
INSERT INTO Companies VALUES ('ERICSSON TELECOMMUNICATIONS PTE LTD', '3 Choa Chu Kang Street 53 S528691 #20-13', 'ERICSSONTELECOMMUNICATIONSPTELTD@gmail.com');
INSERT INTO Companies VALUES ('GROVEHILL PTE LTD', '54 Bain Street S275774 #10-73', 'GROVEHILLPTELTD@outlook.com');
INSERT INTO Companies VALUES ('CREST TRAVEL & TOURS PTE LTD', '37 Jalan Limau Nipis S397032 #13-67', 'CRESTTRAVELTOURSPTELTD@outlook.com');
INSERT INTO Companies VALUES ('NATSTEEL RECYCLING PTE LTD', '63 Nanyang Valley S399737 #15-84', 'NATSTEELRECYCLINGPTELTD@gmail.com');
INSERT INTO Companies VALUES ('PETROEAST SINGAPORE PTE LTD', '76 Jalan Dua S602340 #2-70', 'PETROEASTSINGAPOREPTELTD@gmail.com');
INSERT INTO Companies VALUES ('CELLINI DESIGN CENTER PTE LTD', '56 Frankel Walk S532132 #10-45', 'CELLINIDESIGNCENTERPTELTD@hotmail.com');
INSERT INTO Companies VALUES ('TONG AIK MARINE ENTERPRISE PTE LTD', '64 Jalan Ilmu S680707 #20-95', 'TONGAIKMARINEENTERPRISEPTELTD@outlook.com');
INSERT INTO Companies VALUES ('PDL INTERNATIONAL PTE LTD', '29 Pasir Ris Street 51 S394892 #19-19', 'PDLINTERNATIONALPTELTD@gmail.com');
INSERT INTO Companies VALUES ('DREWCORP SERVICES PTE LTD', '12 Rifle Range Road S347689 #8-41', 'DREWCORPSERVICESPTELTD@hotmail.com');
INSERT INTO Companies VALUES ('NICO STEEL SOLUTIONS (S) PTE LTD', '95 Hertford Road S327693 #17-1', 'NICOSTEELSOLUTIONSSPTELTD@outlook.com');
INSERT INTO Companies VALUES ('ORCHARD CREDIT (PTE) LTD', '55 Jalan Siantan S639712 #20-26', 'ORCHARDCREDITPTELTD@gmail.com');
INSERT INTO Companies VALUES ('BRIGHT PAPER CO PTE LTD', '8 Siglap Avenue S200198 #3-15', 'BRIGHTPAPERCOPTELTD@hotmail.com');
SET IDENTITY_INSERT Users ON;
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S4513401F', 'Jean Smith', 'O', '1999-08-07', 'Singapore', 89089341, 'TimWilkie@gmail.com', 21);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S8928050H', 'Kara Wright', 'M', '1974-05-12', 'Singapore', 93503365, 'PatriciaJohnson@gmail.com', 24);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('F3109328R', 'Dovie Yocum', 'M', '1938-06-05', 'UK', 85448203, 'JohnDufilho@hotmail.com', 25);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('T7146842E', 'Jo Edmonds', 'F', '1997-02-16', 'Singapore', 88045248, 'GeraldGuzman@hotmail.com', 22);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('T9916373E', 'Janet Bristol', 'O', '1984-08-21', 'Singapore', 98453832, 'DwayneNunn@hotmail.com', 29);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('G4379363U', 'Lisa Waller', 'M', '1983-03-07', 'Indonesia', 95381754, 'JamesPhan@hotmail.com', 28);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('T1551117B', 'Cherie Khensovan', 'F', '2001-01-24', 'Singapore', 95226097, 'VincentWarfield@outlook.com', 23);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('G3512210P', 'Stephanie Timmerman', 'F', '1960-08-31', 'Singapore', 94486023, 'JohnVivier@hotmail.com', 14);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S9291653G', 'John Romero', 'F', '1941-01-22', 'Singapore', 81223913, 'PeterBanks@gmail.com', 20);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S8503706D', 'Douglas Robinson', 'F', '2003-12-01', 'Singapore', 95186686, 'LindaSmith@hotmail.com', 22);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('F9996605W', 'Ivan Garner', 'O', '1977-10-20', 'Malaysia', 91188329, 'SashaChasse@outlook.com', 7);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('F4464067T', 'Mary Roswick', 'M', '1959-06-04', 'Malaysia', 81952094, 'AnthonyBedeau@gmail.com', 24);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S7667164H', 'Kathy Chan', 'M', '1950-12-06', 'Indonesia', 95470056, 'AnnaKimsey@hotmail.com', 14);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S6917778F', 'David Elizondo', 'M', '1980-06-24', 'Thailand', 90775831, 'WilliamStevens@hotmail.com', 27);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S7696266I', 'Martina Lennon', 'F', '2001-05-21', 'Singapore', 98371093, 'SarahWooten@gmail.com', 14);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S4556192E', 'Alex Beaton', 'M', '1966-02-28', 'Singapore', 81069354, 'ErnestDaigle@outlook.com', 23);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('T1211517I', 'Thomas Ferguson', 'M', '1952-12-12', 'Singapore', 88762830, 'CurtisHayes@hotmail.com', 24);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S2296776B', 'Loren Camacho', 'O', '1944-03-23', 'Singapore', 85330548, 'SeleneJosefy@hotmail.com', 11);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S0313439C', 'Waylon Dolce', 'M', '1969-01-01', 'Vietnam', 92121246, 'WilliamAcosta@outlook.com', 18);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S8133834E', 'Virginia Goldsmith', 'F', '1943-11-05', 'Singapore', 97610213, 'FrederickVillanueva@hotmail.com', 18);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('F0487635X', 'Aline Alcorn', 'F', '1994-03-25', 'China', 88250168, 'VickyStanley@gmail.com', 2);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S6424356Z', 'Rose Reese', 'F', '1953-04-03', 'Singapore', 82301380, 'TonyFellman@gmail.com', 28);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('F4329617P', 'Timothy Wernimont', 'M', '1936-04-10', 'Singapore', 92980336, 'TammySteger@gmail.com', 26);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('G6322196T', 'Michael Rogalski', 'O', '1967-09-28', 'Thailand', 88269349, 'CarmenRios@gmail.com', 8);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S3690084I', 'Shaun Mouzon', 'F', '1960-02-11', 'Malaysia', 91507304, 'EllenHallum@hotmail.com', 12);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S6431039I', 'Michael Donohoe', 'M', '1973-01-27', 'Singapore', 94582427, 'AdamNunez@outlook.com', 8);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S8681375J', 'Michelle Collins', 'O', '1956-06-07', 'Singapore', 97362312, 'HelenJames@hotmail.com', 23);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('T9356182H', 'Billie Lancon', 'F', '1961-12-16', 'Singapore', 98309846, 'RichardDecker@hotmail.com', 9);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('T2800641H', 'Harry Bernier', 'O', '2001-07-20', 'UK', 96854797, 'OpalScrabeck@gmail.com', 9);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S9282760G', 'Gary Stump', 'O', '1978-01-10', 'Singapore', 98112916, 'CharlesCox@gmail.com', 18);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S3052534E', 'Sally Laroche', 'O', '1984-05-13', 'Indonesia', 96564587, 'JessicaHale@hotmail.com', 28);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S1952113C', 'John Bauman', 'F', '1979-04-15', 'Indonesia', 85091929, 'TaylorRizzio@gmail.com', 28);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S4055080A', 'Lois Welty', 'F', '1934-06-01', 'UK', 87676164, 'EvelynKadis@outlook.com', 19);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('T7770561E', 'Donald Laster', 'M', '1936-04-24', 'Singapore', 94960113, 'BethHamilton@outlook.com', 18);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S3890719J', 'Michael Sparks', 'M', '1970-11-29', 'Singapore', 88387045, 'HollyJackson@outlook.com', 21);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S0825633J', 'Luke Gibson', 'F', '1959-09-02', 'China', 95502210, 'AlanCastillo@gmail.com', 8);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('F8393034U', 'Rickey Day', 'O', '1998-01-10', 'Indonesia', 88950661, 'JoanneCastaneda@gmail.com', 11);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S5337409C', 'Vernon Hawley', 'F', '1934-08-28', 'Vietnam', 88329411, 'LarryBallintyn@gmail.com', 24);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S3435841I', 'Anita Nguyen', 'F', '1981-07-22', 'Indonesia', 89134112, 'MiguelOrtiz@outlook.com', 26);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S4929837D', 'Lauren Cook', 'F', '1997-06-10', 'UK', 84960075, 'RobertVillanueva@gmail.com', 13);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S1155343E', 'Doris Matthews', 'M', '1996-07-09', 'Singapore', 84632161, 'BrockAcosta@hotmail.com', 28);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S3160517B', 'Ivy Williams', 'F', '1935-04-21', 'UK', 98699166, 'JamesWhitney@hotmail.com', 18);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S1660507G', 'David Doubet', 'O', '1932-10-03', 'Singapore', 90652659, 'JulieTalley@gmail.com', 22);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S4610540J', 'Dwight Pool', 'O', '2003-06-15', 'UK', 87741224, 'RaulAquilar@hotmail.com', 22);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S6849117G', 'Tim Perkins', 'F', '1993-01-05', 'Singapore', 82698716, 'JohnRinck@outlook.com', 22);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('F1831527X', 'Delbert Taylor', 'M', '1984-09-19', 'Singapore', 98593546, 'PatrickWendell@outlook.com', 27);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S8121674F', 'Maria Chatcho', 'F', '1931-09-25', 'Singapore', 98628560, 'PhillisRoudebush@gmail.com', 2);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('T1703406A', 'John Soder', 'M', '1945-07-16', 'UK', 98127340, 'FranciscoRussell@hotmail.com', 20);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S4252546D', 'Joan Musante', 'O', '1953-02-28', 'Vietnam', 88856493, 'AmandaMontes@hotmail.com', 18);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S2516784H', 'Mark Lemmon', 'O', '1940-08-27', 'Singapore', 86885721, 'BrianWashington@outlook.com', 4);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S7549043G', 'Joshua Garcia', 'F', '1933-11-23', 'Thailand', 84179012, 'RuthKirkwood@outlook.com', 9);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S6226647C', 'Russel Cieslik', 'O', '1951-12-30', 'Singapore', 86689580, 'ChristinaMorley@hotmail.com', 15);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S0420732G', 'Margaret Johnson', 'O', '1999-10-10', 'Singapore', 84551015, 'JamieEddy@gmail.com', 18);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('T6774220B', 'Nellie Mallari', 'M', '1996-05-14', 'Singapore', 88663052, 'NormaSisson@outlook.com', 24);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('T6648324F', 'Jose Benton', 'F', '1981-03-22', 'Thailand', 99819256, 'VickiMayfield@hotmail.com', 25);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('G1928813M', 'Gary Angelo', 'O', '2000-01-07', 'Malaysia', 95775824, 'BarbaraDean@gmail.com', 18);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('T2507825F', 'Robert Campbell', 'O', '1950-12-26', 'Indonesia', 91408196, 'CarolynConklin@gmail.com', 21);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S4546686H', 'Jason Wortman', 'F', '1948-01-30', 'Singapore', 98295062, 'JohnBoxer@hotmail.com', 19);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S6146942G', 'Stephen Haines', 'O', '1987-01-24', 'China', 84146101, 'EdgarPoe@gmail.com', 19);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S0777624A', 'Joshua Lopez', 'O', '1984-01-26', 'Vietnam', 99937802, 'MarcellaSjogren@hotmail.com', 5);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S3424299B', 'Marry Olesky', 'O', '1930-01-11', 'Singapore', 94959736, 'DerrickFoster@hotmail.com', 22);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('F3642115X', 'Laverne Mora', 'M', '1978-03-18', 'Thailand', 82045277, 'WayneCarter@hotmail.com', 3);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S5482245F', 'Emogene Stringer', 'F', '1995-11-05', 'Singapore', 80578518, 'BradfordCarew@hotmail.com', 13);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('F9489461K', 'Josephine Hardeman', 'F', '1981-09-30', 'Singapore', 87202453, 'CharlesForman@gmail.com', 12);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('G6394470Q', 'Donald Donelson', 'F', '1972-10-24', 'Singapore', 83797610, 'DebraDoughty@hotmail.com', 13);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S0406338D', 'Darin Brown', 'F', '1964-08-06', 'Singapore', 91188019, 'ElmerBess@gmail.com', 5);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('T3518247G', 'Roosevelt Marrero', 'F', '1981-05-28', 'Singapore', 96764486, 'JulietaTomlinson@hotmail.com', 26);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S5290691A', 'Craig Niedzwiecki', 'F', '1938-05-01', 'Singapore', 84776208, 'NathanielVandekieft@outlook.com', 25);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('F0893906M', 'Louis Brown', 'O', '1966-09-29', 'Singapore', 81117795, 'JulianQueen@hotmail.com', 29);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('G9053734U', 'Charles Sheridan', 'M', '1990-10-08', 'Indonesia', 93548079, 'JefferyAnderson@gmail.com', 19);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S6438612C', 'Su Hodges', 'F', '1956-10-03', 'Singapore', 98485548, 'StacyHolland@hotmail.com', 2);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('T5908324J', 'Carolyn Pertsovsky', 'M', '1990-03-02', 'UK', 85894449, 'EstelleRegan@gmail.com', 20);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S5263571C', 'Veda Machin', 'F', '1999-02-21', 'Singapore', 91052229, 'NancyCarter@gmail.com', 25);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('T0591842H', 'Terra Totten', 'M', '1969-02-12', 'Indonesia', 94032311, 'JamesDestefano@hotmail.com', 30);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('F1741841Q', 'Phillip Martin', 'M', '1993-02-12', 'Singapore', 98782242, 'AdamRiley@hotmail.com', 10);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('S0315244H', 'Melvin Bui', 'F', '1945-04-04', 'Singapore', 94416618, 'YvetteBarnard@gmail.com', 13);
INSERT INTO Users(user_id, fullname, sex, birthday, hometown, phone_number, email, company_id) VALUES ('F1019016U', 'William Christin', 'O', '1984-07-26', 'China', 81180877, 'NormaBurman@outlook.com', 8);